{% extends 'base.html' %}
{% load profile_tags %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'profile:home' %}">Личный кабинет</a></li>
					{% block extra_breadcrumbs %}
						<li class="active">{% block breadcrumb_title %}{% endblock %}</li>
					{% endblock %}
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
          <header class="content-title">
            <h1 class="title">Личный кабинет{% if request.user.is_seller %} {{ request.user.company_name }}{% endif %}</h1>
          </header>
					<div class="tab-container left clearfix" style="margin-top: 30px;">
						<ul class="nav-tabs clearfix">
							{% get_profile_slug as get_profile_slug_response %}
							{% for profile_slug, show_link in get_profile_slug_response %}
								{% if request.user.is_seller %}
									<li class="{% if profile_slug == 'seller_orders' %}active{% endif %}"><a href="{% url 'profile:seller-orders' %}"{% if not show_link and profile_slug == 'seller_orders' %} data-toggle="tab"{% endif %}>Заказанные товары</a></li>
									<li class="{% if profile_slug == 'products' %}active{% endif %}"><a href="{% url 'profile:products' %}"{% if not show_link and profile_slug == 'products' %} data-toggle="tab"{% endif %}>Управление товарами</a></li>
									<li class="{% if profile_slug == 'invoice' %}active{% endif %}"><a href="{% url 'profile:invoice' %}"{% if not show_link and profile_slug == 'invoice' %} data-toggle="tab"{% endif %}>Заказ накладных</a></li>
									<li class="{% if profile_slug == 'documents' %}active{% endif %}"><a href="{% url 'profile:documents' %}"{% if not show_link and profile_slug == 'documents' %} data-toggle="tab"{% endif %}>Заказ документов</a></li>
								{% endif %}
								{% if request.user.get_carts.count or request.user.profile_type == 'human' %}
									<li class="{% if profile_slug == 'orders' %}active{% endif %}"><a href="{% url 'profile:orders' %}"{% if not show_link and profile_slug == 'orders' %} data-toggle="tab"{% endif %}>Мои заказы</a></li>
								{% endif %}
								{% if request.user.favorites.count or request.user.profile_type == 'human' %}
									<li class="{% if profile_slug == 'wishlist' %}active{% endif %}"><a href="{% url 'profile:wishlist' %}"{% if not show_link and profile_slug == 'wishlist' %} data-toggle="tab"{% endif %}>Мои желания</a></li>
								{% endif %}
{#								<li class="{% if profile_slug == 'reviews' %}active{% endif %}"><a href="{% url 'profile:reviews' %}"{% if not show_link and profile_slug == 'reviews' %} data-toggle="tab"{% endif %}>Мои отзывы</a></li>#}
								<li class="{% if profile_slug == 'edit' %}active{% endif %}"><a href="{% url 'profile:edit' %}"{% if not show_link and profile_slug == 'edit' %} data-toggle="tab"{% endif %}>Редактировать профиль</a></li>
								<li class="{% if profile_slug == 'remove' %}active{% endif %}"><a href="{% url 'profile:remove' %}"{% if not show_link and profile_slug == 'remove' %} data-toggle="tab"{% endif %}>Удалить профиль</a></li>
							{% endfor %}
						</ul>

						<div class="tab-content clearfix">
							<div class="tab-pane active" id="active">
								{% block tab_content %}{% endblock %}
							</div><!-- End .tab-pane -->

						</div><!-- End .tab-content -->
					</div><!-- End .tab-container -->
				</div><!-- End .col-md-12 -->
			</div>
		</div>
	</section>
{% endblock %}