{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_documents.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_documents.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_documents.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Заказ документов для юр.лица{% endblock %}

{% block tab_content %}
    <h3>Заказ документов для юр.лица</h3>
    <p>Закажите документы для вашего юридического лица.<br/>Документы будут доставлены курьером.</p>
    <div class="row" style="margin-top: 20px; height: 300px;">
      <form action="{{ request.path }}" method="post" class="ajax_form show_field_errors do_not_reset">
        {% csrf_token %}
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="alert alert-success" style="display: none;">
            <strong>Запрос отправлен!</strong> Мы свяжемся с вами в самое ближайшее время.
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon"><span class="input-icon input-icon-company"></span><span class="input-text">Компания&#42;</span></span>
                <input type="text" name="company_name" value="{{ request.user.company_name }}" required class="form-control" placeholder="Название компании">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон&#42;</span></span>
                <input type="text" name="phone" value="{{ request.user.phone }}" required class="form-control" placeholder="Телефон">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                <input type="text" name="email" value="{{ request.user.email }}" required class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="input-group textarea-container">
              <span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес&#42;</span></span>
              <textarea name="address" required class="form-control" cols="30" rows="5" placeholder="Адрес">{{ request.user.get_address }}</textarea>
            </div>
            <input type="submit" value="ОТПРАВИТЬ" class="btn btn-custom-2 md-margin" style="float: right; margin-top: -10px;">
        </div>
      </form>
    </div>
    {% if request.user.documentsrequest_set.count %}
        <h5>Заказы</h5>
        <table class="table products-table">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Номер заказа</th>
                    <th>Компания</th>
                    <th>Телефон</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for request in request.user.documentsrequest_set.all %}
                    <tr>
                        <td>{{ request.datetime|date:"d.m.Y" }}</td>
                        <td>№{{ request.id }}</td>
                        <td>{{ request.company_name }}</td>
                        <td>{{ request.phone }}</td>
                        <td>{{ request.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
