{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_edit.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_edit.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_edit.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Редактировать профиль{% endblock %}

{% block tab_content %}
	<h3>Редактировать профиль</h3>
	{% if request.user.profile_type == 'human' %}
		{% include 'profile/include/edit_human.html' with profile=request.user %}
	{% else %}
		{% include 'profile/include/edit_company.html' with profile=request.user %}
	{% endif %}
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
          $('input[name="new_password"]').pstrength();
        });
    </script>
{% endblock %}
