{% extends 'profile/base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ seo_settings.profile_orders.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_orders.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_orders.get_meta_keyw }}{% endblock %}

{% block extra_breadcrumbs %}
	<li><a href="{% url 'profile:orders' %}">Мои заказы</a></li>
	<li class="active">Заказ №{{ order.id }}</li>
{% endblock %}

{% block tab_content %}
	<a href="{% url 'profile:orders' %}">< Назад</a>
	<hr/>
	<h3>Заказ №{{ order.id }} ({{ order.checkout_date|date:"d.m.Y" }})</h3>
	<table class="table cart-table">
		<thead>
			<tr>
				<th class="table-title">Наименование</th>
				<th class="table-title">Код товара</th>
				<th class="table-title">Цена</th>
				<th class="table-title">Количество</th>
				<th class="table-title">Всего</th>
			</tr>
		</thead>
		<tbody>
			{% for b_item in order.cartitem_set.all %}
				<tr>
					<td class="item-name-col">
						<figure>
							{% thumbnail b_item.product.get_cover.image '180x180' crop='center' as thumb %}
								<a href="{{ b_item.product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ b_item.product.title }}"></a>
							{% endthumbnail %}
						</figure>
						<header class="item-name"><a href="{{ b_item.product.get_absolute_url }}">{{ b_item.product.title }}</a></header>
						{% if b_item.color_title %}
							<ul>
								<li>Цвет: {{ b_item.color_title }}</li>
							</ul>
						{% endif %}
					</td>
					<td class="item-code">{{ b_item.product_id }}</td>
					<td class="item-price-col"><span class="item-price-special">{{ b_item.price }}</span></td>
					<td>
						<span>{{ b_item.quantity }}</span>
					</td>
					<td class="item-total-col"><span class="item-price-special">{{ b_item.total_price }}</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
