{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_orders.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_orders.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_orders.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Мои заказы{% endblock %}

{% block tab_content %}
	<h3>Мои заказы</h3>
	{% if request.user.get_carts.count %}
		<table class="table cart-table">
			<thead>
				<tr>
					<th class="table-title">Дата</th>
					<th class="table-title">Номер заказа</th>
					<th class="table-title">Сумма</th>
					<th class="table-title">Статус заказа</th>
					<th class="table-title">Номер отслеживания</th>
					<th class="table-title"></th>
				</tr>
			</thead>
			<tbody>
				{% for cart in request.user.get_carts %}
					<tr>
						<td>{{ cart.checkout_date|date:"d.m.Y" }}</td>
						<td>№{{ cart.id }}</td>
						<td>{{ cart.summary }} тнг.</td>
						<td>{{ cart.get_status }}</td>
						<td>{{ cart.tracking_number|default:"-" }}</td>
						<td><a href="{{ cart.get_order_url }}">Подробнее</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Здесь ничего нет</p>
	{% endif %}
{% endblock %}
