{% extends 'profile/base.html' %}
{% load staticfiles %}

{% block meta_title %}{{ seo_settings.profile_products.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_products.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_products.get_meta_keyw }}{% endblock %}

{% block extra_breadcrumbs %}
	<li><a href="{% url 'profile:products' %}">Управление товарами</a></li>
	<li><a href="{{ product.get_profile_product_url }}">{{ product.title }}</a></li>
	<li class="active">Изменить цвета</li>
{% endblock %}

{% block tab_content %}
	<a href="{{ product.get_profile_product_url }}">< Назад</a>
	<hr/>
	<h3>Изменить цвета товара {{ product.title }}</h3>
	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		<div class="alert alert-success"{% if not success %} style="display: none;"{% endif %}>{{ success|safe }}</div>
		<div class="alert alert-danger"{% if not error %} style="display: none;"{% endif %}>{{ error|safe }}</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<fieldset style="margin-bottom: 30px;">
					<div class="color-item-template-container" style="display: none;">
						<div id="color-item-template" class="color-item">
							<div class="input-group">
								<span class="input-group-addon"><span class="input-text">Цвет&#42;</span></span>
								<input type="text" name="color[x]" class="form-control input-lg color_select" value="#ffffff">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-text">Название&#42;</span></span>
								<input type="text" name="color_name[x]" class="color_name form-control input-lg" placeholder="Название цвета товара">
							</div>
							<div class="input-group color_remove_button">
								<button type="button" class="add-product-remove-color" class="btn btn-default">Удалить цвет</button>
							</div>
						</div>
					</div>
					<div class="colors-box">
						{% for color in product.colors.all %}
							<div class="color-item">
								<div class="input-group">
									<span class="input-group-addon"><span class="input-text">Цвет&#42;</span></span>
									<input type="text" name="color[{{ forloop.counter0 }}]" class="form-control input-lg color_select" value="{{ color.hex_value }}" required>
								</div>
								<div class="input-group">
									<span class="input-group-addon"><span class="input-text">Название&#42;</span></span>
									<input type="text" name="color_name[{{ forloop.counter0 }}]" required class="color_name form-control input-lg" placeholder="Название цвета товара" value="{{ color.title }}">
								</div>
								<div class="input-group color_remove_button">
									<button type="button" class="add-product-remove-color" class="btn btn-default">Удалить цвет</button>
								</div>
							</div>
						{% endfor %}
					</div>
				</fieldset>
				<div class="input-group">
					<button type="button" id="add-product-add-color" class="btn btn-custom-3">Добавить еще один цвет</button>
					<input style="margin-left: 10px;" type="submit" value="СОХРАНИТЬ" class="btn btn-success">
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/minicolor/jquery.minicolors.min.js' %}"></script>
	<script>
		var $colors_box = $('.colors-box');

		$colors_box.find('.color-item').each(function() {
			$('.color_select', $(this)).minicolors({theme: 'bootstrap'});
		});

		$('.color_select', $('#color-item-template')).minicolors({theme: 'bootstrap'});
		var colors_counter = {{ product.colors.count|default:0 }};

		$('#add-product-add-color').on('click', function(){
			var color_item = $('#color-item-template').clone();
			color_item.attr('id', '');

			var color_input = $('.color_select', color_item);
			color_input.minicolors('destroy');
			color_input.val('#ffffff');
			color_input.attr('name', 'color['+colors_counter+']');
			color_input.minicolors({theme: 'bootstrap'});
			color_input.attr('required', true);

			var color_name = $('.color_name', color_item);
			color_name.attr('name', 'color_name['+colors_counter+']');
			color_name.val('');
			color_name.attr('required', true);

			var color_remove_button = $('.color_remove_button', color_item);
			color_remove_button.show();

			var color_box = $('.colors-box');
			color_box.append(color_item);

			colors_counter++;
		});

	    $colors_box.on('click', '.add-product-remove-color', function(){
			var color_item = $(this).parent().parent();
			color_item.remove();
			colors_counter--;

			$colors_box.find('.color-item').each(function(i) {
				var item = $(this);
				$('.color_select', item).attr('name', 'color[' + i + ']');
				$('.color_name', item).attr('name', 'color_name[' + i + ']');
			});
		});
	</script>
{% endblock %}
