{% extends 'profile/base.html' %}
{% load core_tags staticfiles %}

{% block meta_title %}{{ seo_settings.profile_products.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_products.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_products.get_meta_keyw }}{% endblock %}

{% block extra_breadcrumbs %}
	<li><a href="{% url 'profile:products' %}">Управление товарами</a></li>
	<li><a href="{{ product.get_profile_product_url }}">{{ product.title }}</a></li>
	<li class="active">Изменить товар</li>
{% endblock %}

{% block tab_content %}
	<a href="{{ product.get_profile_product_url }}">< Назад</a>
	<hr/>
	<h3>Изменить товар {{ product.title }}</h3>
	<form action="{{ request.path }}" method="post">
		{% csrf_token %}
		<div class="alert alert-success"{% if request.GET.r != 'success1' %} style="display: none;"{% endif %}>Информация успешно обновлена и появится на сайте после проверки модератором.</div>
		<div class="alert alert-success"{% if request.GET.r != 'success2' %} style="display: none;"{% endif %}>Информация успешно обновлена! Товар появится на сайте после проверки модератором.</div>
		<div class="alert alert-success"{% if request.GET.r != 'success3' %} style="display: none;"{% endif %}>Информация успешно обновлена! Для публикации товара добавьте его <a href="{% url 'profile:product-edit-images' product.id %}">изображения</a>.</div>
		<div class="alert alert-info"{% if request.GET.r != 'info' %} style="display: none;"{% endif %}>Изменений не было.</div>
		<div class="alert alert-info"{% if request.GET.r != 'info1' %} style="display: none;"{% endif %}>Информация успешно обновлена. Вы изменили категорию товара, поэтому он появится на сайте после проверки модератором.</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<fieldset>
					<div class="help-block input-error">{{ form.non_field_errors }}</div>
					<div class="help-block input-error">{{ form.category.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Категория&#42;</span></span>
						{{ form.category }}
					</div>
					<div class="help-block input-error">{{ form.title_new.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Название&#42;</span></span>
						<input type="text" name="title_new" value="{{ form.title_new.value|default:'' }}" required class="form-control input-lg" placeholder="Название товара">
					</div>
					<div class="help-block input-error">{{ form.article.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Код&#42;</span></span>
						<input type="text" name="article" value="{{ form.article.value|default:product.id }}" required class="form-control input-lg" placeholder="Код товара">
					</div>
					<div class="help-block input-error">{{ form.quantity_new.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Количество&#42;</span></span>
						<input type="number" name="quantity_new" value="{{ form.quantity_new.value|default:'' }}" required class="form-control input-lg" placeholder="Количество единиц товара">
					</div>
					<div class="help-block input-error">{{ form.price_new.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Цена&#42;</span></span>
						<input type="text" name="price_new" value="{{ product.price_new|default:''|to_str }}" required class="form-control input-lg" placeholder="Цена товара">
					</div>
					<div class="help-block input-error">{{ form.new_price_new.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Скидочная цена</span></span>
						<input type="text" name="new_price_new" value="{{ product.new_price_new|default:''|to_str }}" class="form-control input-lg" placeholder="Скидочная цена">
					</div>
					<div class="help-block input-error">{{ form.delivery_type_new.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Тип доставки&#42;</span></span>
						{{ form.delivery_type_new }}
					</div>
					<div class="help-block input-error">{{ form.condition_new.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Состояние товара&#42;</span></span>
						{{ form.condition_new }}
					</div>
					<div id="attr_fields">
						{% if form.category.value %}
							{% include 'profile/include/category_fields.html' with category_id=form.category.value %}
						{% endif %}
					</div>
				</fieldset>
				
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<fieldset>
					<div class="help-block input-error">{{ form.description_new.errors }}</div>
					<div class="input-group">
						<!--<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Описание&#42;</span></span>-->
						<p><span class="input-text" style="color: #ef4043">Описание&#42;</span></p>
						<textarea name="description_new" required class="form-control input-lg" style="height: 262px;">{{form.description_new.value|default:''}}</textarea>
					</div>
				</fieldset>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<fieldset>
					<div class="help-block input-error">{{ form.meta_title.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">SEO заголовок<br>страницы</span></span>
						<input type="text" name="meta_title" value="{{ form.meta_title.value|default:'' }}" class="form-control input-lg" placeholder="Meta title (заголовок страницы)">
					</div>
					<div class="help-block input-error">{{ form.meta_description.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">SEO описание<br>страницы</span></span>
						<input type="text" name="meta_description" value="{{ form.meta_description.value|default:'' }}" class="form-control input-lg" placeholder="Meta title (заголовок страницы)">
					</div>
					<div class="help-block input-error">{{ form.meta_keywords.errors }}</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">SEO ключевые<br> слова <small>(через запятую)</small></span></span>
						<input type="text" name="meta_keywords" value="{{ form.meta_keywords.value|default:'' }}" class="form-control input-lg" placeholder="Meta title (заголовок страницы)">
					</div>
				</fieldset>
				<div class="input-group" style="top: -50px;">
					<input type="submit" value="СОХРАНИТЬ" class="btn btn-success">
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block extra_js %}
	<script>
		$('#id_category').change(function() {
			var category_id = $(this).val(),
				base_url = "{% url 'shop:get-category-attrs' 0 %}",
				url = base_url.replace('/0/', '/' + category_id + '/');
			$.get(url, {}, function(res) {
				$('#attr_fields').html(res);
			});
		});
	</script>
{% endblock %}
