{% extends 'profile/base.html' %}
{% load staticfiles thumbnail %}

{% block meta_title %}{{ seo_settings.profile_related.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_related.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_related.get_meta_keyw }}{% endblock %}

{% block extra_breadcrumbs %}
    <li><a href="{% url 'profile:products' %}">Управление товарами</a></li>
    <li><a href="{{ product.get_profile_product_url }}">{{ product.title }}</a></li>
    <li class="active">Изменить связанные товары</li>
{% endblock %}

{% block tab_content %}
    <a href="{{ product.get_profile_product_url }}">< Назад</a>
    <hr/>
    <h3>Изменить связанные товары</h3>
    <p class="title-desc" style="white-space: normal;">
        Вы можете обновить блок "С этим товаром также покупают" на странице товара "{{ product.title }}".
    </p>
    <div id="favoriteproducts_block_account">
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            <div class="alert alert-success"{% if not success %} style="display: none;"{% endif %}>{{ success|safe }}</div>
            <div class="alert alert-danger"{% if not error %} style="display: none;"{% endif %}>{{ error|safe }}</div>
            <div class="row">
                <div class="col-md-12">
                    <div class="xs-margin"></div>
                    <ul class="row" id="favorite_items">
                        {% for p in product.seller_all_another_products %}
                            <li class="col-md-7 col-sm-7 col-xs-12 favorite_item related_item{% if p in product.related.all %} checked{% endif %}">
                                <div class="favoriteproduct clearfix inner-content">
                                    <a class="product_img_link" href="{% if p.show %}{{ p.get_absolute_url }}{% else %}#{% endif %}">
                                        {% with p.get_cover as cover %}
                                            {% thumbnail cover.image '125x125' crop='center' as cover_thumb %}
                                                <img src="{{ cover_thumb.url }}" alt="{{ cover.title|default:p.title }}">
                                            {% endthumbnail %}
                                        {% endwith %}
                                    </a>
                                    <p class="s_title_block">
                                        <a href="{% if p.show %}{{ p.get_absolute_url }}{% else %}#{% endif %}">{{ p.title }}</a>
                                    </p>
                                    <div class="product_desc">{{ p.description|linebreaksbr }}</div>
                                    <div class="remove">
                                        <input type='checkbox' name='related' value='{{ p.id }}'{% if p in product.related.all %} checked{% endif %}>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $('.related_item').click(function(){
            var $item = $(this),
                $checkbox = $item.find('input[type="checkbox"]');

            $checkbox.prop("checked", !$checkbox.prop("checked"));
            if ($item.hasClass('checked')) {
                $item.removeClass('checked');
            } else {
                $item.addClass('checked');
            }
        });

        $('.related_item input[type="checkbox"]').click(function(e){
            e.preventDefault();
            e.stopPropagation();
        });

        $('.related_item a').click(function(e){
            e.preventDefault();
            e.stopPropagation();
        });
    </script>
{% endblock %}
