{% extends 'profile/base.html' %}
{% load staticfiles %}

{% block meta_title %}{{ seo_settings.profile_products.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_products.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_products.get_meta_keyw }}{% endblock %}

{% block extra_breadcrumbs %}
	<li><a href="{% url 'profile:products' %}">Управление товарами</a></li>
	<li><a href="{{ product.get_profile_product_url }}">{{ product.title }}</a></li>
	<li class="active">Изменить изображения</li>
{% endblock %}

{% block tab_content %}
	<a href="{{ product.get_profile_product_url }}">< Назад</a>
	<hr/>
	<h3>Изменить изображения товара {{ product.title }}</h3>

	<div id="image-input-div-template" class="input-group" style="display: none;">
		<span class="input-group-addon"><span class="input-text">Изображение <span class="image_number" data-number="7">7</span></span></span>
		<input type="file" name="image" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
	</div>

	<form action="{{ request.path }}" method="post" enctype="multipart/form-data" class="images_form">
		<div class="alert alert-success"{% if not success %} style="display: none;"{% endif %}>{{ success|safe }}</div>
		<div class="alert alert-danger"{% if not error %} style="display: none;"{% endif %}>{{ error|linebreaksbr }}</div>
		{% csrf_token %}
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<fieldset class="images_fieldset">
					{% for image in product.images.all %}
						<div class="input-group">
							<span class="input-group-addon"><span class="input-text">Изображение <span class="image_number" data-number="{{ forloop.counter }}">{{ forloop.counter }}</span>{% if forloop.counter == 1 %}&#42;{% endif %}</span></span>
							<img src="{{ image.image.url }}">
							<button type="button" class="btn btn-default btn-block remove_image_button" style="color: #428bca;" data-image-id="{{ image.id }}">Удалить</button>
						</div>
					{% endfor %}
					{% for number in images_range %}
						<!-- <div class="help-block input-error">{{ errors.image1 }}</div> -->
						<div class="input-group">
							<span class="input-group-addon"><span class="input-text">Изображение <span class="image_number" data-number="{{ number }}">{{ number }}</span>{% if number == 1 %}&#42;{% endif %}</span></span>
							<input type="file" name="image"{% if number == 1 %} required{% endif %} class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
						</div>
					{% endfor %}
				</fieldset>
				<div class="input-group">
					<input type="submit" value="СОХРАНИТЬ" class="btn btn-success">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
			</div>
		</div>
	</form>


{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/underscore-min.js' %}"></script>

	<script>
		var colors_counter = {{ product.pictures.count|default:1 }};

		$('.remove_image_button').on('click', function(){
			var $button = $(this),
				image_id = $button.attr('data-image-id'),
				$form = $('.images_form'),
				$div = $button.parent(),
				image_number = parseInt($div.find('span.image_number').text());

	        $div.slideUp('normal', function(){
				$form.prepend('<input type="hidden" name="removed_image" value="' + image_id + '">')

				console.log(image_number);
				if (image_number < 7) {
					var range = _.range(image_number + 1, 8);
					console.log(range);

					jQuery.each(range, function(i, old_number) { 
						console.log(i + ' ' + old_number);
						var new_number = old_number - 1;
							$span = $form.find('.image_number[data-number="' + old_number + '"]'),
							$div = $span.parent().parent().parent(),
							$input = $div.find('input');

						console.log(new_number, $span, $div, $input);

						$span.text(new_number);
						$span.attr('data-number', new_number);
						// $input.attr('name', 'image'+new_number);
						if (new_number == 1) {
							$span.after('&#42;');
							$input.prop('required', true);
						}
					})
				}

				var image_div = $('#image-input-div-template').clone();
				image_div.attr('id', '');
				$('.images_fieldset').append(image_div);
				image_div.show();
	        });
		});
	</script>
{% endblock %}
