{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_products.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_products.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_products.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Управление товарами{% endblock %}

{% block tab_content %}
	<div class="alert alert-success"{% if not removed_product %} style="display: none;"{% endif %}>Товар "{% if removed_product %}{{ removed_product.title|default:removed_product.title_new }}" удален.{% endif %}</div>
	<h3>Управление товарами</h3>

	<div class="col-md-6 col-sm-6 col-xs-12" style="padding: 0;">
		<a href="{% url 'shop:add' %}" type="submit" class="btn btn-success md-margin">Добавить товар</a>
	</div>

	{% if request.user.product_set.count %}
		<table class="table products-table">
			<thead>
				<tr>
					<th class="table-title">Код товара</th>
					<th class="table-title">Товар</th>
					<th class="table-title">Цена</th>
					<th class="table-title">Количество</th>
					<th class="table-title">Статус</th>
					<th class="table-title"></th>
				</tr>
			</thead>
			<tbody>
				{% for product in request.user.product_set.all %}
					<tr>
						<td>{{ product.article|default:product.id }}</td>
						<td>
							<header class="item-name" style="text-align: center;">
								{% if not product.removed and product.show %}
									<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
								{% else %}
									<span class="item-name-auto-style">{{ product.title }}</span>
								{% endif %}
							</header>
						</td>
						<td>{% if not product.new_price %}{{ product.price }}{% else %}<s>{{ product.price }}</s><br/>{{ product.new_price }}{% endif %}</td>
						<td>{{ product.quantity|default:"нет в наличии" }}</td>
						<td>{% if product.removed %}Удален{% elif not product.show %}Не опубликован{% elif not product.apply_changes %}Изменен, ждет одобрения{% else %}Опубликован{% endif %}</td>
						<td>
							<a href="{{ product.get_profile_product_url }}">Редактировать</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
