{% extends 'profile/base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ seo_settings.profile_products.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_products.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_products.get_meta_keyw }}{% endblock %}

{% block extra_breadcrumbs %}
	<li><a href="{% url 'profile:products' %}">Управление товарами</a></li>
	<li class="active">{{ product.title }}</li>
{% endblock %}

{% block tab_content %}
	<a href="{% url 'profile:products' %}">< Назад</a>
	<hr/>
	{% if product.get_cover %}
		<div class="row" style="{% if not product.get_cover %}height: 100px;{% else %}{% endif %}">
			<div class="col-md-6 col-sm-12 col-xs-12 product-viewer clearfix">
				<div id="product-image-container">
					<figure>
						{% if product.is_new %}<span class="new-rect">New</span>{% endif %}
						{% if product.get_discount %}<span class="discount-rect">-{{ product.get_discount }}%</span>{% endif %}
						{% if product.show %}<a href="{{ product.get_absolute_url }}">{% endif %}<img src="{% thumbnail product.get_cover.image '800' upscale=False as cover %}{{ cover.url }}{% endthumbnail %}" data-zoom-image="{{ product.get_cover.image.url }}" alt="{{ product.get_cover.title|default:product.title }}" id="product-image">
						<figcaption class="item-price-container">
							{% if product.new_price %}
								<span class="old-price">{{ product.show_price }}</span>
								<span class="item-price">{{ product.show_new_price }}</span>
							{% else %}
								<span class="item-price">{{ product.show_price }}</span>
							{% endif %}
						</figcaption>
						{% if product.show %}</a>{% endif %}
					</figure>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4"{% if product.get_cover %} style="margin-left: 50px;"{% endif %}>
				<a href="{% url 'profile:product-edit' product.id %}" class="btn btn-default btn-block">Изменить товар</a>
				<a href="{% url 'profile:product-edit-images' product.id %}" class="btn btn-default btn-block">Изменить изображения</a>
				<a href="{% url 'profile:product-edit-colors' product.id %}" class="btn btn-default btn-block">Изменить цвета</a>
				<a href="{% url 'profile:product-edit-related' product.id %}" class="btn btn-default btn-block">Изменить связанные товары</a>
			</div>
		</div>
	{% endif %}

	<div class="col-md-6 col-sm-12 col-xs-12 product" style="padding: 0">
		<div class="lg-margin visible-sm visible-xs"></div>
		{% if product.show %}<a href="{{ product.get_absolute_url }}"><h3 class="product-name" style="margin-bottom: 10px;">{{ product.title }}</h3></a>
		{% else %}<h3 class="product-name" style="margin-bottom: 10px;">{{ product.title }}</h3>
		{% endif %}
		<div class="ratings-container">
			<div class="ratings separator">
				<div class="ratings-result" data-result="{{ product.reviews_average }}"></div>
			</div>
			<span class="ratings-amount separator">
				отзывов: {{ product.reviews.count }}
			</span>
		</div>
		<ul class="product-list">
			<li><span>Статус:</span>{% if product.removed %}Удален{% elif not product.show %}Не опубликован{% elif not product.apply_changes %}Изменен, ждет одобрения{% else %}Опубликован{% endif %}</li>
			<br/>
			<li><span>Код товара:</span>{{ product.id }}</li>
			<li><span>Категория:</span>{{ product.category.title }}</li>
			<li><span>Цена:</span>{% if not product.new_price %}{{ product.price }} тнг.{% else %}<s>{{ product.price }}</s> {{ product.new_price }} тнг.{% endif %}</li>
			<li><span>Количество:</span>{{ product.quantity|default:"нет в наличии" }}</li>
			{% for attr in product.show_attrs %}
				{% if forloop.first %}<br/>{% endif %}
				{{ attr|safe }}
			{% endfor %}
		</ul>
		<br/>
		{% if product.colors.count %}
			<div class="product-color-filter-container">
				<span>Цвета:</span>
				<div class="xs-margin"></div>
				<ul class="filter-color-list clearfix">
					{% for color in product.colors.all %}
						<li><span data-bgcolor="{{ color.hex_value }}" class="filter-color-box"></span></li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-product">Удалить товар</button>
		<hr/>
	</div>
	{% if not product.get_cover %}
		<div class="col-md-4 col-sm-4 col-xs-4">
			<a href="{% url 'profile:product-edit' product.id %}" class="btn btn-default btn-block">Изменить товар</a>
			<a href="{% url 'profile:product-edit-images' product.id %}" class="btn btn-default btn-block">Изменить изображения</a>
			<a href="{% url 'profile:product-edit-colors' product.id %}" class="btn btn-default btn-block">Изменить цвета</a>
		</div>
	{% endif %}
{% endblock %}

{% block popups %}
	<div class="modal fade" id="remove-product" tabindex="-1" role="dialog" aria-labelledby="remove-product" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel3">Удаление товара</h4>
				</div><!-- End .modal-header -->
				<div class="modal-body">
					<p>Удаление товара - необратимая вещь. Вы уверены, что хотите это сделать?</p>
				</div><!-- End .modal-body -->
				<form action="{{ request.path }}" method="post" class="remove_profile_form">
					{% csrf_token %}
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
						<button type="submit" class="btn btn-danger">Удалить</button>
					</div><!-- End .modal-footer -->
				</form>
			</div><!-- End .modal-content -->
		</div><!-- End .modal-dialog -->
	</div>
{% endblock %}
