{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_remove.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_remove.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_remove.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Удалить профиль{% endblock %}

{% block tab_content %}
	<h3>Удалить профиль</h3>
	<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-profile">Удалить профиль</button>
{% endblock %}

{% block popups %}
	<div class="modal fade" id="remove-profile" tabindex="-1" role="dialog" aria-labelledby="remove-profile" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel3">Удаление профиля</h4>
				</div><!-- End .modal-header -->
				<div class="modal-body">
					<p>Удаление профиля - необратимая вещь. Вы уверены, что хотите это сделать?</p>
				</div><!-- End .modal-body -->
				<form action="{{ request.path }}" method="post" class="remove_profile_form">
					{% csrf_token %}
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
						<button type="submit" class="btn btn-danger">Удалить</button>
					</div><!-- End .modal-footer -->
				</form>
			</div><!-- End .modal-content -->
		</div><!-- End .modal-dialog -->
	</div>
{% endblock %}