{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_reviews.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_reviews.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_reviews.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Мои отзывы{% endblock %}

{% block tab_content %}
	<h3>Мои отзывы</h3>
	<p>Здесь ничего нет</p>
{% endblock %}
