{% extends 'profile/base.html' %}

{% block meta_title %}{{ seo_settings.profile_seller_orders.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_seller_orders.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_seller_orders.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Заказанные у нас товары{% endblock %}

{% block tab_content %}
	<h3>Заказанные у нас товары</h3>
	{% if cart_items.count %}
		<table class="table cart-table" id="seller_orders_table">
			<thead>
				<tr>
					<th class="table-title">Дата</th>
					<th class="table-title">Номер заказа</th>
					<th class="table-title">Код товара</th>
					<th class="table-title">Товар</th>
					<th class="table-title">Цвет</th>
					<th class="table-title">Цена</th>
					<th class="table-title">Количество</th>
					<th class="table-title">Всего</th>
				</tr>
			</thead>
			<tbody>
				{% for item in cart_items %}
					<tr>
						<td>{{ item.cart.checkout_date|date:"d.m.Y" }}</td>
						<td>№{{ item.cart.id }}</td>
						<td>{{ item.product_id }}</td>
						<td>
							<header class="item-name" style="text-align: center;">
								{% if not item.product.removed %}
									<a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a>
								{% else %}
									<span>{{ item.product.title }}</span>
								{% endif %}
							</header>
						</td>
						<td>{% if item.color_title %}{{ item.color_title }}{% endif %}</td>
						<td>{{ item.price }} тнг.</td>
						<td>{{ item.quantity }}</td>
						<td>{{ item.total_price }} тнг.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>Здесь ничего нет</p>
	{% endif %}
{% endblock %}
