{% extends 'profile/base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ seo_settings.profile_wishlist.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.profile_wishlist.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.profile_wishlist.get_meta_keyw }}{% endblock %}

{% block breadcrumb_title %}Мои желания{% endblock %}

{% block tab_content %}
	<div id="favoriteproducts_block_account">
		<h3>Список моих желаний</h3>
		{% if request.user.get_favorites.count %}
			<ul class="row" id="favorite_items">
				{% for product in request.user.get_favorites %}
					<li class="col-xs-12 favorite_item">
						<div class="favoriteproduct clearfix inner-content">
							<a class="product_img_link" href="{{ product.get_absolute_url }}">
								{% with product.get_cover as cover %}
									{% thumbnail cover.image '125x125' crop='center' as cover_thumb %}
										<img src="{{ cover_thumb.url }}" alt="{{ cover.title|default:product.title }}">
									{% endthumbnail %}
								{% endwith %}
							</a>
							<p class="s_title_block">
								<a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
							</p>
							<div class="product_desc">{{ product.description|linebreaksbr }}</div>
							<div class="remove">
								<a href="#" class="remove_from_favorites" data-remove-url="{% url 'profile:remove-from-favorites' %}" data-id="{{ product.id }}">
									<i class="icon-remove"></i>
								</a>
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
		<p class="empty"{% if request.user.get_favorites.count > 0 %} style="display: none;"{% endif %}>Здесь ничего нет</p>
	</div>
{% endblock %}
