{% extends 'base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ seo_settings.cart.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.cart.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.cart.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
	<div id="breadcrumb-container">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li class="active">Корзина</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<header class="content-title">
					<h1 class="title">Корзина</h1>
					<p class="title-desc">Товары, которые Вы собираетесь купить.</p>
				</header>
				<div class="xs-margin"></div>
				<div class="row">
					<div class="col-md-12 table-responsive">
						<table class="table cart-table">
							<thead>
								<tr>
									<th class="table-title">Наименование</th>
									<th class="table-title">Код</th>
									<th class="table-title">Цена</th>
									<th class="table-title">Количество</th>
									<th class="table-title">Всего</th>
								</tr>
							</thead>
							<tbody>
								{% for b_item in basket.cartitem_set.all %}
									<tr>
										<td class="item-name-col">
											<figure>
												{% thumbnail b_item.product.get_cover.image '180x180' crop='center' as thumb %}
													<a href="{{ b_item.product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ b_item.product.title }}"></a>
												{% endthumbnail %}
											</figure>
											<header class="item-name"><a href="{{ b_item.product.get_absolute_url }}">{{ b_item.product.title }}</a></header>
											{% if b_item.color_title %}
												<ul>
													<li>Цвет: {{ b_item.color_title }}</li>
												</ul>
											{% endif %}
										</td>
										<td class="item-code">{{ b_item.product_id }}</td>
										<td class="item-price-col"><span class="item-price-special">{{ b_item.price }}</span></td>
										<td>
											<div class="custom-quantity-input">
												<input type="text" name="quantity" value="{{ b_item.quantity }}" data-id="{{ b_item.product_id }}" data-color-id="{{ b_item.color_id }}">
												<a href="#" onclick="return false;" class="quantity-btn quantity-input-up cart"><i class="fa fa-angle-up"></i></a>
												<a href="#" onclick="return false;" class="quantity-btn quantity-input-down cart"><i class="fa fa-angle-down"></i></a>
											</div>
										</td>
										<td class="item-total-col"><span class="item-price-special">{{ b_item.total_price }}</span>
										<a href="javascript:void(0);" data-referrer="basket-cart-page" data-id="{{ b_item.product_id }}" data-color-id="{{ b_item.color_id }}" class="close-button delete-from-basket"></a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<div class="lg-margin"></div>
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12">

						<table class="table total-table">
							<tbody>
								<tr>
									<td class="total-table-title">Всего:</td>
									<td class="total-table-label">{{ basket_data.total_price }}</td>
								</tr>
								<tr>
									<td class="total-table-title">Доставка:</td>
									<td>0.00</td>
								</tr>
								<tr>
									<td class="total-table-title">Налог (0%):</td>
									<td>0.00</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td>Итого:</td>
									<td class="total-table-label">{{ basket_data.total_price }}</td>
								</tr>
							</tfoot>
						</table>
						<div class="md-margin"></div>
						<a href="{% url 'shop:home' %}" class="btn btn-custom-2">ПРОДОЛЖИТЬ ПОКУПКИ</a>
						{% if request.user.is_authenticated %}
							<a href="{% url 'cart:checkout' %}"{% if basket.cartitem_set.count == 0 %} disabled{% endif %} class="btn btn-custom checkout-header-button">ОФОРМИТЬ</a>
						{% else %}
							<button{% if basket.cartitem_set.count == 0 %} disabled{% endif %} data-toggle="modal" data-target="#checkout-login-popup" class="btn btn-custom checkout-header-button">ОФОРМИТЬ</button>
						{% endif %}

					</div>
				</div>
				<div class="md-margin2x"></div>
			</div>
		</div>
	</div>
</section>

{% endblock %}