{% extends 'base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ seo_settings.checkout.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.checkout.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.checkout.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
	<div id="breadcrumb-container">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li class="active">Оформление заказа</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<header class="content-title">
			<h1 class="title">Оформление заказа</h1>
		</header>
		<div class="xs-margin"></div><!-- space -->
		<form class="ajax_form show_field_errors alert_at_errors popup_at_success" action="{% if request.GET.t == 'with_registration' %}{% url 'cart:checkout-registration' %}{% else %}{% url 'cart:checkout' %}{% endif %}" id="checkout-form" method="post">
			{% csrf_token %}
			{# Персональные данные #}
			 <div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h2 class="checkout-title">Персональная информация</h2>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
						<input type="text" name="first_name" value="{{ request.user.first_name|default:'' }}" required class="form-control input-lg" placeholder="Ваше имя">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Фамилия&#42;</span></span>
						<input type="text" name="last_name" value="{{ request.user.last_name|default:'' }}" required class="form-control input-lg" placeholder="Ваша фамилия">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
						<input type="text" name="email" value="{{ request.user.email|default:'' }}" required class="form-control input-lg" placeholder="Ваш email">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон&#42;</span></span>
						<input type="text" name="phone" value="{{ request.user.phone|default:'' }}" required class="form-control input-lg" placeholder="Ваш телефон">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон №2</span></span>
						<input type="text" name="phone2" value="{{ request.user.phone2|default:'' }}" class="form-control input-lg" placeholder="Дополнительный телефон (не обязательно)">
					</div>
					{% if request.GET.t == 'with_registration' %}
						<div class="input-group">
							<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
							<input type="password" name="password1" required class="form-control input-lg" placeholder="Ваш пароль">
						</div>
						<div class="input-group">
							<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
							<input type="password" name="password2" required class="form-control input-lg" placeholder="Повторите пароль">
						</div>
					{% endif %}
				</div><!-- End .col-md-6 -->

				{# Адрес #}
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h2 class="checkout-title">Ваш адрес</h2>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-postcode"></span><span class="input-text">Почтовый код&#42;</span></span>
						<input type="text" name="postal_code" value="{{ request.user.postal_code|default:'' }}" required class="form-control input-lg" placeholder="Почтовый код">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-country"></span><span class="input-text">Страна&#42;</span></span>
						<input type="text" name="country" value="{{ request.user.country|default:'' }}" required class="form-control input-lg" placeholder="Страна">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-region"></span><span class="input-text">Регион&#42;</span></span>
						<input type="text" name="region" value="{{ request.user.region|default:'' }}" required class="form-control input-lg" placeholder="Регион">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-city"></span><span class="input-text">Город&#42;</span></span>
						<input type="text" name="city" value="{{ request.user.city|default:'' }}" required class="form-control input-lg" placeholder="Город">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес&#42;</span></span>
						<input type="text" name="address1" value="{{ request.user.address1|default:'' }}" required class="form-control input-lg" placeholder="Адрес">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес №2</span></span>
						<input type="text" name="address2" value="{{ request.user.address2|default:'' }}" class="form-control input-lg" placeholder="Адрес №2 (не обязательно)">
					</div>
				</div><!-- End .col-md-6 -->

			</div><!-- End .row -->

			{# Тип доставки #}
			<div class="row" style="margin-top: 40px;">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<h2 class="checkout-title">Тип доставки</h2>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-postcode"></span><span class="input-text">Тип доставки&#42;</span></span>
						{{ form.delivery_type }}
					</div>
					<div class="md-margin"></div>
				</div><!-- End .col-md-8 -->
			</div><!-- End .row -->

			{# Тип оплаты #}
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<h2 class="checkout-title">Тип оплаты</h2>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Тип оплаты&#42;</span></span>
						{{ form.payment_type }}
					</div>
					<div class="md-margin"></div>
				</div><!-- End .col-md-8 -->
			</div><!-- End .row -->

			{# Подтверждение заказа #}
			<h2 class="checkout-title">Подтверждение заказа</h2>
			<div class="table-responsive">
				<table class="table checkout-table">
					<thead>
						<tr>
							<th class="table-title">Наименование</th>
							<th class="table-title">Код</th>
							<th class="table-title">Цена</th>
							<th class="table-title">Количество</th>
							<th class="table-title">Всего</th>
						</tr>
					</thead>
					<tbody>
						{% for b_item in basket.cartitem_set.all %}
							<tr>
								<td class="item-name-col">
									<figure>
										{% thumbnail b_item.product.get_cover.image '180x180' crop='center' as thumb %}
											<a href="{{ b_item.product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ b_item.product.title }}"></a>
										{% endthumbnail %}
									</figure>
									<header class="item-name"><a href="{{ b_item.product.get_absolute_url }}">{{ b_item.product.title }}</a></header>
									{% if b_item.color_title %}
										<ul>
											<li>Цвет: {{ b_item.color_title }}</li>
										</ul>
									{% endif %}
								</td>
								<td class="item-code">{{ b_item.product_id }}</td>
								<td class="item-price-col"><span class="item-price-special">{{ b_item.price }}</span></td>
								<td>
									<div class="custom-quantity-input">
										<input type="text" name="quantity" value="{{ b_item.quantity }}" data-id="{{ b_item.product_id }}" data-color-id="{{ b_item.color_id }}">
										<a href="#" onclick="return false;" class="quantity-btn quantity-input-up cart"><i class="fa fa-angle-up"></i></a>
										<a href="#" onclick="return false;" class="quantity-btn quantity-input-down cart"><i class="fa fa-angle-down"></i></a>
									</div>
								</td>
								<td class="item-total-col"><span class="item-price-special">{{ b_item.total_price }}</span>
								<a href="javascript:void(0);" data-referrer="basket-cart-page" data-id="{{ b_item.product_id }}" data-color-id="{{ b_item.color_id }}" class="close-button delete-from-basket"></a>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td class="checkout-table-title" colspan="4">Всего:</td>
							<td class="checkout-table-price total-table-label">{{ basket_data.total_price }}</td>
						</tr>
						<tr>
							<td class="checkout-table-title" colspan="4">Доставка:</td>
							<td class="checkout-table-price">0.00</td>
						</tr>
						<tr>
							<td class="checkout-table-title" colspan="4">Налог (0%):</td>
							<td class="checkout-table-price">0.00</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td class="checkout-total-title" colspan="4"><strong>Итого:</strong></td>
							<td class="checkout-total-price cart-total total-table-label"><strong>{{ basket_data.total_price }}</strong></td>
						</tr>
					</tfoot>
				</table>

			</div><!-- End .table-reponsive -->
			<div class="lg-margin"></div><!-- space -->
			<div class="text-right">
				<input type="submit" class="btn btn-custom-2" value="ПОДТВЕРДИТЬ ЗАКАЗ">
			</div>

		</form>
		<div class="xlg-margin"></div><!-- space -->
	</div><!-- End .container -->
</section>
{% endblock %}

{% block popups %}
	<div class="modal fade" id="order-success" tabindex="-1" role="dialog" aria-labelledby="order-success" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel3">Спасибо за заказ на Alazone!</h4>
				</div><!-- End .modal-header -->
				<div class="modal-body"></div><!-- End .modal-body -->
				<div class="modal-footer" style="text-align: left;">
					<p>Через 5 секунд вы будете перенаправлены на главную страницу.</p>
				</div><!-- End .modal-footer -->
			</div><!-- End .modal-content -->
		</div><!-- End .modal-dialog -->
	</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
          $('input[name="password1"]').pstrength();
        });
    </script>
{% endblock %}
