{% extends "base.html" %}

{% block meta_title %}{{ seo_settings.activaton.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.activaton.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.activaton.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Активация</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Активация</h1>
                    <div class="md-margin"></div>
                </header>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Ошибка активации</h2>
                        <p>
                            Код активации неправильный.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
