{% extends "base.html" %}

{% block meta_title %}{{ seo_settings.login.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.login.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.login.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Вход</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Войти или зарегистрироваться</h1>
                    <div class="md-margin"></div>
                </header>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Новый пользователь</h2>
                    <p>
                        Создав аккаунт в нашем магазине, вы сможете быстрее оформлять заказы,
                        использовать несколько адресов доставки, просматривать статусы Ваших заказов
                        и многое другое.
                    </p>
                    <div class="md-margin"></div>
                    <a href="/auth/register/" class="btn btn-custom-2">Создать аккаунт покупателя</a>
                    <div class="lg-margin"></div>
                    <p>
                        Если Вы юридическое лицо или индивидуальный предприниматель, и Вы хотите продавать
                        товары на нашем сайте, то Вам необходимо зарегистрироваться как Продавец.
                    </p>
                    <div class="md-margin"></div>
                    <a href="{% url 'seller_registration_register' %}" class="btn btn-custom-2">Создать аккаунт продавца</a>
                    <div class="lg-margin"></div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h2>Зарегистрированные пользователи</h2>
                        <p>Если у Вас уже есть аккаунт, пожалуйста, войдите.</p>
                        <div class="xs-margin"></div>

                        <form method="post" action=".">
                            {% csrf_token %}
                            <div class="help-block input-error">{{ form.non_field_errors }}</div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                <input type="text" name="username" value="{{form.username.value|default:''}}" required class="form-control input-lg" placeholder="Ваш Email">
                            </div>
                            <div class="help-block input-error">{{ form.password.errors }}</div>
                            <div class="input-group xs-margin">
                                <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
                                <input type="password" name="password" required class="form-control input-lg" placeholder="Ваш пароль">
                            </div>
                        <span class="help-block text-right"><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></span>
                        <button class="btn btn-custom-2">ВОЙТИ</button>
                        </form>
                        <div class="sm-margin"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}