{% extends "base.html" %}

{% block meta_title %}{{ seo_settings.registration.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.registration.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.registration.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Регистрация</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Регистрация завершена. На указанный Вами почтовый ящик было выслано письмо со ссылкой
                на активацию Вашего аккаунта. Пожалуйста, проверьте почту и пройдите по ссылке.
            </div>
        </div>
    </div>
</section>
{% endblock %}
