{% extends "base.html" %}

{% block meta_title %}{{ seo_settings.registration.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.registration.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.registration.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
    <div id="breadcrumb-container">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">Регистрация</li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <header class="content-title">
                    <h1 class="title">Регистрация аккаунта покупателя</h1>
                    <p class="title-desc">Если вы уже зарегистрированы, пожалуйста, <a href="/auth/login/">войдите</a>.</p>
                    <p class="title-desc">Если вы хотите зарегистрироваться как продавец, то вам <a href="{% url 'seller_registration_register' %}">сюда</a>.</p>
                </header>
                <div class="xs-margin"></div>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <fieldset>
                                <h2 class="sub-title">ПЕРСОНАЛЬНЫЕ ДАННЫЕ</h2>
                                <div class="help-block input-error">{{ form.first_name.errors }}</div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
                                    <input type="text" name="first_name" value="{{form.first_name.value|default:''}}" required class="form-control input-lg" placeholder="Ваше имя">
                                </div>
                                <div class="help-block input-error">{{ form.last_name.errors }}</div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Фамилия&#42;</span></span>
                                    <input type="text" name="last_name" value="{{form.last_name.value|default:''}}" required class="form-control input-lg" placeholder="Ваша фамилия">
                                </div>
                                <div class="help-block input-error">{{ form.email.errors }}</div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
                                    <input type="text" name="email" value="{{form.email.value|default:''}}" required class="form-control input-lg" placeholder="Ваш email">
                                </div>
                                <div class="help-block input-error">{{ form.phone.errors }}</div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон</span></span>
                                    <input type="text" name="phone" value="{{form.phone.value|default:''}}" class="form-control input-lg" placeholder="Ваш телефон (не обязательно)">
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <fieldset>
                                <h2 class="sub-title">ВАШ ПАРОЛЬ</h2>
                                <p>Пароль должен быть минимум из 6 символов.</p>
                                <div class="help-block input-error">{{ form.password1.errors }}</div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
                                    <input type="password" name="password1" required class="form-control input-lg" placeholder="Ваш пароль">
                                </div>
                                <div class="help-block input-error">{{ form.password2.errors }}</div>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
                                    <input type="password" name="password2" required class="form-control input-lg" placeholder="Повторите пароль">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="submit" value="СОЗДАТЬ АККАУНТ ПОКУПАТЕЛЯ" class="btn btn-custom-2 md-margin">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
          $('input[name="password1"]').pstrength();
        });
    </script>
{% endblock %}
