{% extends "base.html" %}

{% block meta_title %}{{ seo_settings.seller_registration.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.seller_registration.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.seller_registration.get_meta_keyw }}{% endblock %}

{% block content %}
<section id="content">
	<div id="breadcrumb-container">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="/">Главная</a></li>
				<li class="active">Регистрация продавца</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<header class="content-title">
					<h1 class="title">Регистрация аккаунта продавца</h1>
					<p class="title-desc">Если вы уже зарегистрированы, пожалуйста, <a href="/auth/login/">войдите</a>.</p>
					<p class="title-desc">Если вы хотите зарегистрироваться как покупатель, то вам <a href="/auth/register/">сюда</a>.</p>
				</header>
				<div class="xs-margin"></div><!-- space -->
				<form action="." method="post" enctype="multipart/form-data">
					{% csrf_token %}
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<fieldset>
							<h2 class="sub-title">ПЕРСОНАЛЬНЫЕ ДАННЫЕ ПРОДАВЦА</h2>
							<div class="help-block input-error">{{ form.company_name.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-company"></span><span class="input-text">Компания&#42;</span></span>
								<input type="text" name="company_name" value="{{form.company_name.value|default:''}}" required class="form-control input-lg" placeholder="Название компании">
							</div>
							<div class="help-block input-error">{{ form.image.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-text">Изображение</span></span>
								<input type="file" name="image" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif" style="padding: 0;">
							</div>
							<div class="help-block input-error">{{ form.first_name.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
								<input type="text" name="first_name" value="{{form.first_name.value|default:''}}" required class="form-control input-lg" placeholder="Имя руководителя">
							</div>
							<div class="help-block input-error">{{ form.last_name.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Фамилия&#42;</span></span>
								<input type="text" name="last_name" required value="{{form.last_name.value|default:''}}" class="form-control input-lg" placeholder="Фамилия руководителя">
							</div>
							<div class="help-block input-error">{{ form.email.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
								<input type="text" name="email" required value="{{form.email.value|default:''}}" class="form-control input-lg" placeholder="Email">
							</div>
							<div class="help-block input-error">{{ form.phone.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон&#42;</span></span>
								<input type="text" name="phone" value="{{form.phone.value|default:''}}" required class="form-control input-lg" placeholder="Телефон">
							</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон №2</span></span>
								<input type="text" name="phone2" value="{{form.phone2.value|default:''}}" class="form-control input-lg" placeholder="Дополнительный телефон (не обязательно)">
							</div>
						</fieldset>
						<fieldset>
							<h2 class="sub-title">ПАРОЛЬ</h2>
							<p>Пароль должен быть минимум из 6 символов.</p>
							<div class="help-block input-error">{{ form.password1.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
								<input type="password" name="password1" required class="form-control input-lg" placeholder="Пароль">
							</div>
							<div class="help-block input-error">{{ form.password2.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
								<input type="password" name="password2" required class="form-control input-lg" placeholder="Повторите пароль">
							</div>
						</fieldset>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<fieldset>
							<h2 class="sub-title">АДРЕСНЫЕ ДАННЫЕ ПРОДАВЦА</h2>
							<div class="help-block input-error">{{ form.postal_code.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-postcode"></span><span class="input-text">Почтовый код</span></span>
								<input type="text" name="postal_code" value="{{form.postal_code.value|default:''}}" class="form-control input-lg" placeholder="Почтовый код">
							</div>
							<div class="help-block input-error">{{ form.country.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-country"></span><span class="input-text">Страна&#42;</span></span>
{#								<input type="text" name="country" value="{{form.country.value|default:''}}" required class="form-control input-lg" placeholder="Страна">#}
								{{ form.country }}
							</div>
							<div class="help-block input-error">{{ form.region.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-region"></span><span class="input-text">Регион&#42;</span></span>
{#								<input type="text" name="region" value="{{form.region.value|default:''}}" required class="form-control input-lg" placeholder="Регион">#}
								{{ form.region }}
							</div>
							<div class="help-block input-error">{{ form.city.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-city"></span><span class="input-text">Город&#42;</span></span>
								<input type="text" name="city" value="{{form.city.value|default:''}}" required class="form-control input-lg" placeholder="Город">
							</div>
							<div class="help-block input-error">{{ form.address1.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес&#42;</span></span>
								<input type="text" name="address1" value="{{form.address1.value|default:''}}" required class="form-control input-lg" placeholder="Адрес (строка 1)">
							</div>
							<div class="help-block input-error">{{ form.address2.errors }}</div>
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес №2</span></span>
								<input type="text" name="address2" value="{{form.address2.value|default:''}}" class="form-control input-lg" placeholder="Адрес (строка 2)">
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<input type="submit" value="СОЗДАТЬ АККАУНТ ПРОДАВЦА" class="btn btn-custom-2 md-margin">
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function() {
          $('input[name="password1"]').pstrength();
        });
    </script>
{% endblock %}
