<div class="product_list">
	{% if products.count %}
		<div class="category-toolbar clearfix">
			<div class="toolbox-pagination clearfix">
				{% include 'include/inline_pagination.html' with ajax_container='product_list' %}
				<div class="sort-box">
					<span class="separator">сортировать по:</span>
					<div class="btn-group select-dropdown">
						<button type="button" class="btn select-btn order_by_title">{{ order_by.title }}</button>
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu" role="menu">
							{% for slug, title in order_by.choices %}
								<li><a href="#{{ slug }}" data-slug="{{ slug }}" class="order_by_choices">{{ title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="sm-margin"></div><!-- Space -->
		<div id="products-tabs-content" class="row tab-content">
			{% for product in products %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					{% include 'catalog/include/product.html' with product=product %}
				</div>
			{% endfor %}
		</div><!-- End #products-tabs-content -->

		<hr/>
		<div class="category-toolbar clearfix">
			<div class="toolbox-pagination clearfix">
				{% include 'include/inline_pagination.html' with ajax_container='product_list' %}
				<div class="sort-box">
					<span class="separator">сортировать по:</span>
					<div class="btn-group select-dropdown">
						<button type="button" class="btn select-btn order_by_title">{{ order_by.title }}</button>
						<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu" role="menu">
							{% for slug, title in order_by.choices %}
								<li><a href="#{{ slug }}" data-slug="{{ slug }}" class="order_by_choices">{{ title }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<h4 style="margin-top: 30px;">Не нашли то, что искали?</h4>
		<p class="title-desc" style="margin: 15px auto;">Впишите название товара и мы найдем его для вас.</p>
		<div class="row">
			<form action="{% url 'request-form' %}" class="ajax_form" method="post" id="search-form">
				{% csrf_token %}
				<div class="alert alert-success" style="display: none;">
					<strong>Запрос отправлен!</strong> Спасибо, мы с вами свяжемся.
				</div>
				{% if not request.user.is_anonymous %}<input type="hidden" name="profile" value="{{ request.user.id }}">{% endif %}
				<div class="col-md-12 col-sm-6 col-xs-12">
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Искомый товар&#42;</span></span>
						<input type="text" name="request" id="request-request" required class="form-control" placeholder="Искомый товар" value="{{ request.GET.q }}">
					</div><!-- End .input-group -->
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
						<input type="text" name="name" id="request-name" required class="form-control" placeholder="Ваше имя" value="{{ request.user.get_short_name }}">
					</div><!-- End .input-group -->
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Email&#42;</span></span>
						<input type="email" name="email" id="request-email" required class="form-control" placeholder="Ваш email" value="{{ request.user.email }}">
					</div><!-- End .input-group -->
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Телефон&#42;</span></span>
						<input type="text" name="phone" id="request-phone" required class="form-control" placeholder="Ваше имя" value="{{ request.user.phone|default:'' }}">
					</div><!-- End .input-group -->
					<input type="submit" value="ОТПРАВИТЬ" class="btn btn-custom-2">
				</div><!-- End .col-md-6 -->
			</form>
		</div>
	{% endif %}
	<div class="sidebar_example" style="display: none;">
		{% include 'include/search_sidebar.html' %}
	</div>
</div>
