{% load staticfiles thumbnail %}

<div id="slider-rev-container">
	<div id="slider-rev">
		<ul>
			{% for slide in slider %}
				{% if slide.slide_type == 1 %}
					<li data-transition="fade" data-slotamount="6" data-masterspeed="600" data-saveperformance="on"  data-title="{{ slide.title }}">
						<img src="{% static 'images/revslider/dummy.png' %}"  alt="slidebg1" data-lazyload="{% thumbnail slide.background '1920x600' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
						<div class="tp-caption rev-title lfr ltr" data-x="695" data-y="198" data-speed="1600" data-start="300" data-endspeed="300" style="color: {{ slide.title_color }};">{{ slide.title }}</div>

						<div class="description_container rev-text tp-caption lfr ltr" style="position: absolute;" data-x="695" data-y="252" data-speed="1600" data-start="600" data-endspeed="550">
							{% if slide.description %}<div style="margin-bottom: 10px; color: {{ slide.description_color }}; white-space: normal;">{{ slide.description|linebreaksbr }}</div>{% endif %}
							{% if slide.button_link and slide.button_title %}
								<div class="" data-speed="1600" data-start="900" data-endspeed="800">
									<a href="{{ slide.button_link }}"{% if slide.button_target_blank %} target="_blank"{% endif %} class="btn btn-custom-2">{{ slide.button_title }}</a>
								</div>
							{% endif %}
						</div>

						{% if slide.price %}
							<div class="tp-caption rev-price randomrotate randomrotateout" data-x="560" data-y="20" data-speed="1200" data-start="2000" data-endspeed="400">
								{{ slide.price }}
							</div>
						{% endif %}

						{% with slide.images as images %}
							{% if images.count %}
								<div class="tp-caption lfl ltl" data-x="center"  data-y="bottom"  data-hoffset="-230" data-speed="2000" data-start="500" data-endspeed="800">
									<img src="{% thumbnail images.all.0.image '640x589' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.0.show_title }}">
								</div>
							{% endif %}
						{% endwith %}
					</li>

				{% elif slide.slide_type == 2 %}
					<li data-transition="fade" data-slotamount="5" data-masterspeed="600" data-saveperformance="on"  data-title="Learn More">
						<img src="{% static 'images/revslider/dummy.png' %}"  alt="slidebg2" data-lazyload="{% thumbnail slide.background '1920x600' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
						<div class="tp-caption rev-title lfr ltr" data-x="755" data-y="238" data-speed="1600" data-start="750" data-endspeed="300" style="color: {{ slide.title_color }};">{{ slide.title }}</div>

						{% if slide.price %}
							<div class="tp-caption rev-price randomrotate randomrotateout" data-x="360" data-y="55" data-speed="1200" data-start="2000" data-endspeed="400">
								{{ slide.price }}
							</div>
						{% endif %}

						{% with slide.images as images %}
							{% if images.count %}
								<div class="tp-caption lfl ltl" data-x="center" data-y="center" data-hoffset="-204" data-speed="1750" data-start="400" data-endspeed="800">
									<img src="{% thumbnail images.all.0.image '802x471' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.0.show_title }}">
								</div>
								{% if images.count > 1 %}
									<div class="tp-caption lfr ltr" data-x="380" data-y="50" data-speed="1800" data-start="250" data-endspeed="800">
										<img src="{% thumbnail images.all.1.image '357x559' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.1.show_title }}">
									</div>
								{% endif %}
							{% endif %}
						{% endwith %}

						<div class="description_container tp-caption rev-text2 lfr ltr" style="position: absolute;" data-x="755" data-y="290" data-speed="1600" data-start="1050" data-endspeed="550">
							{% if slide.description %}<div style="margin-bottom: 10px; z-index: 5; color: {{ slide.description_color }}; white-space: normal;">{{ slide.description|linebreaksbr }}</div>{% endif %}
							{% if slide.button_link and slide.button_title %}
								<div>
									<a href="{{ slide.button_link }}"{% if slide.button_target_blank %} target="_blank"{% endif %} class="btn btn-custom-2">{{ slide.button_title }}</a>
								</div>
							{% endif %}
						</div>
					</li>

				{% else %}
					<li data-transition="fade" data-slotamount="4" data-masterspeed="600" data-saveperformance="on"  data-title="More Features">
						<img src="{% static 'images/revslider/dummy.png' %}"  alt="slidebg3" data-lazyload="{% thumbnail slide.background '1920x600' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

						{% with slide.images as images %}
							{% if images.count %}
								<div class="tp-caption sfr str" data-x="24" data-y="bottom" data-speed="900" data-start="500" data-endspeed="300">
									<img src="{% thumbnail images.all.0.image '545x405' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.0.show_title }}">
								</div>
								{% if images.count > 1 %}
									<div class="tp-caption sfl stl" data-x="613" data-y="325" data-speed="600" data-start="400" data-endspeed="300">
										<img src="{% thumbnail images.all.1.image '77x147' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.1.show_title }}">
									</div>
									{% if images.count > 2 %}
										<div class="tp-caption sfl stl" data-x="700" data-y="260" data-speed="800" data-start="800" data-endspeed="420">
											<img src="{% thumbnail images.all.2.image '101x206' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.2.show_title }}">
										</div>
										{% if images.count > 3 %}
											<div class="tp-caption sfl stl" data-x="788" data-y="95" data-speed="1000" data-start="1200" data-endspeed="540">
												<img src="{% thumbnail images.all.3.image '360x367' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ images.all.3.show_title }}">
											</div>
										{% endif %}
									{% endif %}
								{% endif %}
							{% endif %}
						{% endwith %}

						{% if slide.price %}
							<div class="tp-caption rev-price randomrotate randomrotateout" data-x="450" data-y="200" data-speed="1200" data-start="2000" data-endspeed="400">
								{{ slide.price }}
							</div>
						{% endif %}

						<div class="tp-caption rev-title sfr str" data-x="20" data-y="56" data-speed="600" data-start="1400" data-endspeed="200" style="color: {{ slide.title_color }};">{{ slide.title }}</div>

						<div class="description_container tp-caption rev-text long sfr str" style="position: absolute;" data-x="20" data-y="110" data-speed="600" data-start="1650" data-endspeed="300">
							{% if slide.description %}<div style="margin-bottom: 10px; color: {{ slide.description_color }}; white-space: normal;">{{ slide.description|linebreaksbr }}</div>{% endif %}
							{% if slide.button_link and slide.button_title %}
								<div>
									<a href="{{ slide.button_link }}"{% if slide.button_target_blank %} target="_blank"{% endif %} class="btn btn-custom-2">{{ slide.button_title }}</a>
								</div>
							{% endif %}
						</div>

					</li>

				{% endif %}
			{% endfor %}
		</ul>
	</div><!-- End #slider-rev -->
</div><!-- End #slider-rev-container -->
