{% load thumbnail %}

{% if latest_news.count %}
	<div class="widget latest-posts">
		<h3>Последние новости</h3>

		<div class="latest-posts-slider flexslider sidebarslider">
			<ul class="latest-posts-list clearfix">
				{% for p in latest_news %}
					<li>
						<a href="{{ p.get_absolute_url }}">
							<figure class="latest-posts-media-container">
								<img class="img-responsive" src="{% thumbnail p.cover '270x120' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ p.title }}">
							</figure>
						</a>
						<h4><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h4>
						{% if p.description %}
							{{ p.description|safe }}
						{% endif %}
						<div class="latest-posts-meta-container clearfix">
							<div class="pull-left">
								<a href="{{ p.get_absolute_url }}">Читать далее...</a>
							</div><!-- End .pull-left -->
							<div class="pull-right">
								{{ p.datetime|date:"d.m.Y" }}
							</div><!-- End .pull-right -->
						</div><!-- End .latest-posts-meta-container -->
					</li>
				{% endfor %}
			</ul>
		</div><!-- End .latest-posts-slider -->
	</div><!-- End .widget -->
{% endif %}
