{% load thumbnail %}

{% if banners.count %}
	<div class="widget banner-slider-container">
		<div class="banner-slider flexslider">
			<ul class="banner-slider-list clearfix">
				{% for b in banners %}
					{% if b.url %}
						<li><a href="{{ b.url }}"{% if b.target_blank %} target="_blank"{% endif %}><img src="{% thumbnail b.image '270x400' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ b.title }}"></a></li>
					{% else %}
						<li><img src="{% thumbnail b.image '270x400' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ b.title }}"></li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div><!-- End .widget -->
{% endif %}
