{% load thumbnail %}

{% if manufacturers.count %}
	<div id="brand-slider-container" class="carousel-wrapper">
		<header class="content-title">
			<div class="title-bg">
				<h2 class="title">Поставщики</h2>
			</div><!-- End .title-bg -->
		</header>
		<div class="carousel-controls">
			<div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
			</div><!-- End .carousel-prev -->
			<div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
			</div><!-- End .carousel-next -->
		</div><!-- End .carousel-controllers -->
		<div class="sm-margin"></div><!-- space -->
		<div class="row">
			<div class="brand-slider owl-carousel">
				{% for m in manufacturers %}
					{% if m.url %}
						<a href="{{ m.url }}"{% if m.target_blank %} target="_blank"{% endif %}><img src="{% thumbnail m.image '170x100' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ m.title }}"></a>
					{% else %}
						<img src="{% thumbnail m.image '170x100' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ m.title }}">
					{% endif %}
				{% endfor %}
			</div><!-- End .brand-slider -->
		</div><!-- End .row -->
	</div><!-- End #brand-slider-container -->
{% endif %}
