<ul class="pagination">
  {% if page_obj.pages|length > 1 %}
    {% for page in page_obj.pages %}
      {% if page %}
        <li{% ifequal page page_obj.number %} class="active"{% endifequal %}><a{% if ajax_container %} class="ajax_filter" data-ajax-containter="{{ ajax_container }}"{% endif %} href="?{{ page.querystring }}">{{ page }}</a></li>
      {% else %}
        <li><span>...</span></li>
      {% endif %}
    {% endfor %}
  {% endif %}
</ul>
