<div class="pagination-container clearfix">
  <div class="pull-left page-count">
    Страница {{ page_obj.number }} из {{ page_obj.pages|length }}
  </div><!-- End .pull-left -->

  {% if page_obj.pages|length > 1 %}
    <div class="pull-right">
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?{{ page_obj.previous_page_number.querystring }}"><i class="fa fa-angle-left"></i></a></li>
        {% endif %}
        {% for page in page_obj.pages %}
          {% if page %}
            <li{% ifequal page page_obj.number %} class="active"{% endifequal %}><a href="?{{ page.querystring }}">{{ page }}</a></li>
          {% else %}
            <li><span>...</span></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?{{ page_obj.next_page_number.querystring }}"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
      </ul>
    </div><!-- End .pull-right -->
  {% endif %}
</div><!-- End pagination-container -->
