{% load catalog_tags %}

{% get_count sidebar_category_counts cat.id as count %}
{% if count %}
    <li class="nomargin hiddable checker_container margin-{{ cat.level }}">
        <div class="checker">
            <span class="checker_span{% if cat.id in f.category_ids %} checked{% endif %}">
                <input type="checkbox" class="checkbox attr_checkbox _category"{% if cat.id in f.category_ids %} checked{% endif %} name="c" id="c_{{ cat.id }}" value="{{ cat.id }}">
            </span>
        </div>
        <label class="checker_label" for="c_{{ cat.id }}"><span class="checker_title">{{ cat.title }} ({{ count }})</span></label>
        {% if cat.shown_children.count %}
            <ul class="category-filter-list jscrollpane children_ul">
                {% for child in cat.shown_children %}
                    {% include 'include/search_sidebar_category.html' with cat=child %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endif %}