{% load catalog_tags content_tags staticfiles %}

<div class="widget">
    <div class="panel-group custom-accordion sm-accordion">
        <div class="panel">
            <div class="accordion-header">
            <div class="accordion-title"><span>Поиск</span></div>
                <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-0"></a>
            </div>
            <div id="category-list-0" class="collapse in">
                <div class="panel-body">
                    <div class="form-inline" id="header">
                        <input type="text" style="width: 80%;" class="form-control search_input" name="q" placeholder="Поиск товаров" value="{{ request.GET.q }}">
                        <div id="quick-search" class="btn btn-custom"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel aside_categories">
            <div class="accordion-header">
            <div class="accordion-title"><span>Категория</span></div>
                <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-1"></a>
            </div>
            <div id="category-list-1" class="collapse in">
                <div class="panel-body">
                    <ul class="category-filter-list jscrollpane">
                        {% for cat in root_categories %}
                            {% include 'include/search_sidebar_category.html' with cat=cat %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if f.category_ids|length %}
            <div class="aside_after_categories">
                <div class="panel">
                    <div class="accordion-header">
                        <div class="accordion-title"><span>Цена</span></div>
                        <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-3"></a>
                    </div>
                    <div id="category-list-3" class="collapse in">
                        <div class="panel-body">
                            <label for="price" class="price_label">Цена: </label><span class="price_range">{{ f.price.min|default:0 }} тнг. - {{ f.price.max }} тнг.</span>
                            <input class="price-slider" data-slider-id='priceSlider{% if category.use_home4 %}-pink{% endif %}' type="text" data-slider-min="{{ f.price_miminax.min|default:0 }}" data-slider-max="{{ f.price_minimax.max }}" data-slider-step="1" data-slider-value="[{{ f.price.min|default:0 }},{{ f.price.max }}]"/>
                            <input name="price" type="hidden" value="{% if f.filter_by_price %}{{ f.price.min|default:0 }}-{{ f.price.max }}{% endif %}"/>
                        </div>
                    </div>
                </div>
                {% if f.color_set|length %}
                    <div class="panel">
                        <div class="accordion-header">
                            <div class="accordion-title"><span>Цвет</span></div>
                            <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-4"></a>
                        </div>
                        <div id="category-list-4" class="collapse in">
                            <div class="panel-body">
                                <ul class="filter-color-list clearfix">
                                    {% for color in f.color_set %}
                                        <li class="nomargin hiddable">
                                            <input class="color-option filter-color-box color_button{% if color in f.colors__hex_value__in %} on{% endif %}" type="button" data-bgcolor="#{{ color }}" data-color="{{ color }}" name="color" id="color_{{ forloop.counter }}">
                                            {% if color in f.colors__hex_value__in %}<input type="hidden" name="color" value="{{ color }}">{% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for a in f.attrs_with_values %}
                    <div class="panel">
                        <div class="accordion-header">
                            <div class="accordion-title"><span>{{ a.attr.kwargs.verbose_name }}</span></div>
                            <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-{{ a.attr.name }}"></a>
                        </div>
                        <div id="category-list-{{ a.attr.name }}" class="collapse in">
                            <div class="panel-body">
                                <ul class="clearfix">
                                    {% for value in a.values %}
                                        {% is_value_in_filter f.attrs_filter a.attr.name a.attr.class value as is_checked %}
                                        <li class="nomargin hiddable checker_container">
                                            <div class="checker">
                                                <span class="checker_span{% if is_checked %} checked{% endif %}">
                                                    <input type="checkbox" class="checkbox attr_checkbox"{% if is_checked %} checked{% endif %} name="e_{{ a.attr.name }}" id="e_{{ a.attr.name }}-{{ forloop.counter }}" value="{% if a.attr.class == 'BooleanField' %}{% if value == 'Да' %}True{% elif value == 'Нет' %}False{% else %}{{ value }}{% endif %}{% else %}{{ value }}{% endif %}">
                                                </span>
                                            </div>
                                            <label class="checker_label" for="e_{{ a.attr.name }}-{{ forloop.counter }}"><span class="checker_title">{{ value }}</span></label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
