<div class="widget subscribe">
    <h3>НЕ НАШЛИ ТОВАР?</h3>
    <p>«Мы найдем для вас любой товар – напишите нам.</p>
    <form action="{% url 'request-form' %}" method="post" id="search-form" class="ajax_form">
        {% csrf_token %}
        <div class="alert alert-success success_message" style="display: none;">
            <strong>Запрос отправлен!</strong> Спасибо, мы с вами свяжемся.
        </div>
        <div class="form-group">
            <input type="text" name="request" class="form-control" required placeholder="Искомый товар" value="{{ request.GET.q }}">
        </div>
        <div class="form-group">
            <input type="text" name="name" class="form-control" required placeholder="Ваше имя" value="{{ request.user.get_short_name|default:'' }}">
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" required placeholder="Ваш email" value="{{ request.user.email|default:'' }}">
        </div>
        <div class="form-group">
            <input type="text" name="phone" class="form-control" required placeholder="Ваш телефон" value="{{ request.user.phone|default:'' }}">
        </div>
        <input type="submit" value="ОТПРАВИТЬ" class="btn btn-custom">
    </form>
</div>
