{% load thumbnail %}

{% if sponsored_products.count %}
    <div class="widget sponsored-products">
        <h3>ПРОДВИГАЕМЫЕ ТОВАРЫ</h3>
        {% for p in sponsored_products %}
            <div class="sponsored-product">
                {% with p.get_cover as cover %}
                    {% thumbnail cover.image '175' crop='center' as cover_thumb %}
                        <a href="{{ p.get_absolute_url }}"><img src="{{ cover_thumb.url }}" alt="{{ cover.title|default:p.title }}" class="sponsored-product-image"></a>
                    {% endthumbnail %}
                {% endwith %}
                <a href="{{ p.get_absolute_url }}">{{ p }}</a>
                <br/><span>{% if not p.new_price %}{{ p.price }}{% else %}<s>{{ p.price }}</s> {{ p.new_price }}{% endif %}</span>
                <div class="ratings-container">
                    <div class="ratings separator">
                        <div class="ratings-result" data-result="{{ p.reviews_average }}"></div>
                    </div>
                    <span class="ratings-amount separator">
                        отзывов: {{ p.reviews.count }}
                    </span>
                </div>
            </div>
        {% endfor %}
    </div><!-- End .widget -->
{% endif %}
