<div class="widget subscribe">
    <h3>ПОДПИШИТЕСЬ НА НАШИ НОВОСТИ</h3>
    <p>Получайте всю последнюю информацию о событиях, распродажах и предложениях.</p>
    <form action="{% url 'subscribe-form' %}" method="post" id="subscribe-form" class="ajax_form">
        <div class="alert alert-success success_message" style="display: none;">
            Спасибо, ваш email сохранен!
        </div>
        <div class="form-group">
            <input type="email" name="email" class="form-control" required id="subscribe-email" placeholder="Введите свой email" value="{{ request.user.email }}">
        </div>
        <input type="submit" value="ОТПРАВИТЬ" class="btn btn-custom">
    </form>
</div>
