<h2>{{ subject }}</h2>

<p>
	<strong>Номер заказа:</strong> №{{ order.id }}<br/>
	<strong>Дата и время заказа:</strong> {{ order.checkout_date|date:"d.m.Y H:i:s" }}<br/>
	<strong>Тип доставки:</strong> {{ order.get_delivery_type }}<br/>
	<strong>Тип оплаты:</strong> {{ order.get_payment_type }}<br/>
</p>
<p>
	<strong>Количество позиций:</strong> {{ order.count }}<br/>
	<strong>Сумма заказа:</strong> {{ order.summary }}<br/>
</p>
<strong>Список товаров:</strong>
<table>
	<thead>
		<tr>
			<th class="table-title">Товар</th>
			<th class="table-title">Цвет</th>
			<th class="table-title">Код товара</th>
			<th class="table-title">Цена</th>
			<th class="table-title">Количество</th>
			<th class="table-title">Всего</th>
		</tr>
	</thead>
	<tbody>
		{% for item in order.cartitem_set.all %}
			<tr>
				{% if not item.product.removed %}<td><strong><a href="http://{{ site }}{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></strong></td>
				{% else %}<td><strong>{{ item.product.title }}</strong></td>
				{% endif %}
				<td>{% if item.color_title %}{{ item.color_title }}{% endif %}</td>
				<td>{{ item.product_id }}</td>
				<td>{{ item.price }} тнг.</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.total_price }} тнг.</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if site and order.profile %}
	<p>Прямая ссылка на заказ: <a href="http://{{ site }}{{ order.get_order_url }}">http://{{ site }}{{ order.get_order_url }}</a><br/>
		История заказов: <a href="http://{{ site }}{% url 'profile:orders' %}">http://{{ site }}{% url 'profile:orders' %}</a></p>
{% endif %}
