{% extends 'base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ seo_settings.support.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.support.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.support.get_meta_keyw }}{% endblock %}

{% block content %}
  <section id="content">
    <div id="breadcrumb-container">
      <div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">Служба поддержки</li>
				</ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="content-title">
            <h1 class="title">Служба поддержки</h1>
            <p class="title-desc">Часто задаваемые вопросы и база знаний.</p>
          </header>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="tab-container clearfix">
								<ul class="nav-tabs nav-justified clearfix">
									{% for section in top_sections %}
										<li{% if forloop.first %} class="active"{% endif %}><a href="#section{{ section.id }}" data-toggle="tab">{% if section.title == 'Возврат товара и получение денег назад' %}Возврат товара<br/>и получение денег назад{% elif section.title == 'Управление личным кабинетом' %}Управление<br/>личным кабинетом{% else %}{{ section.title }}{% endif %}</a></li>
									{% endfor %}
								</ul>

								<div class="tab-content clearfix">
									{% for section in top_sections %}
										<div class="tab-pane{% if forloop.first %} active{% endif %}" id="section{{ section.id }}">
											{% for item in section.items %}
												{% if not forloop.first %}<br/>{% endif %}
												<h5>{{ item.question }}</h5>
												<p>{{ item.answer|linebreaksbr }}</p>
											{% endfor %}
										</div><!-- End .tab-pane -->
									{% endfor %}

								</div><!-- End .tab-content -->
							</div><!-- End .tab-container -->
						</div><!-- End .col-md-6 -->
					</div><!-- End .row -->

					<div class="md-margin2x" id="s"></div><!-- space -->

					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>База знаний и FAQ</h3>

							<div class="tab-container left clearfix" id="support_tabs">
								<ul class="nav-tabs clearfix">
									<li class="active"><a href="#section0" data-toggle="tab">Рекомендуемые темы</a></li>
									{% for section in bottom_sections %}
										<li><a href="#section{{ section.id }}" data-toggle="tab">{% if section.title == 'Возврат товара и получение денег назад' %}Возврат товара<br/>и получение денег назад{% elif section.title == 'Управление личным кабинетом' %}Управление<br/>личным кабинетом{% else %}{{ section.title }}{% endif %}</a></li>
									{% endfor %}
									{% if videos.count %}<li><a href="#videos" data-toggle="tab">Видео-инструкции</a></li>{% endif %}
									<li><a href="#form" data-toggle="tab">Нужна еще помощь?</a></li>
									{# <li><a href="#search" data-toggle="tab">Поиск</a></li> #}
								</ul>

								<div class="tab-content clearfix" id="support_tab_content">
									<div class="tab-pane active" id="section0">
										{% for item in recommended_items %}
											{% if not forloop.first %}<br/>{% endif %}
											<h5>{{ item.question }}</h5>
											<p>{{ item.answer|linebreaksbr }}</p>
										{% endfor %}
									</div><!-- End .tab-pane -->

									{% for section in bottom_sections %}
										<div class="tab-pane" id="section{{ section.id }}">
											{% for item in section.items %}
												{% if not forloop.first %}<br/>{% endif %}
												<h5>{{ item.question }}</h5>
												<p>{{ item.answer|linebreaksbr }}</p>
											{% endfor %}
										</div><!-- End .tab-pane -->
									{% endfor %}

									{% if videos.count %}
										<div class="tab-pane" id="videos">
											{% for video in videos %}
											{% if video.has_video %}
												{% if not forloop.first %}<br/>{% endif %}
												<h5>{{ video.title }}</h5>
												<iframe width="640" height="330" src="{{ video.get_iframe_video_link }}" frameborder="0" allowfullscreen></iframe>
											{% endif %}
											{% endfor %}
										</div><!-- End .tab-pane -->
									{% endif %}


									<div class="tab-pane" id="form">
						              <!-- <div class="col-md-8 col-sm-8 col-xs-12"> -->
						                <h2 class="sub-title">ЗАДАЙТЕ НАМ ВОПРОС</h2>
						                <div class="row">
						                  <form action="{% url 'question-form' %}" method="post" id="question-form" class="ajax_form">
																{% csrf_token %}
																<div class="alert alert-success" style="display: none;">
																	<strong>Вопрос отправлен!</strong> Спасибо, мы с вами свяжемся.
																</div>
						                    <div class="col-md-6 col-sm-12 col-xs-12">
																	{% if not request.user.is_anonymous %}<input type="hidden" name="profile" value="{{ request.user.id }}">{% endif %}
																	<div class="input-group">
																		<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
																		<input type="text" name="name" id="support-name" required class="form-control input-lg" placeholder="Ваше имя" value="{{ request.user.get_short_name }}">
																	</div><!-- End .input-group -->
						                      <div class="input-group">
																		<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
																		<input type="email" name="email" id="support-email" required class="form-control input-lg" placeholder="Ваш email" value="{{ request.user.email }}">
																	</div><!-- End .input-group -->
						                      <div class="input-group">
																		<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Тема&#42;</span></span>
																		<input type="text" name="subject" id="support-subject" required class="form-control input-lg" placeholder="Тема">
																	</div><!-- End .input-group -->
						                      <p class="item-desc">Ваш email не будет опубликован. Обязательные поля отмечены *</p>
						                    </div><!-- End .col-md-6 -->

						                    <div class="col-md-6 col-sm-12 col-xs-12">
							                  <div class="input-group textarea-container">
							                    <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Ваш вопрос&#42;</span></span>
							                    <textarea name="question" id="support-question" class="form-control" cols="30" rows="6" required placeholder="Ваш вопрос"></textarea>
							                  </div><!-- End .input-group -->
						                    <input type="submit" value="ОТПРАВИТЬ" class="btn btn-custom-2 md-margin">
						                    </div><!-- End .col-md-6 -->
						                  </form>
						                </div><!-- End .row -->
						              <!-- </div>End .col-md-8 -->
									</div><!-- End .tab-pane -->
									<div class="tab-pane" id="search">
					                    <div class="result_container" style="">
					                    	<h4>Результаты поиска</h4><hr/>
					                    	<div class="results"></div>
					                    </div>
									</div><!-- End .tab-pane -->
								</div><!-- End .tab-content -->
							</div><!-- End .tab-container -->
						</div><!-- End .col-md-12 -->
						<div class="col-md-12 col-sm-12 col-xs-12" style='text-align: center; margin-top: 20px;'>
		                    <form class="form-inline support_search_form" role="form" action="{% url 'support-search' %}" method="get">
		                        <div class="form-group">
	                    	        <input type="text" class="form-control" name="q" placeholder="Поиск вопросов" style="width: 300px;">
		                        </div>
		                        <button type="submit" id="quick-search" class="btn btn-custom"></button>
		                    </form>
		                </div>
					</div><!-- End .row -->
				</div><!-- End .col-md-12 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
  </section><!-- End #content -->
{% endblock %}
