{% load catalog_tags %}

{% if not category %}
  {% get_category category_id as category %}
{% endif %}

{#{% for field in category.get_attrs %}#}
{% for field in category.attrs %}
{#	{% if not field.name|endswith:'-new' %}#}

		{% if form %}
			{% for error in form|get_field_errors:field.name %}
				<div class="help-block input-error">{{ error }}</div>
			{% endfor %}
		{% endif %}

		<div class="input-group"{% if field.name|endswith:'-new' %} style="display: none;"{% endif %}>
			<span class="input-group-addon"><span class="input-text">{{ field.kwargs.verbose_name }}{% if not field.kwargs.blank %}&#42;{% endif %}</span></span>

			{% if form %}
				{{ form|get_field:field.name }}
			{% else %}
				{% if field.class == 'BooleanField' %}
					<input class="form-control input-lg" id="id_{{ field.name }}" name="{{ field.name }}" type="checkbox">
				{% else %}
					<input type="{% get_input_type field.class %}" name="{{ field.name }}" value="{% if form %}{{ form|get_field_value:field.name|default:'' }}{% endif %}" class="form-control input-lg"{% if not field.kwargs.blank and not field.name|endswith:'-new' %} required{% endif %} placeholder="{{ field.kwargs.verbose_name }}">
				{% endif %}
			{% endif %}
		</div>
{#	{% endif %}#}
{% endfor %}
