{% if product_set|length %}
    <div class="lg-margin2x"></div><!-- Space -->
    <div class="{{ carousel_class }}-items-container carousel-wrapper">
        <header class="content-title">
            <div class="title-bg">
                <h2 class="title">{{ title }}</h2>
            </div><!-- End .title-bg -->
            {# <p class="title-desc">Note the similar products - after buying for more than $500 you can get a discount.</p> #}
        </header>
        <div class="carousel-controls">
            <div id="{{ carousel_class }}-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
            <div id="{{ carousel_class }}-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
        </div><!-- End .carousel-controllers -->
        <div class="{{ carousel_class }}-items-slider owl-carousel">
            {% for p in product_set %}
                {% include 'catalog/include/product.html' with product=p %}
            {% endfor %}
        </div><!--{{ carousel_class }}-items-slider -->
    </div><!-- End .{{ carousel_class }}-items-container -->
{% endif %}

{% comment %}
boo
{# {% if product_set|length %} #}
    <div class="lg-margin2x"></div><!-- Space -->
    <div class="{{ carousel_class }}-items-container carousel-wrapper">
        <header class="content-title">
            <div class="title-bg">
                <h2 class="title">{{ title }}</h2>
            </div><!-- End .title-bg -->
            {# <p class="title-desc">Note the similar products - after buying for more than $500 you can get a discount.</p> #}
        </header>
        <div class="carousel-controls">
            <div id="{{ carousel_class }}-items-slider-prev" class="carousel-btn carousel-btn-prev"></div><!-- End .carousel-prev -->
            <div id="{{ carousel_class }}-items-slider-next" class="carousel-btn carousel-btn-next carousel-space"></div><!-- End .carousel-next -->
        </div><!-- End .carousel-controllers -->
        <div class="{{ carousel_class }}-items-slider owl-carousel">
            {% for p in product_set %}
                {% include 'catalog/include/product.html' with product=p %}
            {% endfor %}
        </div><!--{{ carousel_class }}-items-slider -->
    </div><!-- End .{{ carousel_class }}-items-container -->
{# {% endif %} #}
{% endcomment %}
