{% load thumbnail %}

<div class="item item-hover">
	<div class="item-image-wrapper">
		<figure class="item-image-container">
			<a href="{{ product.get_absolute_url }}">
				{% with product.get_cover as cover %}
					{% with product.get_backing as backing %}
						{% thumbnail cover.image '228x319' crop='center' as cover_thumb %}
							{% thumbnail backing.image '228x319' crop='center' as backing_thumb %}
								<img src="{{ cover_thumb.url }}" alt="{{ cover.title|default:product.title }}" class="item-image" width="{{ cover_thumb.x }}" height="{{ cover_thumb.y }}">
								<img src="{{ backing_thumb.url }}" alt="{{ backing.title|default:product.title }}" class="item-image-hover" width="{{ backing_thumb.x }}" height="{{ backing_thumb.y }}">
							{% endthumbnail %}
						{% endthumbnail %}
					{% endwith %}
				{% endwith %}
			</a>
		</figure>
		<div class="item-price-container">
			{% if product.new_price %}
				<span class="old-price">{{ product.show_price }}</span>
				<span class="item-price">{{ product.show_new_price }}</span>
			{% else %}
				<span class="item-price">{{ product.show_price }}</span>
			{% endif %}
		</div>
		{% if product.is_new %}<span class="new-rect">New</span>{% endif %}
		{% if product.get_discount %}<span class="discount-rect">-{{ product.get_discount }}%</span>{% endif %}
	</div>
	<div class="item-meta-container">
		<div class="ratings-container">
			<div class="ratings">
				<div class="ratings-result" data-result="{{ product.reviews_average }}"></div>
			</div>
			<span class="ratings-amount">
				отзывов: {{ product.reviews.count }}
			</span>
		</div>
		<h3 class="item-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
		<div class="item-action">
			<a href="javascript:void(0);" data-referrer="category-page" data-color-id="0" data-quantity="1" data-id="{{ product.id }}" class="item-add-btn add-to-basket{% if product.quantity == 0 %} already_added no-pe{% else %}{% endif %}">
				<span class="icon-cart-text">В корзину</span>
			</a>
			<div class="item-action-inner">
				<a href="#" data-add-url="{% url 'profile:add-to-favorites' %}" data-id="{{ product.id }}" class="icon-button icon-like add_to{% if product in request.user.favorites.all %} already_added no-pe{% elif not request.user.is_active %} disabled{% endif %}" data-disabled-message="Зарегистрируйтесь, чтобы добавлять товары в список желаний." title="Добавить в список желаний">Добавить в список желаний</a>
				<a href="#" data-add-url="{% url 'profile:add-to-compare' %}" data-id="{{ product.id }}" class="icon-button icon-compare add_to add_to_compare{% if product.id in compared_ids %} already_added no-pe{% endif %}" title="Добавить к сравнению">Добавить к сравнению</a>
			</div>
		</div>
	</div>
</div>
