{% load thumbnail %}

{% if testimonials.count %}
	<div class="widget testimonials">
		<h3>Отзывы</h3>

		<div class="testimonials-slider flexslider sidebarslider">
			<ul class="testimonials-list clearfix">
				{% for t in testimonials %}
					<li>
						<div class="testimonial-details">
							<header>{{ t.title }}</header>
							{{ t.text|linebreaksbr }}
						</div><!-- End .testimonial-details -->
						<figure class="clearfix">
						<img src="{% thumbnail t.image '75x75' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ t.author }}">
							<figcaption>
								{% if t.url %}<a href="{{ t.url }}">{{ t.author }}</a>
								{% else %}<span>{{ t.author }}</span><br />
								{% endif %}
								<span>{{ t.date|date:"d.m.Y" }}</span>
							</figcaption>
						</figure>
					</li>
				{% endfor %}
			</ul>
		</div><!-- End .testimonials-slider -->
	</div><!-- End .widget -->
{% endif %}
