{% if categories|length %}
	<div class="widget category-accordion">
		<h3>Категории</h3>

		<div class="panel-group" id="accordion">
			{% for category in categories %}
				<div class="panel panel-custom">
					<div class="panel-heading">
					<h4 class="panel-title"><a href="{{ category.get_absolute_url }}">{{ category }} ({{ category.posts.count }})</a></h4>
					</div>
				</div><!-- End .panel -->
			{% endfor %}
		</div><!-- End .panel-group -->
	</div><!-- End .widget -->
{% endif %}