{% if tag_cloud|length %}
	<div class="widget tags">
		<h3>Облако тегов</h3>
		<ul class="tags-list">
			{% for tag in tag_cloud %}
				<li><a href="{% if category %}{{ category.get_absolute_url }}{% else %}{% url 'blog:home' %}{% endif %}?tag={{ tag.slug }}">{{ tag }}</a></li>
			{% endfor %}
		</ul>
	</div><!-- End .widget -->
{% endif %}
