{% load catalog_tags %}

{% if not category %}
  {% get_category category_id as category %}
{% endif %}

{#{% for field in category.get_attrs %}#}
{#{% for field in category.attrs %}#}
{% for field in category.get_new_attrs %}
{#	{% if not field.name|endswith:'-new' %}#}

		{% if form %}
			{% for error in form|get_field_errors:field.name %}
				<div class="help-block input-error">{{ error }}</div>
			{% endfor %}
		{% endif %}

		<div class="input-group">
			<span class="input-group-addon"><span class="input-text">{{ field.kwargs.verbose_name|remove_shit }}{% if not field.kwargs.blank %}&#42;{% endif %}</span></span>

			{% if field.class == 'BooleanField' %}
				{% get_boolean_value product field.name as boolean_value %}
				<input class="form-control input-lg" id="id_{{ field.name }}" name="{{ field.name }}" type="checkbox"{% if boolean_value %} checked{% endif %}>
			{% else %}
				<input type="{% get_input_type field.class %}" name="{{ field.name }}" value="{{ product|get_value:field.name }}" class="form-control input-lg"{% if not category|get_blank_from_new:field.name %} required{% endif %} placeholder="{{ field.kwargs.verbose_name|remove_shit }}">
			{% endif %}

		</div>
{#	{% endif %}#}
{% endfor %}
