	<div class="row" style="margin-top: 40px;">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<form class="ajax_form show_field_errors do_not_reset" action="{% url 'profile:update-human' %}" method="post">
				{% csrf_token %}
				<fieldset>
					<h4>Персональные данные</h4>
					<div class="alert alert-success" style="display: none;">Данные успешно изменены.</div>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
						<input type="text" name="first_name" value="{{ profile.first_name }}" required class="form-control input-lg" placeholder="Ваше имя">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Фамилия&#42;</span></span>
						<input type="text" name="last_name" value="{{ profile.last_name }}" required class="form-control input-lg" placeholder="Ваша фамилия">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
						<input type="text" name="email" value="{{ profile.email }}" required class="form-control input-lg" placeholder="Ваш email">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон</span></span>
						<input type="text" name="phone" value="{{ profile.phone }}" class="form-control input-lg" placeholder="Ваш телефон (не обязательно)">
					</div>
					<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
				</fieldset>
			</form>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<form class="ajax_form" action="{% url 'profile:update-password' %}" method="post">
				{% csrf_token %}
				<fieldset>
					<h4>Изменить пароль</h4>
					<p>Пароль должен быть минимум из 6 символов и содержать как минимум одну заглавную букву и одну цифру.</p>
					<div class="alert alert-success" style="display: none;">Пароль успешно изменен.</div>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
						<input type="password" name="new_password" required class="form-control input-lg" placeholder="Новый пароль">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
						<input type="password" name="new_password_repeat" required class="form-control input-lg" placeholder="Повторите пароль">
					</div>
					<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
				</fieldset>
			</form>
		</div>
	</div>
