	<div class="row" style="margin-top: 40px;">
		<div class="col-md-6 col-sm-6 col-xs-12">
			<form class="ajax_form show_field_errors do_not_reset" action="{% url 'profile:update-company-1' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<fieldset>
					<h4>Персональные данные</h4>
					<div class="alert alert-success" style="display: none;">Данные успешно изменены.</div>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-company"></span><span class="input-text">Компания&#42;</span></span>
						<input type="text" name="company_name" value="{{ profile.company_name }}" required class="form-control input-lg" placeholder="Название компании">
					</div>
					{% if profile.image %}<span>На данный момент: <a href="{{ profile.image.url }}">{{ profile.image }}</a></span>{% endif %}
					<div class="input-group">
						<span class="input-group-addon"><span class="input-text">Изображение<!--{% if not profile.image %}&#42;{% endif %}--></span></span>
						<input type="file" name="image" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
						<input type="text" name="first_name" value="{{ profile.first_name }}" required class="form-control input-lg" placeholder="Имя руководителя">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Фамилия&#42;</span></span>
						<input type="text" name="last_name" required value="{{ profile.last_name }}" class="form-control input-lg" placeholder="Фамилия руководителя">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
						<input type="text" name="email" required value="{{ profile.email }}" class="form-control input-lg" placeholder="Email">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон&#42;</span></span>
						<input type="text" name="phone" value="{{ profile.phone }}" required class="form-control input-lg" placeholder="Телефон">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-phone"></span><span class="input-text">Телефон №2</span></span>
						<input type="text" name="phone2" value="{{ profile.phone2|default:'' }}" class="form-control input-lg" placeholder="Дополнительный телефон (не обязательно)">
					</div>
					<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
				</fieldset>
			</form>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<form class="ajax_form show_field_errors do_not_reset" action="{% url 'profile:update-company-2' %}" method="post">
				{% csrf_token %}
				<fieldset>
					<h4>Адресные данные продавца</h4>
					<div class="alert alert-success" style="display: none;">Данные успешно изменены.</div>
					<div class="alert alert-danger" style="display: none;"></div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-postcode"></span><span class="input-text">Почтовый код</span></span>
						<input type="text" name="postal_code" value="{{ profile.postal_code }}" class="form-control input-lg" placeholder="Почтовый код">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-country"></span><span class="input-text">Страна&#42;</span></span>
						{{ form.country }}
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-region"></span><span class="input-text">Регион&#42;</span></span>
						{{ form.region }}
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-city"></span><span class="input-text">Город&#42;</span></span>
						<input type="text" name="city" value="{{ profile.city }}" required class="form-control input-lg" placeholder="Город">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес&#42;</span></span>
						<input type="text" name="address1" value="{{ profile.address1 }}" required class="form-control input-lg" placeholder="Адрес (строка 1)">
					</div>
					<div class="input-group">
						<span class="input-group-addon"><span class="input-icon input-icon-address"></span><span class="input-text">Адрес №2</span></span>
						<input type="text" name="address2" value="{{ profile.address2 }}" class="form-control input-lg" placeholder="Адрес (строка 2)">
					</div>
					<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
				</fieldset>
			</form>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: -60px;">
		<form class="ajax_form show_field_errors" action="{% url 'profile:update-password' %}" method="post">
			{% csrf_token %}
			<fieldset>
				<h4>Изменить пароль</h4>
				<p>Пароль должен быть минимум из 6 символов.</p>
				<div class="alert alert-success" style="display: none;">Пароль успешно изменен.</div>
				<div class="alert alert-danger" style="display: none;"></div>
				<div class="input-group">
					<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
					<input type="password" name="new_password" required class="form-control input-lg" placeholder="Новый пароль">
				</div>
				<div class="input-group">
					<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
					<input type="password" name="new_password_repeat" required class="form-control input-lg" placeholder="Повторите пароль">
				</div>
				<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
			</fieldset>
		</form>
	</div>
