{% load thumbnail %}

<div class="item item-hover">
	<div class="item-image-wrapper">
		<figure class="item-image-container">
			<a href="{{ product.get_absolute_url }}">
				{% with product.get_cover as cover %}
					{% with product.get_backing as backing %}
						{% thumbnail cover.image '228x319' crop='center' as cover_thumb %}
							{% thumbnail backing.image '228x319' crop='center' as backing_thumb %}
								<img src="{{ cover_thumb.url }}" alt="{{ cover.title|default:product.title }}" class="item-image">
								<img src="{{ backing_thumb.url }}" alt="{{ backing.title|default:product.title }}" class="item-image-hover">
							{% endthumbnail %}
						{% endthumbnail %}
					{% endwith %}
				{% endwith %}
			</a>
		</figure>
{% comment %}
		<div class="item-price-container">
			{% if product.new_price %}
				<span class="old-price">{{ product.show_price }}</span>
				<span class="item-price">{{ product.show_new_price }}</span>
			{% else %}
				<span class="item-price">{{ product.show_price }}</span>
			{% endif %}
		</div>
{% endcomment %}
{#		{% if product.is_new %}<span class="new-rect">New</span>{% endif %}#}
{#		{% if product.get_discount %}<span class="discount-rect">-{{ product.get_discount }}%</span>{% endif %}#}
	</div>
{% comment %}
	<div class="item-meta-container">
		<div class="ratings-container">
			<div class="ratings">
				<div class="ratings-result" data-result="{{ product.reviews_average }}"></div>
			</div>
			<span class="ratings-amount">
				отзывов: {{ product.reviews.count }}
			</span>
		</div>
{% endcomment %}
		<h3 class="item-name"><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
{% comment %}
		<div class="item-action">
			<a href="javascript:void(0);" data-referrer="category-page" data-color-id="0" data-quantity="1" data-id="{{ product.id }}" class="item-add-btn add-to-basket">
				<span class="icon-cart-text">В корзину</span>
			</a>
			<div class="item-action-inner">
				<a href="#" data-add-url="{% url 'profile:add-to-favorites' %}" data-id="{{ product.id }}" class="icon-button icon-like add_to{% if not request.user.is_active or product in request.user.favorites.all %} _disabled{% endif %}">В список желаний</a>
				<a href="#" data-add-url="{% url 'profile:add-to-compare' %}" data-id="{{ product.id }}" class="icon-button icon-compare add_to _disabled">В сравнение</a>
			</div>
		</div>
	</div>
{% endcomment %}
</div>
