{% if items.count or video_items|length %}
  {% for item in items %}
    {% if not forloop.first %}<br/>{% endif %}
    <h5>{{ item.question }}</h5>
    <p>{{ item.answer|linebreaksbr }}</p>
  {% endfor %}

  {% for video in video_items %}
    {% if not forloop.first or items.count %}<br/>{% endif %}
      <h5>{{ video.title }}</h5>
      <iframe width="640" height="330" src="{{ video.get_iframe_video_link }}" frameborder="0" allowfullscreen></iframe>
  {% endfor %}

{% else %}
  <p>Ничего не найдено</p>
{% endif %}
