<h2>{{ subject }}</h2>

<p>
    <strong>Дата и время поступления:</strong> {{ object.datetime|date:"d.m.Y H:i:s" }}<br/>
</p>
<p>
    {% if object.profile %}<strong>Профиль:</strong> <a href="http://{{ site }}/alazone-adm/lk/profile/{{ object.profile.id }}/">{{ object.profile }}</a><br/>{% endif %}
    <strong>Имя:</strong> {{ object.name }}<br/>
    <strong>Email:</strong> {{ object.email }}<br/>
    <strong>Тема:</strong> {{ object.subject }}<br/>
</p>
<p>
    <strong>Сообщение:</strong><br/>{{ object.message|linebreaksbr }}
</p>
{% if site %}<p>Ссылка на сообщение в админке: <a href="http://{{ site }}/alazone-adm/content/contactsmessage/{{ object.id }}/">http://{{ site }}/alazone-adm/content/contactsmessage/{{ object.id }}/</a></p>{% endif %}
