<h2>{{ subject }}</h2>
<p>
    <strong>Дата и время поступления:</strong> {{ object.datetime|date:"d.m.Y H:i:s" }}<br/>
    <strong>Профиль:</strong> <a href="http://{{ site }}/alazone-adm/lk/profile/{{ object.profile.id }}/">{{ object.profile }}</a><br/>
</p>
<p>
    <strong>Имя компании:</strong> {{ object.company_name }}<br/>
    <strong>Телефон:</strong> {{ object.phone }}<br/>
    <strong>Email:</strong> {{ object.email }}<br/>
</p>
<p>
    <strong>Адрес:</strong><br/>{{ object.address|linebreaksbr }}
</p>
{% if site %}Ссылка на заказ в админке: <a href="http://{{ site }}/alazone-adm/lk/invoicerequest/{{ object.id }}/">http://{{ site }}/alazone-adm/lk/invoicerequest/{{ object.id }}/</a>{% endif %}
