<h2>{{ subject }}</h2>

<p>
    <strong>Дата и время добавления:</strong> {{ object.add_dt|date:"d.m.Y H:i:s" }}<br/>
    <strong>Товар:</strong> {{ object.title }}<br/>
    <strong>Категория:</strong> {{ object.category }}<br/>
    <strong>Продавец:</strong> <a href="http://{{ site }}/alazone-adm/lk/profile/{{ object.seller.id }}/">{{ object.seller }}</a><br/>
</p>
{% if site %}<p>Ссылка на товар в админке: <a href="http://{{ site }}/alazone-adm/catalog/product/{{ object.id }}/">http://{{ site }}/alazone-adm/catalog/product/{{ object.id }}/</a></p>{% endif %}
