<h2>{{ subject }}</h2>

<p>
	<strong>Номер заказа:</strong> №{{ object.id }}<br/>
	<strong>Дата и время заказа:</strong> {{ object.checkout_date|date:"d.m.Y H:i:s" }}<br/>
	<strong>Тип доставки:</strong> {{ object.get_delivery_type }}<br/>
	<strong>Тип оплаты:</strong> {{ object.get_payment_type }}<br/>
</p>
<p>
	<strong>Имя:</strong> {{ object.first_name }}<br/>
	<strong>Фамилия:</strong> {{ object.last_name }}<br/>
	<strong>Email:</strong> {{ object.email }}<br/>
	<strong>Телефон:</strong> {{ object.phone }}<br/>
	{% if object.phone2 %}<strong>Телефон №2:</strong> {{ object.phone2 }}<br/>{% endif %}
</p>
<p>
	<strong>Почтовый код:</strong> {{ object.postal_code }}<br/>
	<strong>Страна:</strong> {{ object.country }}<br/>
	<strong>Регион:</strong> {{ object.region }}<br/>
	<strong>Город:</strong> {{ object.city }}<br/>
	<strong>Адрес №1:</strong> {{ object.address1 }}<br/>
	{% if object.address2 %}<strong>Адрес №2:</strong> {{ object.address2 }}<br/>{% endif %}
</p>
<p>
	<strong>Количество позиций:</strong> {{ object.count }}<br/>
	<strong>Сумма заказа:</strong> {{ object.summary }}<br/>
</p>
<strong>Список товаров:</strong>
<table>
	<thead>
		<tr>
			<th class="table-title">Товар</th>
			<th class="table-title">Цвет</th>
			<th class="table-title">Код товара</th>
			<th class="table-title">Цена</th>
			<th class="table-title">Количество</th>
			<th class="table-title">Всего</th>
		</tr>
	</thead>
	<tbody>
		{% for item in object.cartitem_set.all %}
			<tr>
				{% if not item.product.removed %}<td><strong><a href="http://{{ site }}{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></strong></td>
				{% else %}<td><strong>{{ item.product.title }}</strong></td>
				{% endif %}
				<td>{% if item.color_title %}{{ item.color_title }}{% endif %}</td>
				<td>{{ item.product_id }}</td>
				<td>{{ item.price }} тнг.</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.total_price }} тнг.</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if site %}<p>Ссылка на заказ в админке: <a href="http://{{ site }}/alazone-adm/cart/cart/{{ object.id }}/">http://{{ site }}/alazone-adm/cart/cart/{{ object.id }}/</a></p>{% endif %}
