<h2>{{ subject }}</h2>

<p>
    <strong>Дата и время поступления:</strong> {{ object.datetime|date:"d.m.Y H:i:s" }}<br/>
	<strong>Искомый товар:</strong> <strong>{{ object.request }}</strong><br/>
</p>

<p>
    {% if object.profile %}<strong>Профиль:</strong> <a href="http://{{ site }}/alazone-adm/lk/profile/{{ object.profile.id }}/">{{ object.profile }}</a><br/>{% endif %}
    <strong>Имя:</strong> {{ object.name }}<br/>
    <strong>Email:</strong> {{ object.email }}<br/>
    <strong>Телефон:</strong> {{ object.phone }}<br/>
</p>
{% if site %}<p>Ссылка на запрос в админке: <a href="http://{{ site }}/alazone-adm/catalog/productsearchrequest/{{ object.id }}/">http://{{ site }}/alazone-adm/catalog/productsearchrequest/{{ object.id }}/</a></p>{% endif %}
