<h2>{{ subject }}</h2>

<p>
    <strong>Товар:</strong> {{ object.title }}<br/>
    <strong>Категория:</strong> {{ object.category }}<br/>
    <strong>Продавец:</strong> <a href="http://{{ site }}/alazone-adm/lk/profile/{{ object.seller.id }}/">{{ object.seller }}</a><br/>
</p>
<p>
	<strong>Измененные поля:</strong>
	<ul>
		{% for field in changed_fields %}<li>{{ field }}</li>{% endfor %}
	</ul>
</p>
{% if site %}<p>Ссылка на товар в админке: <a href="http://{{ site }}/alazone-adm/catalog/product/{{ object.id }}/">http://{{ site }}/alazone-adm/catalog/product/{{ object.id }}/</a>
{% if object.show%}<br/>Ссылка на товар на сайте: <a href="http://{{ site }}{{ object.get_absolute_url }}">http://{{ site }}{{ object.get_absolute_url }}</a>{% endif %}</p>{% endif %}
