<div class="category-toolbar clearfix">
	<div class="toolbox-filter clearfix">
		<div class="sort-box">
			<span class="separator">сортировать по:</span>
			<div class="btn-group select-dropdown">
				<button type="button" class="btn select-btn order_by_title">{{ order_by.title }}</button>
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for slug, title in order_by.choices %}
						<li><a href="#{{ slug }}" data-slug="{{ slug }}" class="order_by_choices">{{ title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="toolbox-pagination clearfix">
		{% include 'include/inline_pagination.html' with ajax_container='product_list' %}
	</div>
</div>

<div class="md-margin"></div>
<div id="items-list" class="category-item-container">
	<div class="row">
		{% for product in products %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				{% include 'catalog/include/product.html' with product=product %}
			</div>
		{% endfor %}
	</div>
</div>

<hr />
<div class="category-toolbar clearfix">
	<div class="toolbox-filter clearfix">
		<div class="sort-box">
			<span class="separator">сортировать по:</span>
			<div class="btn-group select-dropdown dropup">
				<button type="button" class="btn select-btn order_by_title">{{ order_by.title }}</button>
				<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-angle-up"></i>
				</button>
				<ul class="dropdown-menu" role="menu">
					{% for slug, title in order_by.choices %}
						<li><a href="#{{ slug }}" data-slug="{{ slug }}" class="order_by_choices">{{ title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="toolbox-pagination clearfix">
		{% include 'include/inline_pagination.html' with ajax_container='product_list' %}
	</div>
</div>
