{% extends "base.html" %}
{% load staticfiles %}

{% block meta_title %}Добавление цветов для товара &quot;{{ product.title }}&quot; — Alazone{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">Цвета для &quot;{{ product.title }}&quot;</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="content-title">
						<h1 class="title">Добавление товара - шаг №3</h1>
                        <p class="title-desc">
                            Поздравляем! Вы успешно добавили новый товар &quot;{{ product.title }}&quot;. Он будет опубликован на сайте после одобрения модератором.<br><br>
                            Теперь Вы можете добавить цвета для Вашего товара.
                        </p>
					</header>
					<div class="xs-margin"></div>
					<form action="{{ request.path }}" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<fieldset style="margin-bottom: 30px;">
									<div class="colors-box">
										<div id="color-item-template" class="color-item">
											<div class="input-group">
												<span class="input-group-addon"><span class="input-text">Цвет&#42;</span></span>
												<input type="text" name="color[0]" class="form-control input-lg color_select" value="#ffffff" required>
											</div>
											<div class="input-group">
												<span class="input-group-addon"><span class="input-text">Название&#42;</span></span>
												<input type="text" name="color_name[0]" required class="color_name form-control input-lg" placeholder="Название цвета товара">
											</div>
											<div class="input-group color_remove_button" style="display: none;">
												<button type="button" class="add-product-remove-color" class="btn btn-default">Удалить цвет</button>
											</div>
										</div>
									</div>
								</fieldset>
								<div class="input-group">
									<button type="button" id="add-product-add-color" style="margin-top: -40px;" class="btn btn-default">Добавить еще один цвет</button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
								{% if request.user.product_set.count > 1 %}
                                	<a href="{% url 'shop:add-related' product.id %}" class="btn btn-link md-margin">ПРОПУСТИТЬ >></a>
                                {% else %}
                                	<a href="{% url 'shop:add-complete' product.id %}" class="btn btn-link md-margin">ПРОПУСТИТЬ >></a>
                                {% endif %}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/minicolor/jquery.minicolors.min.js' %}"></script>
	<script>
		$('.color_select', $('#color-item-template')).minicolors({theme: 'bootstrap'});
		var colors_counter = 1;

		$('#add-product-add-color').on('click', function(){
			var color_item = $('#color-item-template').clone();
			color_item.attr('id', '');

			var color_input = $('.color_select', color_item);
			color_input.minicolors('destroy');
			color_input.val('#ffffff');
			color_input.attr('name', 'color['+colors_counter+']');
			color_input.minicolors({theme: 'bootstrap'});

			var color_name = $('.color_name', color_item);
			color_name.attr('name', 'color_name['+colors_counter+']');
			color_name.val('');

			var color_remove_button = $('.color_remove_button', color_item);
			color_remove_button.show();

			var color_box = $('.colors-box');
			color_box.append(color_item);
			color_item.show();

			colors_counter++;
		});

		$('.colors-box').on('click', '.add-product-remove-color', function(){
			var color_item = $(this).parent().parent();
			color_item.remove();
			colors_counter--;

			$('.colors-box').find('.color-item').each(function(i) {
				var item = $(this);
				$('.color_select', item).attr('name', 'color[' + i + ']');
				$('.color_name', item).attr('name', 'color_name[' + i + ']');
			});
		});
	</script>
{% endblock %}
