{% extends "base.html" %}

{% block meta_title %}Добавление изображений для товара &quot;{{ product.title }}&quot; — Alazone{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">Добавление изображений для &quot;{{ product.title }}&quot;</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="content-title">
						<h1 class="title">Добавление товара - шаг №2</h1>
						<p class="title-desc">
							Здесь можно добавить изображения для Вашего товара. Минимальное количество изображений - 1.
						</p>
					</header>
					<div class="xs-margin"></div>
					<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<fieldset>
									<div class="help-block input-error">{{ errors.image1 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 1&#42;</span></span>
										<input type="file" name="image1" required class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
									<div class="help-block input-error">{{ errors.image2 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 2</span></span>
										<input type="file" name="image2" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
									<div class="help-block input-error">{{ errors.image3 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 3</span></span>
										<input type="file" name="image3" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
									<div class="help-block input-error">{{ errors.image4 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 4</span></span>
										<input type="file" name="image4" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
									<div class="help-block input-error">{{ errors.image5 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 5</span></span>
										<input type="file" name="image5" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
									<div class="help-block input-error">{{ errors.image6 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 6</span></span>
										<input type="file" name="image6" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
									<div class="help-block input-error">{{ errors.image7 }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Изображение 7</span></span>
										<input type="file" name="image7" class="form-control input-lg" accept=".png,.jpg,.jpeg,.gif">
									</div>
								</fieldset>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
