{% extends "base.html" %}

{% block meta_title %}Добавление товара — Alazone{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">Добавление товара</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="content-title">
						<h1 class="title">Добавление товара - шаг №1</h1>
						<p class="title-desc">Добавление товара, который вы собираетесь продать.</p>
					</header>
					<div class="xs-margin"></div>
					<form action="{{ request.path }}" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<fieldset>
									<div class="help-block input-error">{{ form.non_field_errors }}</div>
									<div class="help-block input-error">{{ form.category.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Категория&#42;</span></span>
										{{ form.category }}
									</div>
									<div class="help-block input-error">{{ form.title.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Название&#42;</span></span>
										<input type="text" name="title" value="{{ form.title.value|default:'' }}" required class="form-control input-lg" placeholder="Название товара">
									</div>
									<div class="help-block input-error">{{ form.article.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Код&#42;</span></span>
										<input type="text" name="article" value="{{ form.article.value|default:'' }}" required class="form-control input-lg" placeholder="Код товара">
									</div>
									<div class="help-block input-error">{{ form.quantity.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Количество&#42;</span></span>
										<input type="number" name="quantity" value="{{ form.quantity.value|default:'' }}" required class="form-control input-lg" placeholder="Количество единиц товара">
									</div>
									<div class="help-block input-error">{{ form.price.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Цена&#42;</span></span>
										<input type="text" name="price" value="{{ form.price.value|default:'' }}" required class="form-control input-lg" placeholder="Цена товара">
									</div>
									<div class="help-block input-error">{{ form.new_price.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Скидочная цена</span></span>
										<input type="text" name="new_price" value="{{ form.new_price.value|default:'' }}" class="form-control input-lg" placeholder="Скидочная цена">
									</div>
									<div class="help-block input-error">{{ form.delivery_type.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Тип доставки&#42;</span></span>
										{{ form.delivery_type }}
									</div>
									<div class="help-block input-error">{{ form.condition.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">Состояние товара&#42;</span></span>
										{{ form.condition }}
									</div>
									<div id="attr_fields">
									  {% if form.category.value %}
										{% include 'catalog/include/category_fields.html' with category_id=form.category.value %}
									  {% endif %}
									</div>
								</fieldset>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<fieldset>
									<div class="help-block input-error">{{ form.description.errors }}</div>
									<div class="input-group">
										<!--<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Описание&#42;</span></span>-->
										<p><span class="input-text" style="color: #ef4043">Описание&#42;</span></p>
										<textarea name="description" required class="form-control input-lg" style="height: 262px;">{{form.description.value|default:''}}</textarea>
									</div>
								</fieldset>
							</div>
							<!--<div class="col-md-12 col-sm-12 col-xs-12">
								<fieldset>
									<div class="help-block input-error">{{ form.meta_title.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">SEO заголовок<br>страницы</span></span>
										<input type="text" name="meta_title" value="{{ form.meta_title.value|default:'' }}" class="form-control input-lg" placeholder="Meta title (заголовок страницы)">
									</div>
									<div class="help-block input-error">{{ form.meta_description.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">SEO описание<br>страницы</span></span>
										<input type="text" name="meta_description" value="{{ form.meta_description.value|default:'' }}" class="form-control input-lg" placeholder="Meta title (заголовок страницы)">
									</div>
									<div class="help-block input-error">{{ form.meta_keywords.errors }}</div>
									<div class="input-group">
										<span class="input-group-addon"><span class="input-text">SEO ключевые<br> слова <small>(через запятую)</small></span></span>
										<input type="text" name="meta_keywords" value="{{ form.meta_keywords.value|default:'' }}" class="form-control input-lg" placeholder="Meta title (заголовок страницы)">
									</div>
								</fieldset>
							</div>-->
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="submit" value="ДАЛЕЕ >>" class="btn btn-custom-2 md-margin">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block extra_js %}
	<script>
		$('#id_category').change(function() {
			var category_id = $(this).val(),
				base_url = "{% url 'shop:get-category-attrs' 0 %}",
				url = base_url.replace('/0/', '/' + category_id + '/');
			$.get(url, {}, function(res) {
				$('#attr_fields').html(res);
			});
		});
	</script>
{% endblock %}