{% extends "base.html" %}
{% load staticfiles thumbnail %}

{% block meta_title %}Добавление связанных товаров для товара &quot;{{ product.title }}&quot; — Alazone{% endblock %}

{% block content %}
    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li class="active">Связанные товары для &quot;{{ product.title }}&quot;</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div id="favoriteproducts_block_account">
                <form action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <header class="content-title">
                                <h1 class="title">Добавление связанных товаров - шаг №4</h1>
                                <p class="title-desc">
                                    Вы можете добавить свои товары в блок "С этим товаром также покупают" на странице нового товара.
                                </p>
                            </header>
                            <div class="xs-margin"></div>
                            <ul class="row" id="favorite_items">
                                {% for p in product.seller_all_another_products %}
                                    <li class="col-md-7 col-sm-7 col-xs-12 favorite_item related_item{% if p in product.related.all %} checked{% endif %}">
                                        <div class="favoriteproduct clearfix inner-content">
                                            <a class="product_img_link" href="{% if p.show %}{{ p.get_absolute_url }}{% else %}#{% endif %}">
                                                {% with p.get_cover as cover %}
                                                    {% thumbnail cover.image '125x125' crop='center' as cover_thumb %}
                                                        <img src="{{ cover_thumb.url }}" alt="{{ cover.title|default:p.title }}">
                                                    {% endthumbnail %}
                                                {% endwith %}
                                            </a>
                                            <p class="s_title_block">
                                                <a href="{% if p.show %}{{ p.get_absolute_url }}{% else %}#{% endif %}">{{ p.title }}</a>
                                            </p>
                                            <div class="product_desc">{{ p.description|linebreaksbr }}</div>
                                            <div class="remove">
                                                <input type='checkbox' name='related' value='{{ p.id }}'{% if p in product.related.all %} checked{% endif %}>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="submit" value="СОХРАНИТЬ" class="btn btn-custom-2 md-margin">
                            <a href="{% url 'shop:add-complete' product.id %}" class="btn btn-link md-margin">ПРОПУСТИТЬ >></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        $('.related_item').click(function(){
            var $item = $(this),
                $checkbox = $item.find('input[type="checkbox"]');

            $checkbox.prop("checked", !$checkbox.prop("checked"));
            if ($item.hasClass('checked')) {
                $item.removeClass('checked');
            } else {
                $item.addClass('checked');
            }
        });

        $('.related_item input[type="checkbox"]').click(function(e){
            e.preventDefault();
            e.stopPropagation();
        });

        $('.related_item a').click(function(e){
            e.preventDefault();
            e.stopPropagation();
        });
    </script>
{% endblock %}
