{% extends "base.html" %}

{% block meta_title %}Добавление товара — Alazone{% endblock %}

{% block content %}
    <section id="content">
        <div id="breadcrumb-container">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li class="active">Добавление товара &quot;{{ product.title }}&quot;</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="content-title">
                        <h1 class="title">Поздравляем!</h1>
                        <p class="title-desc">Вы успешно добавили новый товар &quot;{{ product.title }}&quot;.<br><br>Он будет опубликован на сайте после одобрения модератором.</p>
                    </header>
                    <div class="xs-margin"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
