.icon-button._disabled { background-color: #737373; border-color: #737373; }

.replay-button { cursor: pointer; }
#comment-reply .item-desc { float: left; vertical-align: middle; margin-top: 10px; }

.products-table > tbody > tr > td { padding: 10px 5px 0 5px; line-height: 1; }

.item-name-auto-style { line-height: 1; font-weight: normal; }

.edit-product-links a { font-size: 16px; line-height: 24px; font-weight: 700; }

#seller_orders_table td { padding: 8px; }

.no-pe { pointer-events: none; -webkit-pointer-events: none; }
.already_added { opacity: 0.5; }

#googleMapContainer { text-align:center; }
#googleMap { display:inline-block; }

#search-form .input-group { margin-bottom: 15px; }
.pstrength-minchar { font-size : 10px; }

.widget.sponsored-products { padding: 15px 10px; border: 1px solid #dcdcdc; }
.sponsored-product { margin: 20px auto; border: 1px solid #eee; padding: 10px; }
.sponsored-product-image { margin: auto; }

input.color-option {
  width: 35px;
  height: 35px;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.35);
  border-radius: 3px;
}
input.color-option.on {
  border: 1px solid #222;
}

.price_label { color: #333; }
.price_range { margin-left: 5px; }
#priceSlider .slider-selection { background: #ef4043; }
#priceSlider .slider-handle { background: #ef4043; }
#priceSlider-pink .slider-selection { background: #ff7579; }
#priceSlider-pink .slider-handle { background: #ff7579; }

.related_item { cursor: pointer; }
.related_item:hover .inner-content { background-color: #f5f5f5; }
.related_item.checked .inner-content { background-color: rgba(123, 174, 35, 0.33); }
.related_item.checked:hover .inner-content { background-color: rgba(123, 174, 35, 0.2); }

.favorite_item .product_desc { max-height: 110px; overflow: hidden; }

.checker_container.margin-1 { margin-left: 15px; }
.checker_container.margin-2 { margin-left: 30px; }
.checker_container.margin-3 { margin-left: 45px; }
.checker_container.margin-4 { margin-left: 60px; }

.social-icon._vk { background-image: url(/static/images/icons/vk.png) !important; }
.social-icon._fb { background-image: url(/static/images/icons/fb.png); }
.social-icon._tw { background-image: url(/static/images/icons/tw.png); }
.social-icon._gplus { background-image: url(/static/images/icons/gplus.png); }
.social-icon._mailru { background-image: url(/static/images/icons/mailru.png); }
.social-icon._ok { background-image: url(/static/images/icons/ok.png); }

.item-name a { display: block; }
.compare_empty p { margin: 0 10px 0 0; display: inline-block; }

.logo > a { margin-left: 0; }
.logo img { width: 250px; height: auto; }
#inner-header .header-inner-right { padding-top: 7px; }
#inner-header { padding-top:37px; }

/* ------------- */

.checker {
  display: inline;
  cursor: pointer;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  position: relative;
  vertical-align: middle;
}
.checker_span {
  position: relative;
  cursor: pointer;
  top: -2px;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  text-align: center;
  background-position: 0 -257px;
  width: 15px;
  height: 15px;
  background-image: url("http://venedor.promokit.eu/themes/venedor/css/autoload/../../img/jquery/uniform/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
.checker_span.checked {
  background-position: -15px -257px;
}
.checker input.checkbox {
  cursor: pointer;
  vertical-align: middle;
  margin: 0 !important;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  zoom: 1;
  width: 15px;
  height: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  line-height: normal;
  min-height: 18px;
}
.checker_label {
  font-weight: normal;
  color: #333;
  cursor: pointer;
}
.checker_title {
  color: #939292;
  font-size: 16px;
  font-family: "MuseoSansRegular";
  display: inline;
}

/* profile favorites */
#favoriteproducts_block_account .favoriteproduct {
  position: relative;
  margin-bottom: 14px;
  padding: 12px 8px;
  border: 1px solid #d6d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
#favoriteproducts_block_account .clearfix:before, #favoriteproducts_block_account .clearfix:after {
  content: " ";
  display: table;
}
#favoriteproducts_block_account .clearfix:after {
  clear: both;
}
#favoriteproducts_block_account .container:after, #favoriteproducts_block_account .row:after {
  clear: both;
}
#favoriteproducts_block_account .favoriteproduct a.product_img_link {
  border: 1px solid #d6d4d4;
  display: block;
  float: left;
  margin-right: 14px;
  overflow: hidden;
  position: relative;
}
#favoriteproducts_block_account .product_img_link img {
  z-index: 1;
  position: relative;
}
#favoriteproducts_block_account .favoriteproduct .remove {
  position: absolute;
  top: 10px;
  right: 10px;
}
#favoriteproducts_block_account a [class^="icon-"], #favoriteproducts_block_account a [class*=" icon-"] {
  display: inline;
}
#favoriteproducts_block_account [class^="icon-"], #favoriteproducts_block_account [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
}
#favoriteproducts_block_account [class^="icon-"], #favoriteproducts_block_account [class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}
#favoriteproducts_block_account .icon-remove:before {
  content: "\f00d";
}
#favoriteproducts_block_account [class^="icon-"]:before, #favoriteproducts_block_account [class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

#product_comparison .price, #page #product_comparison .old-price {
  color: #e82c0c;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
table#product_comparison .product-rating {
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
}
