{% extends 'blog/post_list_base.html' %}

{% block meta_title %}{{ category.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ category.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ category.get_meta_keyw }}{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Главная</a></li>
		<li><a href="{% url 'blog:home' %}">Блог</a></li>
		<li class="active">{{ category.title }}</li>
	</ul>
{% endblock %}

{% block title %}{{ category.title }}{% endblock %}
