{% extends 'blog/post_list_base.html' %}

{% block meta_title %}{{ seo_settings.blog.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.blog.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.blog.get_meta_keyw }}{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{% url 'index' %}">Главная</a></li>
		<li class="active">Блог</li>
	</ul>
{% endblock %}
