{% extends 'base.html' %}
{% load core_tags thumbnail %}

{% block content %}
	<section id="content">
			<div id="breadcrumb-container">
				<div class="container">
				{% block breadcrumb %}{% endblock %}
				</div><!-- End .container -->
				</div><!-- End .breadcrumb-container -->
				<div class="container">
					<div class="row">
						<div class="col-md-12">
					<header class="content-title">
						<h1 class="title">{% block title %}Блог{% endblock %}{% if tag %} по тегу «{{ tag }}»{% endif %}</h1>
{#							<p class="title-desc">Не пропусти наши новости</p>#}
					</header>
							<div class="xs-margin"></div><!-- space -->
							<div class="row">

								<div class="col-md-9 col-sm-8 col-xs-12 articles-container">
									{% for post in post_list %}
										<article class="article">
											<div class="article-meta-date">
												<span>{{ post.datetime|date:"d" }}</span>
												{{ post.get_month }}
											</div><!-- End .article-meta-date -->

											<figure class="article-media-container">
												<a href="{{ post.get_absolute_url }}"><img src="{% thumbnail post.cover '770x300' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ post.title }}"></a>
											</figure>

											<h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>

											<div class="article-meta-container clearfix">
												<div class="article-meta-more">
													<a href="{{ post.get_absolute_url }}#comments"><span class="separator"><i class="fa fa-comments "></i></span>Комментарии ({{ post.comments.count|default:0 }})</a>
													<a href="{{ post.category.get_absolute_url }}"><span class="separator"><i class="fa fa-tag"></i></span>{{ post.category }}</a>
												</div><!-- End. pull-left -->

												<div class="article-meta-view">
													<a href="#" class="do_nothing"><span class="separator"><i class="fa fa-eye "></i></span>{{ post.views }}</a>
													<a href="#" class="like_button" data-like-url="{% url 'blog:add-like' %}" data-dislike-url="{% url 'blog:remove-like' %}" data-id={{ post.id }}><span class="separator"><i class="fa fa-heart heart{% if post.id|to_str in liked_posts %} already_added{% endif %}"></i></span><span class="count">{{ post.likes|default:"0" }}</span></a>
												</div><!-- End. pull-right -->
											</div><!-- End .article-meta-container -->

											<div class="article-content-container">
												{% if post.description %}{{ post.description|safe }}{% endif %}<a href="{{ post.get_absolute_url }}">Читать далее...</a>
											</div><!-- End .article-content-container -->
										</article><!-- End .article -->
									{% empty %}
										<h5>Здесь ничего нет.</h5>
									{% endfor %}
									{% include 'include/pagination.html' %}
								</div><!-- End .col-md-9 -->

							{% include 'blog/include/sidebar.html' %}

							</div><!-- End .row -->
						</div><!-- End .col-md-12 -->
					</div><!-- End .row -->
		</div><!-- End .container -->

	</section><!-- End #content -->
{% endblock %}
