{% extends 'base.html' %}
{% load core_tags staticfiles thumbnail %}

{% block meta_title %}{{ post.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ post.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ post.get_meta_keyw }}{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'blog:home' %}">Блог</a></li>
					<li><a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a></li>
					<li class="active">{{ post.title }}</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="content-title">
						<h1 class="title">{{ post.title }}</h1>
						{# <p class="title-desc">Page for Single Post. Read post details.</p> #}
					</header>
					<div class="xs-margin"></div><!-- space -->
					<div class="row">

						<div class="col-md-9 col-sm-8 col-xs-12 articles-container single-post">
							<article class="article">
								<div class="article-meta-date">
					<span>{{ post.datetime|date:"d" }}</span>
					{{ post.get_month }}
								</div><!-- End .article-meta-date -->

								<figure class="article-media-container">
									<img src="{% thumbnail post.cover '770x300' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ post.title }}">
								</figure>

								<h2>{{ post.title }}</h2>

								<div class="article-meta-container clearfix">
											<div class="article-meta-more">
												<a href="#comments"><span class="separator"><i class="fa fa-comments "></i></span>Комментарии ({{ post.comments.count|default:0 }})</a>
												<a href="{{ post.category.get_absolute_url }}"><span class="separator"><i class="fa fa-tag"></i></span>{{ post.category }}</a>
											</div><!-- End. pull-left -->

									<div class="article-meta-view">
										<a href="#" class="do_nothing"><span class="separator"><i class="fa fa-eye "></i></span>{{ post.views }}</a>
										<a href="#" class="like_button" data-like-url="{% url 'blog:add-like' %}" data-dislike-url="{% url 'blog:remove-like' %}" data-id={{ post.id }}><span class="separator"><i class="fa fa-heart heart{% if post.id|to_str in liked_posts %} already_added{% endif %}"></i></span><span class="count">{{ post.likes|default:"0" }}</span></a>
									</div><!-- End. pull-right -->
								</div><!-- End .article-meta-container -->

								<div class="article-content-container">
					{{ post.text|safe }}
								</div><!-- End .article-content-container -->

				{% comment %}
					<div class="article-author clearfix">
					<figure class="article-author-image">
						<img src="images/blog/author.jpg" alt="Author">
					</figure>

					<div class="article-author-details">
						<h4>About The Author</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptas obcaecati nam tempore nostrum aliquid fuga numquam est quam mollitia cupiditate voluptatum animi aliquam nesciunt nisi doloremque minima amet at!</p>
						<ul class="social-links clearfix">
							<li class="smaller-social-icons"><a href="#" class="social-icon icon-facebook-sm"></a></li>
							<li class="smaller-social-icons"><a href="#" class="social-icon icon-twitter-sm"></a></li>
							<li class="smaller-social-icons"><a href="#" class="social-icon icon-dribbble-sm"></a></li>
							<li class="smaller-social-icons"><a href="#" class="social-icon icon-email-sm"></a></li>
						</ul>
					</div><!-- End .article-author-details -->
					</div><!-- End .article-author -->
				{% endcomment %}

								<div class="comments" id="comments" style="margin-top: 40px;">
									<header class="title-bg">
										<h3>КОММЕНТАРИИ ({{ post.comments.count|default:0 }})</h3>
									</header>
									<ul class="comments-list">
												{% for comment in post.root_comments %}
													<li>
														<div class="comment clearfix" id="comment{{ comment.id }}">
															{% comment %}
																<figure>
																	<img src="{% static 'images/blog/user1.jpg' %}" alt="Comment Author">
																</figure>
															{% endcomment %}
															<div class="comment-details">
																{% if comment.subject %}
																	<div class="comment-title">
																		{{ comment.subject }}
																	</div><!-- End .comment-title -->
																{% endif %}
																<div class="comment-meta-container">
																	<span>{{ comment.author }}</span>
																	<span class="datetime">{{ comment.datetime|date:"d.m.Y" }}</span>
																	<a data-toggle="modal" data-author="{{ comment.author }}" data-target="#comment-reply" data-comment-id="{{ comment.id }}" class="replay-button">Ответить</a>
																</div><!-- End .comment-meta-container -->
																<p>{{ comment.comment|linebreaksbr }}</p>
															</div><!-- End .comment-details -->
														</div><!-- End .comment -->
														{% if comment.children.count %}
															<ul class="children">
																{% for child in comment.children %}
																	<li>
																		<div class="comment clearfix" id="comment{{ child.id }}">
																			{% comment %}
																				<figure>
																					<img src="{% static 'images/blog/user2.jpg' %}" alt="Comment Author">
																				</figure>
																			{% endcomment %}
																			<div class="comment-details">
																				{% if child.subject %}
																					<div class="comment-title">
																						{{ child.subject }}
																					</div><!-- End .comment-title -->
																				{% endif %}
																				<div class="comment-meta-container">
																					<span>{{ child.author }}</span>
																					<span class="datetime">{{ child.datetime|date:"d.m.Y" }}</span>
																					<a data-toggle="modal" data-author="{{ child.author }}" data-target="#comment-reply" data-comment-id="{{ comment.id }}" class="replay-button">Ответить</a>
																				</div><!-- End .comment-meta-container -->
																				<p>{{ child.comment|linebreaksbr }}</p>
																			</div><!-- End .comment-details -->
																		</div><!-- End .comment -->
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</li>
												{% endfor %}
											</ul>

											<h4 class="sub-title">Оставить комментарий</h4>
											<div class="row">
												<form action="{% url 'blog:add-comment' %}" class="ajax_form comment_form" id="comment-form" method="post">
													{% csrf_token %}
													{% if not request.user.is_anonymous %}<input type="hidden" name="profile" value="{{ request.user.id }}">{% endif %}
													<input type="hidden" name="post" value="{{ post.id }}">
													<input type="hidden" name="root" value="">
													<div class="col-md-6 col-sm-6 col-xs-12">
														<div class="input-group">
															<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
															<input type="text" name="author" id="comment-name" required class="form-control input-lg" placeholder="Ваше имя" value="{{ request.user.get_short_name }}">
														</div><!-- End .input-group -->
														<div class="input-group">
															<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
															<input type="email" name="email" id="comment-email" required class="form-control input-lg" placeholder="Ваш email" value="{{ request.user.email }}">
														</div><!-- End .input-group -->
														<div class="input-group">
															<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Тема</span></span>
															<input type="text" name="subject" id="comment-subject" class="form-control input-lg" placeholder="Тема">
														</div><!-- End .input-group -->
														<p class="item-desc">Ваш email не будет опубликован. Обязательные поля отмечены *</p>
													</div><!-- End .col-md-6 -->

													<div class="col-md-6 col-sm-6 col-xs-12">
														<div class="input-group textarea-container">
															<span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Ваш комментарий&#42;</span></span>
															<textarea name="comment" id="comment-comment" required class="form-control" cols="30" rows="6" placeholder="Ваш комментарий"></textarea>
														</div><!-- End .input-group -->
														<input type="submit" value="ОПУБЛИКОВАТЬ" class="btn btn-custom-2">
													</div><!-- End .col-md-6 -->
												</form>
											</div><!-- End .row -->
										</div><!-- End .comments -->
								</article><!-- End .article -->

							</div><!-- End .col-md-9 -->

							{% include 'blog/include/sidebar.html' %}
					</div><!-- End .row -->

				</div><!-- End .col-md-12 -->
			</div><!-- End .row -->
		</div><!-- End .container -->

	</section><!-- End #content -->
{% endblock %}

{% block popups %}
	<div class="modal fade" id="comment-reply" tabindex="-1" role="dialog" aria-labelledby="comment-reply" aria-hidden="true" style="display: none;">
		<div class="modal-dialog modal-lg">
			<form action="{% url 'blog:add-comment' %}" class="ajax_form comment_form" id="popup-comment-form" method="post">			
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="myModalLabel3">Ответить на комментарий <span class="root_comment_author"></span></h4>
					</div><!-- End .modal-header -->
					<div class="modal-body">
						<div class="row">
							{% csrf_token %}
							{% if not request.user.is_anonymous %}<input type="hidden" name="profile" value="{{ request.user.id }}">{% endif %}
							<input type="hidden" name="post" value="{{ post.id }}">
							<input type="hidden" name="root" value="">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="input-group">
									<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
									<input type="text" name="author" id="comment-name" required class="form-control input-lg" placeholder="Ваше имя" value="{{ request.user.get_short_name }}">
								</div><!-- End .input-group -->
								<div class="input-group">
									<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
									<input type="email" name="email" id="comment-email" required class="form-control input-lg" placeholder="Ваш email" value="{{ request.user.email }}">
								</div><!-- End .input-group -->
								<div class="input-group">
									<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Тема</span></span>
									<input type="text" name="subject" id="comment-subject" class="form-control input-lg" placeholder="Тема">
								</div><!-- End .input-group -->
							</div><!-- End .col-md-6 -->
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="input-group textarea-container">
									<span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Ваш комментарий&#42;</span></span>
									<textarea name="comment" id="comment-comment" required class="form-control" cols="30" rows="6" placeholder="Ваш комментарий"></textarea>
								</div><!-- End .input-group -->
							</div><!-- End .col-md-6 -->
						</div><!-- End .row -->
					</div><!-- End .modal-body -->
					<div class="modal-footer">
						<p class="item-desc">Ваш email не будет опубликован. Обязательные поля отмечены *</p>
						<button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
						<input type="submit" value="ОПУБЛИКОВАТЬ" class="btn btn-custom-2">
					</div><!-- End .modal-footer -->
				</div><!-- End .modal-content -->
			</form>
		</div><!-- End .modal-dialog -->
	</div>
{% endblock %}
