{% extends "base.html" %}

{% block meta_title %}{{ seo_settings.500.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.500.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.500.get_meta_keyw }}{% endblock %}

{% block content %}
  <section id="content" class="no-content">
    <div class="lg-margin"></div><!-- Space -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="no-content-comment">
            <h2>500</h2>
            <h3>Кажется, у нас какие-то проблемы. <br> Очень скоро мы всё починим!</h3>
          </div><!-- End .no-content-comment -->
        </div><!-- End .col-md-12 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </section><!-- End #content -->
{% endblock %}
