{% extends 'base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ page.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ page.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ page.get_meta_keyw }}{% endblock %}

{% block content %}
    <section id="content">
        <div id="page-header"{% if page.background_image %} style="background-image: url('{{ page.background_image.url }}');"{% endif %}>
            <h1>
                {{ page.title }}
                <span class="small-bottom-border big"></span><!-- small-bottom-border -->
            </h1>
            <div class="md-margin"></div><!-- space -->
            {% if page.description %}
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                          <p class="page-header-desc">{{ page.description|linebreaksbr }}</p>
                      </div><!-- End .col-md-8 -->
                  </div><!-- End .row -->
              </div> <!-- End .container -->
            {% endif %}
        </div><!-- End #page-header -->

        <div class="md-margin2x"></div><!-- space -->

        {% for block in page.text_blocks.all %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <header class="content-title">
                                <h2 class="title">{{ block.title }}</h2>
                                <div class="xss-margin"></div><!-- space -->
                            </header>
                            {{ block.text|safe }}
                        </div><!-- End.row -->
                        <div class="xlg-margin2x"></div><!-- space -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End.row -->
            </div><!-- End .container -->
        {% endfor %}

        {% if page.testimonials.count %}
            <div id="testimonials-section"{% if page.testimonials_bg_image %} style="background-image: url('{{ page.testimonials_bg_image.url }}');"{% endif %}>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h3>
                                Отзывы
                                <span class="small-bottom-border big"></span>
                            </h3>
                            <div class="about-us-testimonials flexslider">
                                <ul class="slides">
                                    {% for t in page.testimonials %}
                                        <li>
                                            <span class="testimonial-title">{{ t.title }}</span>
                                            <p>{{ t.text|linebreaksbr }}</p>
                                            {% if t.url %}<a class="testimonial-owner" href="{{ t.url }}" style="color: #696969;">
                                                {{ t.author }}
                                            </a>{% else %}<span class="testimonial-owner">{{ t.author }}
                                            </span>{% endif %}<span class="testimonial-date">{{ t.date|date:"d.m.Y" }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- End about-us-testimonials -->
                        </div><!-- End .col-md-8 -->
                    </div><!-- End.row -->
                </div><!-- End.container -->

            </div><!-- End #testimonials-section -->
            <div class="xlg-margin2x"></div><!-- space -->
        {% endif %}

        {% if page.manufacturers.count %}
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="brand-slider-container" class="carousel-wrapper">
                            <header class="content-title">
                                <div class="title-bg">
                                    <h2 class="title">Поставщики</h2>
                                </div><!-- End .title-bg -->
                            </header>
                            <div class="carousel-controls">
                                <div id="brand-slider-prev" class="carousel-btn carousel-btn-prev">
                                </div><!-- End .carousel-prev -->
                                <div id="brand-slider-next" class="carousel-btn carousel-btn-next carousel-space">
                                </div><!-- End .carousel-next -->
                            </div><!-- End .carousel-controllers -->
                            <div class="sm-margin"></div><!-- space -->
                            <div class="row">
                                <div class="brand-slider owl-carousel">
                                    {% for m in page.manufacturers %}
                                        {% if m.url %}
                                            <a href="{{ m.url }}"{% if m.target_blank %} target="_blank"{% endif %}><img src="{% thumbnail m.image '170x100' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ m.title }}"></a>
                                        {% else %}
                                            <img src="{% thumbnail m.image '170x100' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ m.title }}">
                                        {% endif %}
                                    {% endfor %}
                                </div><!-- End .brand-slider -->
                            </div><!-- End .row -->
                        </div><!-- End #brand-slider-container -->
                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        {% endif %}
    </section><!-- End #content -->
{% endblock %}
