{% load staticfiles treenav_tags %}
<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8"> <![endif]-->
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block meta_title %}{{ seo_settings.global.get_meta_title }}{% endblock %}</title>
        <meta name="description" content="{% block meta_desc %}{{ seo_settings.global.meta_desc }}{% endblock %}"/>
        <meta name="keywords" content="{% block meta_keyw %}{{ seo_settings.global.meta_keyw }}{% endblock %}"/>

        <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="l7gvZNW_mRXDFM0kUPpJDdgvtGyZZAkp6oSK-k7-R2M" />

        {% comment %}
          <link href='//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic%7CPT+Gudea:400,700,400italic%7CPT+Oswald:400,700,300' rel='stylesheet' id="googlefont">
        {% endcomment %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/prettyPhoto.css' %}">
        <link rel="stylesheet" href="{% static 'css/revslider.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        {% block extra_css %}{% endblock %}
        {% block style_css %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
        <link rel="stylesheet" href="{% static 'css/minicolor/jquery.minicolors.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-slider.css' %}">
        <link rel="stylesheet" href="{% static 'css/extra.css' %}">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.css">

        <link rel="icon" href="{% static 'favicon.ico' %}">

        <!-- Favicon and Apple Icons -->
        {# <link rel="icon" type="image/png" href="{% static 'images/icons/icon.png' %}"> #}
        {# <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/icons/apple-icon-57x57.png' %}"> #}
        {# <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/icons/apple-icon-72x72.png' %}"> #}

        {% block head_js %}{% endblock %}

        <!--- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/jquery-1.11.1.min.js' %}"><\/script>')</script>

        <!--- Modernizr -->
        <script src="{% static 'js/modernizr.custom.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
    </head>
    <body>
    <div id="wrapper">
      <header id="header">
        <div id="header-top">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="header-top-left">
                  <ul id="top-links" class="clearfix">
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'profile:home' %}" title="Мой профиль"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">Мой профиль</span></a></li>
                      <li><a href="{% url 'cart:home' %}" title="Моя корзина"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">Моя корзина</span></a></li>
                      <li><a href="{% url 'cart:checkout' %}" title="Оформить"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">Оформить</span></a></li>
                      <li><a href="{% url 'shop:compare' %}" title="Сравнение товаров"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">Сравнение товаров (<span class="compared_count">{{ compared_count }}</span>)</span></a></li>
                      {% if user.is_seller %}
                        <li><a href="{% url 'shop:add' %}" title="Добавить товар"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">Добавить товар</span></a></li>
                      {% endif %}
                      {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}" title="Администрирование"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">Администрирование</span></a></li>
                      {% endif %}
                    {% else %}
                      <li><a href="{% url 'cart:home' %}" title="Моя корзина"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">Моя корзина</span></a></li>
                      <li><a href="{% url 'cart:checkout' %}" title="Оформить"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">Оформить</span></a></li>
                      <li><a href="{% url 'shop:compare' %}" title="Сравнение товаров"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">Сравнение товаров (<span class="compared_count">{{ compared_count }}</span>)</span></a></li>
                    {% endif %}
                  </ul>
                </div>
                <div class="header-top-right">
                  <div class="header-text-container pull-right">
                  {% if not user.is_authenticated %}
                    <p class="header-text">Добро пожаловать на Alazone!</p>
                    <!--<p class="header-link"><a href="/auth/login/">войти</a>&nbsp;или&nbsp;<a href="/auth/register/">создать аккаунт</a></p>-->
                    <p class="header-link"><a href="/auth/login/">войти</a>&nbsp;или&nbsp;<a href="#register" data-toggle="modal" data-target="#registerModal">создать аккаунт</a></p>
<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Создать аккаунт</h4>
      </div>
      <div class="modal-body text-center">
        <a href="/auth/register/seller/" class="btn btn-custom">Поставщик</a> <a href="/auth/register/" class="btn btn-custom">Покупатель</a>
      </div>
    </div>
  </div>
</div>
                  {% else %}
                    <p class="header-text">Добро пожаловать на Alazone{% if user.get_short_name %}, {{ user.get_short_name }}{% endif %}!</p>
                    <p class="header-link"><a href="/auth/logout/">выход</a></p>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="inner-header">
          <div class="container">
            <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12 logo-container">
              <h1 class="logo clearfix">
                <span>Alazone</span>
                <a href="{% url 'index' %}" title="Alazone">{% block header_logo %}<img src="{% static 'images/logo.png' %}" alt="Alazone" width="357" height="76">{% endblock %}</a>
              </h1>
            </div>
              <div class="col-md-7 col-sm-7 col-xs-12 header-inner-right">
              <div class="header-box contact-infos pull-right">
                <ul>
                  <li><span class="header-box-icon header-box-icon-skype"></span>{{ settings.header_skype }}</li>
                  <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:{{ settings.header_email }}">{{ settings.header_email }}</a></li>
                </ul>
              </div>
              <div class="header-box contact-phones pull-right clearfix">
                <span class="header-box-icon header-box-icon-earphones"></span>
                <ul class="pull-left">
                  <li>{{ settings.header_phone1 }}</li>
                  <li>{{ settings.header_phone2 }}</li>
                </ul>
              </div>
              <div class="header-box contact-infos pull-right">
                <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#help-popup">Помощь</button>
              </div>
              </div>
            </div>
          </div>

          <div id="main-nav-container">
            <div class="container">
              <div class="row">
                <div class="col-md-12 clearfix">
                  <nav id="main-nav">
                    <div id="responsive-nav">
                      <div id="responsive-nav-button">
                        Menu <span id="responsive-nav-button-icon"></span>
                      </div>
                    </div>
                    {% show_treenav "main-menu" full_tree="True" %}
                  </nav>

                  <div id="quick-access">
                    <div class="dropdown-cart-menu-container pull-right">
                    <div class="btn-group dropdown-cart">
                      <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                        <span class="cart-menu-icon"></span>
                        <span class="basket-total-items-label">{{ basket.count }}</span> <span class="basket-total-products-word">{{ basket_data.total_products_word|default:"товаров" }}</span> <span class="drop-price">на сумму <span class="basket-total-price-label">{{ basket.summary }}</span></span>
                      </button>

                      <div class="dropdown-menu dropdown-cart-menu pull-right clearfix" role="menu">
                        <p class="dropdown-cart-description">Последние добавленные товары</p>
                        <ul class="dropdown-cart-product-list">
                          {% for b_item in basket.cartitem_set.all|slice:"3" %}
                            <li class="item clearfix">
                              <a href="javascript:void(0);" data-id="{{ b_item.product_id }}" data-color-id="{{ b_item.color_id }}" title="Удалить" class="delete-item delete-from-basket"><i class="fa fa-times"></i></a>
                              <a href="javascript:void(0);" data-id="{{ b_item.product_id }}" data-color-id="{{ b_item.color_id }}" title="Редактировать" class="edit-item edit-basket-item"><i class="fa fa-pencil"></i></a>
                              <figure>
                                <a href="{{ b_item.product.get_absolute_url }}"><img src="/media/{{ b_item.product.get_cover_sliced_url }}" alt="{{ b_item.product.title }}"></a>
                              </figure>
                              <div class="dropdown-cart-details">
                                <p class="item-name">
                                  <a href="{{ b_item.product.get_absolute_url }}">{{ b_item.product.title }}</a>
                                </p>
                                <p>
                                  <input type="number" value="{{ b_item.quantity }}" class="quantity-edit-input" style="display:none;width:35px;">
                                  <span class="quantity-display-label">{{ b_item.quantity }}</span>x
                                  <span class="item-price">{{ b_item.price }}</span>
                                </p>
                              </div>
                            </li>
                          {% endfor %}
                        </ul>

                        <ul class="dropdown-cart-total">
                          <li><span class="dropdown-cart-total-title">Всего:</span><span class="basket-total-price-label">{{ basket_data.total_price }}</span></li>
                        </ul>
                        <div class="dropdown-cart-action">
                          <p><a href="{% url 'cart:home' %}" class="btn btn-custom-2 btn-block basket-header-button">Корзина</a></p>
                          {% if request.user.is_authenticated %}
														<p><a href="{% url 'cart:checkout' %}" class="btn btn-custom btn-block checkout-header-button">Оформить</a></p>
													{% else %}
														<p><button class="btn btn-custom btn-block checkout-header-button" data-toggle="modal" data-target="#checkout-login-popup">Оформить</button></p>
													{% endif %}
                        </div>
                        {% if not basket_data.items %}
													<script>
														$('.basket-total-price-label').text('0');
														$('.basket-total-items-label').text('0');
														$('.dropdown-cart-product-list').html('');
														$('.dropdown-cart-product-list').hide();
														$('.dropdown-cart-description').hide();
														$('.basket-header-button').attr('disabled', true);
														$('.checkout-header-button').attr('disabled', true);
													</script>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <form class="form-inline quick-search-form" role="form" action="{% url 'search' %}">
                    <div class="form-group">
                      <input type="text" class="form-control" name="q" placeholder="Поиск товаров">
                      <!-- <input type="hidden" name="order_by" value="price"> -->
                    </div>
                    <button type="submit" id="quick-search" class="btn btn-custom"></button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      {% block content %}{% endblock %}


        <footer id="footer">
        	<div id="twitterfeed-container">
        		<div class="container">
        			<div class="row">

        				<div class="twitterfeed col-md-12">
        					<div class="twitter-icon"><i class="fa fa-twitter"></i></div><!-- End .twitter-icon -->
        					<div class="row">
        						<div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        							<div class="twitter_feed flexslider"></div>
        						</div>
        					</div>

        				</div><!-- End .twiitterfeed .col-md-12 -->

        			</div><!-- End .row -->
    			</div><!-- End .container -->
        	</div><!-- End #twitterfeed-container -->
        	<div id="inner-footer">

				<div class="container">
					<div class="row">
						{% footer_menu 'footer-menu' 0 %}

						{% comment %}
							{% footer_menu 'footer-profile' 0 %}
							{% footer_menu 'footer-information' 0 %}
						{% endcomment %}

						<div class="clearfix visible-sm"></div>


						{% comment %}
							<div class="col-md-3 col-sm-12 col-xs-12 widget">
								<h3>FACEBOOK LIKE BOX</h3>
								<div class="facebook-likebox">
									<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false"></iframe>
								</div>
							</div><!-- End .widget -->
						{% endcomment %}

					</div><!-- End .row -->
				</div><!-- End .container -->

        	</div><!-- End #inner-footer -->

        	<div id="footer-bottom">
        		<div class="container">
        			<div class="row">
        				<div class="col-md-7 col-sm-7 col-xs-12 footer-social-links-container">
        					<ul class="social-links clearfix">
                    {% if settings.link_vk %}<li><a href="{{ settings.link_vk }}" class="social-icon _vk"></a></li>{% endif %}
                    {% if settings.link_fb %}<li><a href="{{ settings.link_fb }}" class="social-icon _fb"></a></li>{% endif %}
                    {% if settings.link_tw %}<li><a href="{{ settings.link_tw }}" class="social-icon _tw"></a></li>{% endif %}
                    {% if settings.link_gplus %}<li><a href="{{ settings.link_gplus }}" class="social-icon _gplus"></a></li>{% endif %}
                    {% if settings.link_mailru %}<li><a href="{{ settings.link_mailru }}" class="social-icon _mailru"></a></li>{% endif %}
                    {% if settings.link_ok %}<li><a href="{{ settings.link_ok }}" class="social-icon _ok"></a></li>{% endif %}

        						{# <li><a href="#" class="social-icon icon-facebook"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-twitter"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-rss"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-delicious"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-linkedin"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-flickr"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-skype"></a></li> #}
        						{# <li><a href="#" class="social-icon icon-email"></a></li> #}
        					</ul>
        				</div><!-- End .col-md-7 -->

        				<div class="col-md-5 col-sm-5 col-xs-12 footer-text-container">
        					<p>&copy; {% now 'Y' %} Alazone&trade;.</p>
        				</div><!-- End .col-md-5 -->
        			</div><!-- End .row -->
						</div><!-- End .container -->
        	</div><!-- End #footer-bottom -->
        </footer><!-- End #footer -->
    </div>

    <a href="javascript:void(0);" id="scroll-top" title="Наверх"><i class="fa fa-angle-up"></i></a>

    <div class="modal fade" id="help-popup" tabindex="-1" role="dialog" aria-labelledby="help-popup" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel3">Нужна помощь?</h4>
          </div><!-- End .modal-header -->
          <div class="modal-body">
            <p>Позвоните по телефону {{ settings.help_phone|default:settings.header_phone1 }}</p>
            <p>или перейдите на <a href="{% url 'support' %}">страницу помощи</a>.</p>
          </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
      </div><!-- End .modal-dialog -->
    </div>

		<div class="modal fade" id="checkout-login-popup" tabindex="-1" role="dialog" aria-labelledby="checkout-login-popup" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel1">Авторизуйтесь как наш постоянный клиент</h4>
					</div><!-- End .modal-header -->
					<div class="modal-body">
						<form class="ajax_form show_field_errors redirect_after" data-redirect-to="{% url 'cart:checkout' %}" action="{% url 'auth-ajax-login' %}" id="login-form" method="post">
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
								<input type="email" name="email" required class="form-control" placeholder="Ваш email">
							</div><!-- End .input-group -->
							<div class="input-group">
								<span class="input-group-addon"><span class="input-icon input-icon-password"></span><span class="input-text">Пароль&#42;</span></span>
								<input type="password" name="password" required class="form-control" placeholder="Ваш пароль">
							</div><!-- End .input-group -->
							<span class="help-block text-right" style="margin-top: 20px;"><a href="{% url 'auth_password_reset' %}">Забыли пароль?</a></span>
							<button class="btn btn-custom-2" style="margin-top: -20px;">ВОЙТИ</button>
						</form>
					</div><!-- End .modal-body -->
					<div class="modal-footer" style="text-align: left; margin-bottom: 10px;">
						<h4>Нет аккаунта?</h4>
						<p>Вы можете создать аккаунт при оформлении заказа либо продолжить без регистрации.</p>
						<p>Создав аккаунт в нашем магазине, вы сможете просматривать и отслеживать свои заказы, а также проходить процесс покупки быстрее.</p>
						<a href="{% url 'cart:checkout' %}?t=with_registration" type="button" class="btn btn-default">СОЗДАТЬ АККАУНТ</a>
						<a href="{% url 'cart:checkout' %}?t=without_registration" type="button" class="btn btn-default">БЕЗ РЕГИСТРАЦИИ</a>
					</div><!-- End .modal-footer -->
				</div><!-- End .modal-content -->
			</div><!-- End .modal-dialog -->
		</div><!-- End .modal -->

		{% block popups %}{% endblock %}

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.js"></script>
    <script src="{% static 'js/bootstrap-slider.js' %}"></script>
    <script src="{% static 'js/smoothscroll.js' %}"></script>
    <script src="{% static 'js/jquery.debouncedresize.js' %}"></script>
    {# <script src="{% static 'js/retina.min.js' %}"></script> #}

    <script src="{% static 'js/jquery.matchHeight.js' %}" type="text/javascript"></script>
    <script>$(function() { $('.item-name a').matchHeight(); });</script>

    <script src="{% static 'js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jflickrfeed.min.js' %}"></script>
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'js/jquery.fitvids.js' %}"></script>
    <script src="{% static 'js/jquery.elastislide.js' %}"></script>
    <script src="{% static 'js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/twitter/jquery.tweet.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

    {% block js_slider_revolution %}
      <script>
          $(function() {
              // Slider Revolution
              jQuery('#slider-rev').revolution({
                delay:8000,
                startwidth:1170,
                startheight:600,
                onHoverStop:"true",
                hideThumbs:250,
                navigationHAlign:"center",
                navigationVAlign:"bottom",
                navigationHOffset:0,
                navigationVOffset:20,
                soloArrowLeftHalign:"left",
                soloArrowLeftValign:"center",
                soloArrowLeftHOffset:0,
                soloArrowLeftVOffset:0,
                soloArrowRightHalign:"right",
                soloArrowRightValign:"center",
                soloArrowRightHOffset:0,
                soloArrowRightVOffset:0,
                touchenabled:"on",
                stopAtSlide:-1,
                stopAfterLoops:-1,
                dottedOverlay:"none",
                fullWidth:"on",
                spinned:"spinner5",
                shadow:0,
                hideTimerBar: "on"
                // navigationStyle:"preview4"
              });
          });
      </script>
    {% endblock %}

    {# <script type="text/javascript" src="{% static 'js/jquery.pstrength-min.1.2.js' %}"></script> #}

    <script>
      var csrftoken = '{{ csrf_token }}';
    </script>
	
	<script>
	(function ($) {
	$.extend($.summernote.lang, {
	'ru-RU': {
	font: {
	bold: 'Полужирный',
	italic: 'Курсив',
	underline: 'Подчёркнутый',
	clear: 'Убрать стили шрифта',
	height: 'Высота линии',
	name: 'Шрифт',
	strikethrough: 'Зачёркнутый',
	subscript: 'Нижний индекс',
	superscript: 'Верхний индекс',
	size: 'Размер шрифта'
	},
	image: {
	image: 'Картинка',
	insert: 'Вставить картинку',
	resizeFull: 'Восстановить размер',
	resizeHalf: 'Уменьшить до 50%',
	resizeQuarter: 'Уменьшить до 25%',
	floatLeft: 'Расположить слева',
	floatRight: 'Расположить справа',
	floatNone: 'Расположение по-умолчанию',
	shapeRounded: 'Форма: Закругленная',
	shapeCircle: 'Форма: Круг',
	shapeThumbnail: 'Форма: Миниатюра',
	shapeNone: 'Форма: Нет',
	dragImageHere: 'Перетащите сюда картинку',
	dropImage: 'Перетащите картинку',
	selectFromFiles: 'Выбрать из файлов',
	url: 'URL картинки',
	remove: 'Удалить картинку'
	},
	video: {
	video: 'Видео',
	videoLink: 'Ссылка на видео',
	insert: 'Вставить видео',
	url: 'URL видео',
	providers: '(YouTube, Vimeo, Vine, Instagram, DailyMotion или Youku)'
	},
	link: {
	link: 'Ссылка',
	insert: 'Вставить ссылку',
	unlink: 'Убрать ссылку',
	edit: 'Редактировать',
	textToDisplay: 'Отображаемый текст',
	url: 'URL для перехода',
	openInNewWindow: 'Открывать в новом окне'
	},
	table: {
	table: 'Таблица'
	},
	hr: {
	insert: 'Вставить горизонтальную линию'
	},
	style: {
	style: 'Стиль',
	normal: 'Нормальный',
	blockquote: 'Цитата',
	pre: 'Код',
	h1: 'Заголовок 1',
	h2: 'Заголовок 2',
	h3: 'Заголовок 3',
	h4: 'Заголовок 4',
	h5: 'Заголовок 5',
	h6: 'Заголовок 6'
	},
	lists: {
	unordered: 'Маркированный список',
	ordered: 'Нумерованный список'
	},
	options: {
	help: 'Помощь',
	fullscreen: 'На весь экран',
	codeview: 'Исходный код'
	},
	paragraph: {
	paragraph: 'Параграф',
	outdent: 'Уменьшить отступ',
	indent: 'Увеличить отступ',
	left: 'Выровнять по левому краю',
	center: 'Выровнять по центру',
	right: 'Выровнять по правому краю',
	justify: 'Растянуть по ширине'
	},
	color: {
	recent: 'Последний цвет',
	more: 'Еще цвета',
	background: 'Цвет фона',
	foreground: 'Цвет шрифта',
	transparent: 'Прозрачный',
	setTransparent: 'Сделать прозрачным',
	reset: 'Сброс',
	resetToDefault: 'Восстановить умолчания'
	},
	shortcut: {
	shortcuts: 'Сочетания клавиш',
	close: 'Закрыть',
	textFormatting: 'Форматирование текста',
	action: 'Действие',
	paragraphFormatting: 'Форматирование параграфа',
	documentStyle: 'Стиль документа',
	extraKeys: 'Дополнительные комбинации'
	},
	history: {
	undo: 'Отменить',
	redo: 'Повтор'
	}
	}
	});
	})(jQuery);

	$(document).ready(function() {
		$('textarea[name="description"],textarea[name="description_new"]').summernote({
			lang: 'ru-RU',
			height: 320,
			minHeight: null,
			maxHeight: null,
			focus: true
		});
	});
	</script>

    <script src="{% static 'js/extra.js' %}"></script>
    {% block extra_js %}{% endblock %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-72801766-1', 'auto');
  ga('send', 'pageview');
</script>
    </body>
</html>
