{% extends 'base.html' %}
{% load content_tags staticfiles thumbnail %}

{% block meta_title %}{{ seo_settings.index.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.index.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.index.get_meta_keyw }}{% endblock %}

{% block content %}
	<section id="content">
		{% if slider.count %}
			{% include 'include/homepage_slider.html' %}
		{% endif %}

		<div class="md-margin2x"></div><!-- Space -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-9 col-sm-8 col-xs-12 main-content">
							<header class="content-title">
								<h2 class="title">Наша продукция</h2>
								{% if settings.index_products_description %}{{ settings.index_products_description|safe }}{% endif %}
							</header>
							<ul id="products-tabs-list" class="tab-style-1 clearfix">
								{% for category, _ in categories %}
									<li{% if forloop.first %} class="active"{% endif %}><a href="#category{{ forloop.counter }}" data-toggle="tab">{{ category }}</a></li>
								{% endfor %}
							</ul>
							<div id="products-tabs-content" class="row tab-content">
								{% for _, products in categories %}
									<div class="tab-pane{% if forloop.first %} active{% endif %}" id="category{{ forloop.counter }}">
										{% for product in products %}
											<div class="col-md-4 col-sm-6 col-xs-12">
												{% include 'catalog/include/product.html' with product=product %}
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div><!-- End #products-tabs-content -->
						<div class="sm-margin"></div><!-- Space -->
							<div class="row">
								<div class="col-md-7 col-sm-7 col-xs-12">
									<header class="content-title">
										<h2 class="title">Добро пожаловать на Alazone</h2>
									</header>
									{% if settings.index_about_text %}{{ settings.index_about_text|safe }}{% endif %}
								</div><!-- End .col-md-7 -->
								<div class="col-md-5 col-sm-5 col-xs-12">
									<div class="sm-margin visible-xs"></div><!-- space -->
									<img src="{{ settings.homepage_welcome_image|default:'https://pp.vk.me/c306910/v306910409/11c1/AXxkVf2x3Kc.jpg' }}" alt="Добро пожаловать на Alazone" class="img-responsive">
								</div><!-- End .col-md-5 -->
							</div><!-- End .row -->
							<div class="xlg-margin"></div><!-- Space -->

							{% if products_on_sale.count %}
								<div class="hot-items carousel-wrapper">
									<header class="content-title">
										<div class="title-bg">
											<h2 class="title">Новые и популярные товары</h2>
										</div><!-- End .title-bg -->
										{% if settings.index_sale_description %}<p class="title-desc">{{ settings.index_sale_description|safe }}</p>{% endif %}
									</header>

									<div class="carousel-controls">
										<div id="hot-items-slider-prev" class="carousel-btn carousel-btn-prev">
										</div><!-- End .carousel-prev -->
										<div id="hot-items-slider-next" class="carousel-btn carousel-btn-next carousel-space">
										</div><!-- End .carousel-next -->
									</div><!-- End .carousel-controls -->
									<div class="hot-items-slider owl-carousel">
										{% for product in products_on_sale %}
											{% include 'catalog/include/product.html' with product=product %}
										{% endfor %}
									</div><!--hot-items-slider -->

									<div class="lg-margin"></div><!-- Space -->
								</div><!-- End .hot-items -->
							{% endif %}
						</div><!-- End .col-md-9 -->

						<div class="col-md-3 col-sm-4 col-xs-12 sidebar">
							{% include 'include/subscribe_form.html' %}
							{% include 'include/search_request_form.html' %}
							{% homepage_testimonials %}
							{% latest_news %}
							{% homepage_banners %}
							{% sponsored_products %}
						</div><!-- End .col-md-3 -->
					</div><!-- End .row -->

					{% homepage_manufacturers %}

				</div><!-- End .col-md-12 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</section><!-- End #content -->
{% endblock %}
