{% extends 'base.html' %}
{% load thumbnail %}

{% block meta_title %}{{ page.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ page.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ page.get_meta_keyw }}{% endblock %}

{% block head_js %}
  <!-- Google map javascript api v3 -->
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var mapProp = {
        center:new google.maps.LatLng(51.508742,-0.120850),
        zoom:5,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      };
      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
{% endblock %}

{% block content %}
  
  <section id="content">
    <div id="breadcrumb-container">
      <div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">{{ page.title }}</li>
				</ul>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="content-title">
            <h1 class="title">{{ page.title }}</h1>
            {% if page.description %}<p class="title-desc">{{ page.description|linebreaksbr }}</p>{% endif %}
          </header>
          {{ page.text|safe }}
          <div class="xs-margin"></div><!-- space -->
          {% if page.slug == 'contacts' %}
            <div class="row">

              <div class="col-md-12" id="googleMapContainer">
                <div id="googleMap" style="width: 800px; height: 350px; margin-bottom: 50px"></div>
                <!-- <div id="googleMap" style="height: 350px; margin-bottom: 50px;"> -->
                </div>
              </div><!-- End .col-md-12 -->

              <div class="col-md-8 col-sm-8 col-xs-12">
                <h2 class="sub-title">НАПИШИТЕ НАМ</h2>
                <div class="row">
                  <form action="{% url 'feedback-form' %}" method="post" id="contact-form" class="ajax_form">
										{% csrf_token %}
										<div class="alert alert-success" style="display: none;">
											<strong>Сообщение отправлено!</strong> Спасибо, мы с вами свяжемся.
										</div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
											{% if not request.user.is_anonymous %}<input type="hidden" name="profile" value="{{ request.user.id }}">{% endif %}
											<div class="input-group">
												<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
												<input type="text" name="name" id="contact-name" required class="form-control input-lg" placeholder="Ваше имя" value="{{ request.user.get_short_name }}">
											</div><!-- End .input-group -->
                      <div class="input-group">
												<span class="input-group-addon"><span class="input-icon input-icon-email"></span><span class="input-text">Email&#42;</span></span>
												<input type="email" name="email" id="contact-email" required class="form-control input-lg" placeholder="Ваш email" value="{{ request.user.email }}">
											</div><!-- End .input-group -->
                      <div class="input-group">
												<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Тема&#42;</span></span>
												<input type="text" name="subject" id="contact-subject" required class="form-control input-lg" placeholder="Тема">
											</div><!-- End .input-group -->
                      <p class="item-desc">Ваш email не будет опубликован. Обязательные поля отмечены *</p>
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="input-group textarea-container">
                    <span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Ваше сообщение</span></span>
                    <textarea name="message" id="contact-message" class="form-control" cols="30" rows="6" placeholder="Ваше сообщение"></textarea>
                  </div><!-- End .input-group -->
                    <input type="submit" value="ОТПРАВИТЬ" class="btn btn-custom-2 md-margin">
                    </div><!-- End .col-md-6 -->
                  </form>
                </div><!-- End .row -->
              </div><!-- End .col-md-8 -->

              <div class="col-md-4 col-sm-4 col-xs-12">
                <h2 class="sub-title">НАШИ КОНТАКТЫ</h2>
                <ul class="contact-details-list">
                  {% if settings.contacts_phone1 or settings.contacts_phone2 %}
                    <li>
                      <span class="contact-icon contact-icon-phone"></span>
                      <ul>
                        <li>{{ settings.contacts_phone1 }}</li>
                        <li>{{ settings.contacts_phone2 }}</li>
                      </ul>
                    </li>
                  {% endif %}
                  {% if settings.contacts_mobile1 or settings.contacts_mobile2 %}
                    <li>
                      <span class="contact-icon contact-icon-mobile"></span>
                      <ul>
                        <li>{{ settings.contacts_mobile1 }}</li>
                        <li>{{ settings.contacts_mobile2 }}</li>
                      </ul>
                    </li>
                  {% endif %}
                  {% if settings.contacts_email1 or settings.contacts_email2 %}
                    <li>
                      <span class="contact-icon contact-icon-email"></span>
                      <ul>
                        <li>{{ settings.contacts_email1 }}</li>
                        <li>{{ settings.contacts_email2 }}</li>
                      </ul>
                    </li>
                  {% endif %}
                  {% if settings.contacts_skype1 or settings.contacts_skype2 %}
                    <li>
                      <span class="contact-icon contact-icon-skype"></span>
                      <ul>
                        <li>{{ settings.contacts_skype1 }}</li>
                        <li>{{ settings.contacts_skype2 }}</li>
                      </ul>
                    </li>
                  {% endif %}
                </ul>
              </div><!-- End .col-md-4 -->
            </div><!-- End .row -->
            {% endif %}

          </div><!-- End .col-md-12 -->
        </div><!-- End .row -->
     </div><!-- End .container -->

  </section><!-- End #content -->
{% endblock %}
