{% extends 'base.html' %}
{% load catalog_tags content_tags staticfiles %}

{% block meta_title %}{{ seo_settings.search.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.search.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.search.get_meta_keyw }}{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">Поиск</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
    					<aside class="col-md-3 col-sm-12 col-xs-12 sidebar">
					    	<form class="filter_form search_form" method="get" action="{{ request.path }}">
	    						{% include 'include/search_sidebar.html' %}
	    						<input type="hidden" name="order_by" value="{{ order_by.value }}">
							</form>
                        </aside><!-- End .col-md-3 -->
						<div class="col-md-9 col-sm-8 col-xs-12 main-content">
							{% include 'ajax/search_product_list.html' %}
						</div><!-- End .col-md-9 -->
					</div><!-- End .row -->
				</div><!-- End .col-md-12 -->
			</div><!-- End .row -->
		</div><!-- End .container -->
	</section><!-- End #content -->
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/filter.js' %}"></script>
{% endblock %}
