{% load treenav_tags i18n %}
{% for item in menuitem.enabled_children %}
	<li><a href="{% if item.node.href %}{{ item.node.href }}{% else %}{% url 'treenav_undefined_url' item_slug=item.node.slug %}{% endif %}">{% trans item.node.label %}</a></li>
{% endfor %}
