{% load treenav_tags i18n %}

{% for column in menuitem.enabled_children %}
	<div class="col-md-3 col-sm-4 col-xs-12 widget">
		<h3>{% trans column.node.label %}</h3>
		<ul class="links">
			{% for item in column.enabled_children %}
				<li><a href="{% if item.node.href %}{{ item.node.href }}{% else %}{% url 'treenav_undefined_url' item_slug=item.node.slug %}{% endif %}">{% trans item.node.label %}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endfor %}
