{% load treenav_tags i18n %}
{% load url from future %}
{% if menuitem.enabled_children %}
  <ul{% if menuitem.node.level == 0 %} class="menu clearfix"{% endif %}>
    {% for item in menuitem.enabled_children %}
      {% if item.node.slug == 'shop' %}
        <li class="mega-menu-container{% if item.active %} active{% endif %}">
          <a{% if item.active %} class="active"{% endif %} href="{% if item.node.href %}{{ item.node.href }}{% else %}{% url 'treenav_undefined_url' item_slug=item.node.slug %}{% endif %}" title="{{ item.node.label }}">{% trans item.node.label %}</a>
          <div class="mega-menu clearfix">
            {% for category in root_categories %}
              <div class="col-5">
                <a href="{{ category.get_absolute_url }}" class="mega-menu-title">{{ category.title }}</a>
                <ul class="mega-menu-list clearfix">
                  {% for child in category.get_descendants %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child.title }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
          </div>
        </li>
      {% else %}
        <li{% if item.active %} class="active"{% endif %}>
          <a{% if item.active %} class="active"{% endif %} href="{% if item.node.href %}{{ item.node.href }}{% else %}{% url 'treenav_undefined_url' item_slug=item.node.slug %}{% endif %}" title="{{ item.node.label }}">{% trans item.node.label %}</a>
          {% if item.active or full_tree %}{% if not single_level %}
            {% render_menu_children item %}
          {% endif %}{% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}
