{% extends "base.html" %}
{% load catalog_tags thumbnail staticfiles %}

{% block meta_title %}{{ category.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ category.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ category.get_meta_keyw }}{% endblock %}

{% block style_css %}
	{% if category.use_home4 %}<link rel="stylesheet" href="{% static 'css/style-pink.css' %}">
	{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block header_logo %}
	{% if category.use_home4 %}<img src="{% static 'images/pink/logo.png' %}" alt="Alazone" width="238" height="76">
	{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block content %}
<section id="content">
	<div id="category-header">
	    <div class="row">
		<div class="container">
		    <div class="col-2">
			<div class="category-image">
			    {% if category.cover %}
			    	<img src="{{ category.cover.url }}" alt="{{ category.title }}" class="img-responsive">
			    {% endif %}
			</div>
		    </div>
		    <div class="col-2 last">
			<div class="category-title">
			    <h2>{{ category.title }}</h2>
			    {% if category.description %}<p>{{ category.description|linebreaksbr }}</p>{% endif %}
			</div>
		    </div>
		</div>
	    </div>
	</div>

	<div id="category-breadcrumb">
	    <div class="container">
		<ul class="breadcrumb">
		    <li><a href="{% url 'index' %}">Главная</a></li>
		    <li><a href="{% url 'shop:home' %}">Продукция</a></li>
		    {% for cat in category.get_ancestors %}
		      <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
		    {% endfor %}
		    <li class="active">{{ category.title }}</li>
		</ul>
	    </div>
	</div>
	<div class="container">
	    <div class="row">
		<div class="col-md-12">
		    <div class="row">
		    	<form class="filter_form" method="get" action="{{ request.path }}">
					<div class="col-md-9 col-sm-8 col-xs-12 main-content product_list">
						{% include 'catalog/ajax/product_list.html' %}
					</div>
					<aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
					    <div class="widget">
							<div class="panel-group custom-accordion sm-accordion" id="category-filter">
							    {% if category.get_children.count %}
									<div class="panel">
									    <div class="accordion-header">
										<div class="accordion-title"><span>Категория</span></div>
										<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
									    </div>

									    <div id="category-list-1" class="collapse in">
										<div class="panel-body">
										    <ul class="category-filter-list jscrollpane">
												{% for cat in category.get_children %}
													<li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}{% if cat.products.count %} ({{ cat.products.count }}){% endif %}</a></li>
												{% endfor %}
										    </ul>
										</div>
									    </div>
									</div>
							    {% endif %}

							    <div class="panel">
									<div class="accordion-header">
									    <div class="accordion-title"><span>Цена</span></div>
									    <a class="accordion-btn opened" data-toggle="collapse" data-target="#category-list-3"></a>
									</div>

									<div id="category-list-3" class="collapse in">
									    <div class="panel-body">
									    	<label for="price" class="price_label">Цена: </label><span class="price_range">{{ price.min|default:0 }} тнг. - {{ price.max }} тнг.</span>
											<input class="price-slider" data-slider-id='priceSlider{% if category.use_home4 %}-pink{% endif %}' type="text" data-slider-min="{{ price_miminax.min|default:0 }}" data-slider-max="{{ price_minimax.max }}" data-slider-step="1" data-slider-value="[{{ price.min|default:0 }},{{ price.max }}]"/>
											<input name="price" type="hidden" value="{% if filter_by_price %}{{ price.min|default:0 }}-{{ price.max }}{% endif %}"/>
											<!--
												<div id="price-range"></div>
												<div id="price-range-details">
												    <span class="sm-separator">от</span>
												    <input type="text" id="price-range-low" class="separator">
												    <span class="sm-separator">до</span>
												    <input type="text" id="price-range-high">
												</div>
												<div id="price-range-btns">
												    <a href="#" class="btn btn-custom-2 btn-sm">ОК</a>
												    <a href="#" class="btn btn-custom-2 btn-sm">Очистить</a>
												</div>
											 -->
									    </div>
									</div>
							    </div>

							    <div class="panel">
									<div class="accordion-header">
										<div class="accordion-title"><span>Цвет</span></div>
										<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-4"></a>
									</div>
									<div id="category-list-4" class="collapse in">
										<div class="panel-body">
											<ul class="filter-color-list clearfix">
												{% for color in category.color_set %}
													<li class="nomargin hiddable">
														<input class="color-option filter-color-box color_button{% if color in f.colors__hex_value__in %} on{% endif %}" type="button" data-bgcolor="#{{ color }}" data-color="{{ color }}" name="color" id="color_{{ forloop.counter }}">
														{% if color in f.colors__hex_value__in %}<input type="hidden" name="color" value="{{ color }}">{% endif %}
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
							    </div>

								{% for a in category.get_attrs_with_values %}
									<div class="panel">
										<div class="accordion-header">
											<div class="accordion-title"><span>{{ a.attr.kwargs.verbose_name }}</span></div>
											<a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-{{ a.attr.name }}"></a>
										</div>
										<div id="category-list-{{ a.attr.name }}" class="collapse in">
											<div class="panel-body">
												<ul class="clearfix">
													{% for value in a.values %}
														{% is_value_in_filter attrs_filter a.attr.name a.attr.class value as is_checked %}
														<li class="nomargin hiddable checker_container">
															<div class="checker">
																<span class="checker_span{% if is_checked %} checked{% endif %}">
																	<input type="checkbox" class="checkbox attr_checkbox"{% if is_checked %} checked{% endif %} name="e_{{ a.attr.name }}" id="e_{{ a.attr.name }}-{{ forloop.counter }}" value="{% if a.attr.class == 'BooleanField' %}{% if value == 'Да' %}True{% elif value == 'Нет' %}False{% else %}{{ value }}{% endif %}{% else %}{{ value }}{% endif %}">
																</span>
															</div>
															<label class="checker_label" for="e_{{ a.attr.name }}-{{ forloop.counter }}"><span class="checker_title">{{ value }}</span></label>
														</li>
													{% endfor %}
												</ul>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
					    </div>
					</aside>
					<input type="hidden" name="order_by" value="{{ order_by.value }}">
				</form>
		    </div>
		</div>
	    </div>
	</div>
</section>
{% endblock %}

{% block extra_js %}
	<script src="{% static 'js/filter.js' %}"></script>
{% endblock %}
