{% extends 'base.html' %}
{% load catalog_tags staticfiles thumbnail %}

{% block meta_title %}{{ seo_settings.compare_products.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.compare_products.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.compare_products.get_meta_keyw }}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'css/venedor_extra.css' %}">{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li class="active">Сравнение товаров</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<header class="content-title">
						<h1 class="title">Сравнение товаров</h1>
					</header>
				</div>
			</div>

			{% if compared_categories|length %}
				<ul id="products-tabs-list" class="tab-style-1 clearfix">
					{% for category, _ in compared_categories %}
						<li{% if forloop.first %} class="active"{% endif %}><a href="#category{{ category.id }}" data-toggle="tab">{{ category.title }}</a></li>
					{% endfor %}
				</ul>

				<div id="products-tabs-content" class="tab-content">
					{% for category, products in compared_categories %}
						<div class="tab-pane{% if forloop.first %} active{% endif %}" id="category{{ category.id }}">
							<div class="products_block table-responsive">
								<table id="product_comparison" class="table table-bordered">
									<tbody>
										<tr>
											<td class="td_empty compare_extra_information">
												<span>Товар</span>
											</td>
											{% for product in products %}
												{% if product %}
													<td class="ajax_block_product comparison_infos product-block product-{{ product.id }}">
														<div class="product-image-block">
															<a class="product_image" href="{{ product.get_absolute_url }}" title="{{ product.title }}">
																{% with product.get_cover as cover %}
																	{% thumbnail cover.image '270x270' crop='center' as cover_thumb %}
																		<img class="img-responsive" src="{{ cover_thumb.url }}" alt="{{ cover.title|default:product.title }}">
																	{% endthumbnail %}
																{% endwith %}
															</a>
															{% if product.is_new or product.get_discount %}
																<div class="product-labels">
																	{% if product.is_new %}
																		<span class="new-box">
																			<span class="new-label">New</span>
																		</span>
																		{% endif %}
																		{% if product.get_discount %}
																		<span class="sale-box">
																			<span class="sale-label">-{{ product.get_discount }}%</span>
																		</span>
																	{% endif %}
																</div>
															{% endif %}
														</div>
														<h5>
															<a href="{{ product.get_absolute_url }}"><span class="product-name">{{ product.title }}</span></a>
														</h5>
														<div class="comparison_product_infos">
															<p class="comparison_availability_statut"></p>
														</div>
													</td>
												{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td class="td_empty compare_extra_information">
												<span>Цена</span>
											</td>
											{% for product in products %}
												{% if product %}
													<td class="product-{{ product.id }}">
														<div class="prices-container">
															{% if product.new_price %}
																<span class="price old-price">{{ product.show_price }} тнг.</span>
																<span class="price item-price">{{ product.show_new_price }} тнг.</span>
															{% else %}
																<span class="price item-price">{{ product.show_price }} тнг.</span>
															{% endif %}
														</div>
													</td>
												{% endif %}
											{% endfor %}
										</tr>
										<tr>
											<td class="td_empty compare_extra_information">
												<span>Описание</span>
											</td>
											{% for product in products %}
												{% if product %}
													<td class="product-{{ product.id }}">
														<div class="product_desc">{{ product.description|linebreaksbr }}</div>
													</td>
												{% endif %}
											{% endfor %}
										</tr>
										{% for attr in category.get_attrs %}
											<tr>
												<td class="feature-name td_empty">
													<strong>{{ attr.kwargs.verbose_name }}</strong>
												</td>
												{% for product in products %}
													{% if product %}
														<td class="comparison_infos product-{{ product.id }}">{% get_attr_value product attr.name attr.class %}</td>
													{% endif %}
												{% endfor %}
											</tr>
										{% endfor %}
										<tr>
											<td class="td_empty compare_extra_information"></td>
											{% for product in products %}
												{% if product %}
													<td class="product-{{ product.id }}">
														<div class="clearfix">
															<div class="button-container">
																<a href="javascript:void(0);" data-referrer="compare-page" data-color-id="0" data-quantity="1" data-id="{{ product.id }}" class="item-add-btn add-to-basket btn btn-default{% if product.quantity == 0 %} already_added no-pe{% else %}{% endif %}">
																	<span class="icon-cart-text">В корзину</span>
																</a>
																<div class="remove">
																	<a href="#" class="remove_from_compare" title="Удалить" data-remove-url="{% url 'profile:remove-from-compare' %}" data-id="{{ product.id }}">
																		<i class="icon-remove2"></i>
																	</a>
																</div>
															</div>
														</div>
													</td>
												{% endif %}
											{% endfor %}
										</tr>
									</tbody>
								</table>
							</div>
						</div><!-- End .tab-pane -->
					{% endfor %}
				</div><!-- End #product-tabs-content -->
			{% else %}
				<div class="compare_empty">
					<p>Здесь ничего нет.</p>
					<a href="{% url 'shop:home' %}" class="btn btn-default btn-sm">Добавить товары</a>
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
