{% extends "base.html" %}
{% load content_tags staticfiles thumbnail %}

{% block meta_title %}{{ seo_settings.catalog.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ seo_settings.catalog.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ seo_settings.catalog.get_meta_keyw }}{% endblock %}

{% block content %}
  <section id="content">
    <div id="slider-rev-container">
      <div id="slider-rev">
        <ul>
          {% for category in root_categories %}
            <li data-transition="fade" data-slotamount="6" data-masterspeed="600" data-saveperformance="on" data-title="{{ slide.title }}" style="background-color: #f2f2f2; border-top: 1px solid #e4e2e2; border-bottom: 1px solid #e4e2e2;">

              {# <img src="{% static 'images/revslider/dummy.png' %}"  alt="slidebg1" data-lazyload="{% thumbnail slide.background '1920x600' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"> #}
              <div class="tp-caption rev-title lfr ltr" data-x="695" data-y="198" data-speed="1600" data-start="300" data-endspeed="300">{{ category.title }}</div>

              <div class="description_container rev-text tp-caption lfr ltr" style="position: absolute;" data-x="695" data-y="252" data-speed="1600" data-start="600" data-endspeed="550">
                {% if category.description %}<div style="margin-bottom: 10px; white-space: normal;">{{ category.description|linebreaksbr }}</div>{% endif %}
                <div data-speed="1600" data-start="900" data-endspeed="800">
                  <a href="{{ category.get_absolute_url }}" target="_blank" class="btn btn-custom-2">Перейти</a>
                </div>
              </div>

              {% if category.cover %}
                <div class="tp-caption lfl ltl" data-x="center"  data-y="bottom"  data-hoffset="-230" data-speed="2000" data-start="500" data-endspeed="800">
                  <img src="{% thumbnail category.cover '640x589' crop='center' as thumb %}{{ thumb.url }}{% endthumbnail %}" alt="{{ category.title }}">
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div><!-- End #slider-rev -->
    </div><!-- End #slider-rev-container -->

    <div id="category-breadcrumb">
      <div class="container">
        <ul class="breadcrumb">
          <li><a href="{% url 'index' %}">Главная</a></li>
          <li class="active">Продукция</li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-9 col-sm-8 col-xs-12 main-content">
              <header class="content-title">
                <h2 class="title">Наша продукция</h2>
                {% if settings.index_products_description %}{{ settings.index_products_description|safe }}{% endif %}
              </header>
              <ul id="products-tabs-list" class="tab-style-1 clearfix">
                {% for category_title, _, _ in categories %}
                  <li{% if forloop.first %} class="active"{% endif %}><a href="#category{{ forloop.counter }}" data-toggle="tab">{{ category_title }}</a></li>
                {% endfor %}
              </ul>
              <div id="products-tabs-content" class="row tab-content">
                {% for _, category_url, products in categories %}
                  <div class="tab-pane{% if forloop.first %} active{% endif %}" id="category{{ forloop.counter }}">
                    {% if not forloop.first %}
                      <div style="margin: -10px 35px 10px auto; height: 31px;">
                        <a href="{{ category_url }}" target="_blank" class="btn btn-default btn-sm" style="float: right;">Перейти к категории</a>
                      </div>
                    {% endif %}
                    {% for product in products %}
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        {% include 'catalog/include/product.html' with product=product %}
                      </div>
                    {% endfor %}
                  </div>
                {% endfor %}
              </div><!-- End #products-tabs-content -->
            </div><!-- End .col-md-9 -->
            <div class="col-md-3 col-sm-4 col-xs-12 sidebar">
              {% include 'include/subscribe_form.html' %}
              {% include 'include/search_request_form.html' %}
              {% homepage_testimonials %}
              {% homepage_banners %}
              {% sponsored_products %}
            </div><!-- End .col-md-3 -->
          </div><!-- End .row -->
        </div><!-- End .col-md-12 -->
      </div><!-- End .row -->
    </div><!-- End .container -->
  </section><!-- End #content -->
{% endblock %}
