{% extends "base.html" %}
{% load thumbnail staticfiles %}

{% block meta_title %}{{ product.get_meta_title }}{% endblock %}
{% block meta_desc %}{{ product.get_meta_desc }}{% endblock %}
{% block meta_keyw %}{{ product.get_meta_keyw }}{% endblock %}

{% block style_css %}
	{% if product.category.use_home4 %}<link rel="stylesheet" href="{% static 'css/style-pink.css' %}">
	{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block header_logo %}
	{% if product.category.use_home4 %}<img src="{% static 'images/pink/logo.png' %}" alt="Alazone" width="238" height="76">
	{% else %}{{ block.super }}{% endif %}
{% endblock %}

{% block content %}
	<section id="content">
		<div id="breadcrumb-container">
			<div class="container">
				<ul class="breadcrumb">
					<li><a href="{% url 'index' %}">Главная</a></li>
					<li><a href="{% url 'shop:home' %}">Продукция</a></li>
					{% for cat in product.category.get_ancestors %}
					  <li><a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a></li>
					{% endfor %}
					<li><a href="{{ product.category.get_absolute_url }}">{{ product.category.title }}</a></li>
					<li class="active">{{ product.title }}</li>
				</ul>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12 clearfix">
							<div id="product-image-carousel-container">
								<ul id="product-carousel" class="celastislide-list">
									{% for image in product.images.all %}
										<li{% if forloop.first %} class="active-slide"{% endif %}><a data-rel='prettyPhoto[product]' href="{{ image.image.url }}" data-image="{% thumbnail image.image '800' as img %}{{ img.url }}{% endthumbnail %}" data-zoom-image="{{ image.image.url }}" class="product-gallery-item"><img src="{% thumbnail image.image '122' as img %}{{ img.url }}{% endthumbnail %}" alt="{{ image.title|default:product.title }}"></a></li>
									{% endfor %}
								</ul>
							</div>
							<div id="product-image-container">
								<figure>
									{% if product.is_new %}<span class="new-rect">New</span>{% endif %}
									{% if product.get_discount %}<span class="discount-rect">-{{ product.get_discount }}%</span>{% endif %}
									{% thumbnail product.get_cover.image '800' as cover %}
										<img src="{{ cover.url }}" data-zoom-image="{{ product.get_cover.image.url }}" alt="{{ product.get_cover.title|default:product.title }}" id="product-image" style="width: {{ thumb.width }}; height: {{ thumb.height }}">
									{% endthumbnail %}
									<figcaption class="item-price-container">
										{% if product.new_price %}
											<span class="old-price">{{ product.show_price }}</span>
											<span class="item-price">{{ product.show_new_price }}</span>
										{% else %}
											<span class="item-price">{{ product.show_price }}</span>
										{% endif %}
									</figcaption>
								</figure>
							</div>
						</div>

						<div class="col-md-6 col-sm-12 col-xs-12 product">
							<div class="lg-margin visible-sm visible-xs"></div>
							<h1 class="product-name" style="margin-bottom: 10px;">{{ product.title }}</h1>
							{% if request.user.id == product.seller_id %}
								<a href="{{ product.get_profile_product_url }}">редактировать</a>
							{% endif %}
							<h6><a href="{{ product.seller.get_seller_url }}">{{ product.seller.company_name }}</a></h6>
							<div class="ratings-container">
								<div class="ratings separator">
									<div class="ratings-result" data-result="{{ product.reviews_average }}"></div>
								</div>
								<span class="ratings-amount separator">
									отзывов: {{ product.reviews.count }}
								</span>
								{% if request.user.profile_type == 'human' %}
									<span class="separator">|</span>
									<a href="#review" class="rate-this" onclick="$('#reviews_tab_opener').click()">Добавить отзыв</a>
								{% endif %}
							</div>
							<ul class="product-list">
								<li><span>Количество:</span>{{ product.quantity|default:"нет в наличии" }}</li>
								<li><span>Код товара:</span>{{ product.id }}</li>
								{# <li><span>Производитель:</span>{{ product.brand }}</li> #}
								{% for attr in product.show_attrs %}
									{{ attr|safe }}
								{% endfor %}
							</ul>
							<hr>
							{% if product.colors.count %}
								<div class="product-color-filter-container">
									<span>Выберите цвет:</span>
									<div class="xs-margin"></div>
									<ul class="filter-color-list clearfix">
										{% for color in product.colors.all %}
											<li><a href="javascript:void(0);" title="{{ color.title }}" data-color-id="{{ color.id }}" data-bgcolor="{{ color.hex_value }}" class="filter-color-box color-selector-color"></a></li>
										{% endfor %}
									</ul>
								</div>
								<hr>
							{% endif %}
							<div class="product-add clearfix">
								<div class="custom-quantity-input">
									<input type="text" name="quantity" value="1">
									<a href="javascript:void(0);" onclick="return false;" class="quantity-btn quantity-input-up product"><i class="fa fa-angle-up"></i></a>
									<a href="javascript:void(0);" onclick="return false;" class="quantity-btn quantity-input-down product"><i class="fa fa-angle-down"></i></a>
								</div>
								<button class="btn btn-custom-2 add-to-basket" data-referrer="product-page"{% if not product.quantity %} disabled="disabled"{% endif %}data-id="{{ product.id }}" data-quantity="1" data-color-id="0">ДОБАВИТЬ В КОРЗИНУ</button>
							</div>
							<div class="md-margin"></div>
							<div class="product-extra clearfix">
								<div class="product-extra-box-container clearfix">
									<div class="item-action-inner">
										<a href="#" data-add-url="{% url 'profile:add-to-favorites' %}" data-id="{{ product.id }}" class="icon-button icon-like add_to{% if product in request.user.favorites.all %} already_added no-pe{% elif not request.user.is_active %} disabled{% endif %}" data-disabled-message="Зарегистрируйтесь, чтобы добавлять товары в список желаний." title="Добавить в список желаний">Добавить в список желаний</a>
										<a href="#" data-add-url="{% url 'profile:add-to-compare' %}" data-id="{{ product.id }}" class="icon-button icon-compare add_to add_to_compare{% if product.id in compared_ids %} already_added no-pe{% endif %}" title="Добавить к сравнению">Добавить к сравнению</a>
									</div>
								</div>
								<div class="md-margin visible-xs"></div>
								<div class="share-button-group">
									<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
									<a class="addthis_button_vk"></a>
									<a class="addthis_button_facebook"></a>
									<a class="addthis_button_twitter"></a>
									<a class="addthis_button_googleplus"></a>
									<a class="addthis_button_mymailru"></a>
									<a class="addthis_button_odnoklassniki_ru"></a>
									<a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
									</div>
									<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
									<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52b2197865ea0183"></script>
								</div>
							</div>
						</div>
					</div>

					<div class="lg-margin2x"></div>

					<div class="row">
						<div class="col-md-9 col-sm-12 col-xs-12">
							<div class="tab-container left product-detail-tab clearfix">
								<ul class="nav-tabs">
									<li class="active"><a href="#overview" data-toggle="tab">Описание</a></li>
									<li><a href="#review" id="reviews_tab_opener" data-toggle="tab">Отзывы</a></li>
									<li><a href="#seller" data-toggle="tab">Продавец</a></li>
								</ul>
								<div class="tab-content clearfix">
									<div class="tab-pane active" id="overview">
										<h3>{{ product.title }}</h3>
										<p>{{ product.description }}</p>
									</div>
									<div class="tab-pane" id="review">
										<h3>Отзывы ({{ product.reviews.count }})</h3>
										<hr/>
										{% for review in product.reviews %}
											<h5>{{ review.name }} <small>({{ review.datetime|date:"d.m.Y H:i" }})</small></h5>
											<p>{{ review.text|linebreaksbr }}</p>
											<div class="ratings-container">
												<div class="ratings separator">
													<div class="ratings-result" data-result="{{ review.rating_percents }}"></div>
												</div>
											</div><br/>
										{% endfor %}
										{% if request.user.profile_type == 'human' %}
											<h4 class="sub-title">Оставить отзыв</h4>
											<div class="row">
												<form action="{% url 'shop:add-review' %}" class="ajax_form reload_after" method="post">
													{% csrf_token %}
													{% if not request.user.is_anonymous %}<input type="hidden" name="profile" value="{{ request.user.id }}">{% endif %}
													<input type="hidden" name="product" value="{{ product.id }}">
													<div class="col-md-12 col-sm-6 col-xs-12">
														<div class="input-group">
															<span class="input-group-addon"><span class="input-icon input-icon-user"></span><span class="input-text">Имя&#42;</span></span>
															<input type="text" name="name" id="review-name" required class="form-control" placeholder="Ваше имя" value="{{ request.user.get_short_name }}">
														</div><!-- End .input-group -->
														<div class="input-group">
															<span class="input-group-addon"><span class="input-icon input-icon-subject"></span><span class="input-text">Оценка&#42;</span></span>
															<select class="form-control" id="review-rating" name="rating">
																<option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
																<option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
																<option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
																<option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
																<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
															</select>
														</div><!-- End .input-group -->
														<div class="input-group textarea-container">
															<span class="input-group-addon"><span class="input-icon input-icon-message"></span><span class="input-text">Текст отзыва&#42;</span></span>
															<textarea name="text" id="review-text" required class="form-control" cols="30" rows="6" placeholder="Ваш отзыв"></textarea>
														</div><!-- End .input-group -->
														<input type="submit" value="ОПУБЛИКОВАТЬ" class="btn btn-custom-2">
													</div><!-- End .col-md-6 -->
												</form>
											</div><!-- End .row -->
										{% endif %}
										</div>
									<div class="tab-pane" id="seller">
										{% with product.seller as s %}
											<h3><a href="{{ s.get_seller_url }}">{{ s.company_name }}</a></h3>
											<span class="input-icon input-icon-address"></span><span>{{ s.country }}, {{ s.region }}, {{ s.city }}</span>
											<br/><br/>
											<div class="ratings-container">
												<div class="ratings separator">
													<div class="ratings-result" data-result="{{ s.reviews_average }}"></div>
												</div>
												<span class="ratings-amount separator">
													отзывов: {{ s.reviews.count|default:0 }}
												</span>
											</div>
										{% endwith %}
									</div>
								</div>
							</div>
							<div class="lg-margin visible-xs"></div>
						</div>
					</div>
					{% include 'catalog/include/product_carousel.html' with title='С этим товаром также покупают' product_set=product.get_also_purchased carousel_class='purchased' %}
					{% include 'catalog/include/product_carousel.html' with title='Другие товары этого продавца' product_set=product.seller_another_products carousel_class='similiar' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block js_slider_revolution %}{% endblock %}
