{% extends "base.html" %}
{% load catalog_tags thumbnail staticfiles %}

{% block meta_title %}{{ seller.company_name }}{% endblock %}
{% block meta_desc %}{{ seller.company_name }}{% endblock %}
{% block meta_keyw %}{{ seller.company_name }}{% endblock %}

{% block content %}
<section id="content">
    <div id="category-header">
        <div class="row">
        <div class="container">
            <div class="col-2">
            <div class="category-image">
                {% if seller.image %}
                    <img src="{{ seller.image.url }}" alt="{{ seller.company_name }}" class="img-responsive">
                {% endif %}
            </div>
            </div>
            <div class="col-2 last">
            <div class="category-title">
                <h2>{{ seller.company_name }}</h2>
                <span class="input-icon input-icon-address"></span><span>{{ seller.country }}, {{ seller.region }}, {{ seller.city }}</span>
                <br/><br/>
                <div class="ratings-container">
                    <div class="ratings separator">
                        <div class="ratings-result" data-result="{{ seller.reviews_average }}"></div>
                    </div>
                    <span class="ratings-amount separator">
                        отзывов: {{ seller.reviews.count|default:0 }}
                    </span>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div id="category-breadcrumb">
        <div class="container">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Главная</a></li>
            <li><a href="{% url 'shop:home' %}">Продукция</a></li>
            {% if not category %}
                <li class="active">{{ seller.company_name }}</li>
            {% else %}
                <li><a href="{{ seller.get_seller_url }}">{{ seller.company_name }}</a></li>
                <li class="active">{{ category.title }}</li>
            {% endif %}
        </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="row">
                <form class="filter_form" method="get" action="{{ request.path }}">
                    <div class="col-md-9 col-sm-8 col-xs-12 main-content product_list">
                        {% include 'catalog/ajax/product_list.html' %}
                    </div>
                    <aside class="col-md-3 col-sm-4 col-xs-12 sidebar">
                        <div class="widget">
                            <div class="panel-group custom-accordion sm-accordion" id="category-filter">
                                {% if category_set|length %}
                                    <div class="panel">
                                        <div class="accordion-header">
                                        <div class="accordion-title"><span>Категория</span></div>
                                        <a class="accordion-btn opened"  data-toggle="collapse" data-target="#category-list-1"></a>
                                        </div>
                                        <div id="category-list-1" class="collapse in">
                                        <div class="panel-body">
                                            <ul class="category-filter-list jscrollpane">
                                                {% for cat, count in category_set %}
                                                    {% if cat == category %}
                                                        <li class="active" style="color: #7bae23;">{{ cat.title }} ({{ count }})</li>
                                                    {% else %}
                                                        <li><a href="{{ seller.get_seller_url }}{{ cat.slug }}/">{{ cat.title }} ({{ count }})</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {# {% include 'include/search_request_form.html' %} #}
                    </aside>
                    <input type="hidden" name="order_by" value="{{ order_by.value }}">
                </form>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/filter.js' %}"></script>
{% endblock %}
